<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AdminUserSearchInputSet">
    <Require
      name="SearchCriteria"
      type="UserSearchCriteria"/>
    <Expose
      widget="globalAddressContainer"/>
    <InputSetRef
      def="GlobalAddressInputSet(new gw.api.address.SearchAddressOwner(SearchCriteria.Contact.Address))"
      id="globalAddressContainer"
      mode="gw.api.address.AddressCountrySettings.getSettings(SearchCriteria.Contact.Address.Country).PCFMode"
      widgets="globalAddressContainer"/>
  </InputSet>
</PCF>