<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ContactSearchResultsLV">
    <ExposeIterator
      flags="CanDeleteContact,abContact"
      valueType="entity.ABContact"
      widget="ContactSearchResultsLV"/>
    <Require
      name="SearchResults"
      type="gw.api.database.IQueryBeanResult&lt;ABContact&gt;"/>
    <Require
      name="CanPotentiallyDelete"
      type="boolean"/>
    <Require
      name="isSelectMode"
      type="boolean"/>
    <Require
      name="pageHelper"
      type="gw.api.contact.ProximitySearchPageHelper"/>
    <Require
      name="searchCriteria"
      type="ABContactSearchCriteria"/>
    <Require
      name="searchSpec"
      type="gw.api.webservice.addressbook.contactapi.ABContactSearchSpecWithoutPaging"/>
    <Variable
      initialValue="pageHelper.getDrivingDirectionsCache()"
      name="directions"
      type="gw.api.contact.DrivingDirectionsCache"/>
    <RowIterator
      canPick="!CanPotentiallyDelete"
      checkBoxVisible="CanPotentiallyDelete or searchCriteria.isProximitySearch()"
      editable="false"
      elementName="abContact"
      hasCheckBoxes="true"
      pickValue="abContact"
      value="SearchResults"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.ABContact&gt;">
      <ToolbarFlag
        condition="perm.ABContact.delete(abContact)"
        name="CanDeleteContact"/>
      <ToolbarFlag
        name="abContact"/>
      <Row>
        <TextCell
          action="ABContactSummaryPage.go(abContact)"
          id="DisplayName"
          label="DisplayKey.get(&quot;Web.ContactSearchResults.DisplayName&quot;)"
          sortBy="abContact"
          sortOrder="1"
          value="abContact.DisplayName"/>
        <TextCell
          id="Address"
          label="DisplayKey.get(&quot;Web.ContactSearchResults.PrimaryAddress.AddressLine1&quot;)"
          sortBy="abContact.PrimaryAddress.AddressLine1"
          value="abContact.PrimaryAddress.AddressLine1DisplayValue"/>
        <TextCell
          id="City"
          label="DisplayKey.get(&quot;Web.ContactSearchResults.PrimaryAddress.City&quot;)"
          sortBy="abContact.PrimaryAddress.City"
          value="abContact.PrimaryAddress.CityDisplayValue"/>
        <TypeKeyCell
          id="State"
          label="gw.api.address.AddressCountrySettings.getSettings(searchCriteria.Address.Country).StateLabel"
          value="abContact.PrimaryAddress.State"
          valueType="typekey.State"/>
        <TextCell
          id="PostalCode"
          label="gw.api.address.AddressCountrySettings.getSettings(searchCriteria.Address.Country).PostalCodeLabel"
          value="abContact.PrimaryAddress.PostalCode"/>
        <TextCell
          enableSort="false"
          id="PrimaryPhone"
          label="DisplayKey.get(&quot;Web.ContactSearchResults.PrimaryPhone&quot;)"
          value="abContact.PrimaryPhoneValue"/>
        <TypeKeyCell
          id="ContactSubtype"
          label="DisplayKey.get(&quot;Web.ContactSearchResults.ContactSubtype&quot;)"
          value="abContact.Subtype"
          valueType="typekey.ABContact"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>