<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="LoginDV">
    <Require
      name="LoginForm"
      type="gw.api.util.LoginForm"/>
    <InputColumn>
      <TextInput
        editable="true"
        focusOnStartEditing="true"
        id="username"
        label="DisplayKey.get(&quot;Web.Login.Username&quot;)"
        value="LoginForm.Username">
      </TextInput>
      <PasswordInput
        editable="true"
        id="password"
        label="DisplayKey.get(&quot;Web.Login.Password&quot;)"
        value="LoginForm.Password"/>
      <InputIterator
        elementName="factor"
        value="LoginForm.AdditionalFactors"
        valueType="gw.api.util.LoginForm.Factor[]">
      <PasswordInput
        id="Factor"
        editable="true"
        label="factor.Label"
        value="factor.Value"/>
      </InputIterator>
      <LoginSubmitButton
        action="LoginForm.login()"
        default="true"
        icon="&quot;sign-in-solid&quot;"
        iconType="gwFontGlyph"
        id="submit"
        value="DisplayKey.get(&quot;Web.Login.LoginBtn&quot;)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>