<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="SearchOnlyInputSet">
    <InputSetRef
      def="SearchLinksInputSet(true, false)"/>
  </InputSet>
</PCF>