<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="DocumentTemplateContextObjectInputSet"
    mode="default">
    <Require
      name="documentApplicationContext"
      type="gw.document.DocumentApplicationContext"/>
    <Require
      name="documentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="dynamicWidgetInfo"
      type="gw.document.DocumentCreationInfo.DynamicWidgetInfo"/>
    <ReferencedWidget
      widget="DocumentCreationScreen"/>
    <RangeInput
      editable="true"
      id="DynamicInput"
      label="dynamicWidgetInfo.DisplayName"
      optionLabel="(VALUE == null ? null : (((typeof VALUE).TypeInfo.getProperty(&quot;DisplayName&quot;) == null) ? (((typeof VALUE).TypeInfo.getProperty(&quot;Name&quot;) == null) ? VALUE : VALUE[&quot;Name&quot;]) : VALUE[&quot;DisplayName&quot;])) as String"
      required="!dynamicWidgetInfo.ShowNoneSelected"
      value="ContextObjectValue"
      valueRange="documentCreationInfo.getPossibleContextObjectValues(dynamicWidgetInfo.Name)"
      valueType="java.lang.Object"
      visible="true">
      <PostOnChange
        onChange="documentCreationInfo.evaluateDependentDynamicWidgets(dynamicWidgetInfo.getName()); documentApplicationContext.DocumentCreationResetState.execute()"
        target="DocumentCreationScreen"/>
    </RangeInput>
    <Code><![CDATA[property get ContextObjectValue(): Object {
  return documentCreationInfo.getContextObjectValue(dynamicWidgetInfo.Name)
}

property set ContextObjectValue(value : Object){
  documentCreationInfo.setContextObjectValue(dynamicWidgetInfo.Name, value)
}]]></Code>
  </InputSet>
</PCF>