<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="DocumentDetailsEditInputSet">
    <Require
      name="documentDetailsApplicationHelper"
      type="gw.document.DocumentDetailsApplicationHelper"/>
    <Variable
      initialValue="documentDetailsApplicationHelper as gw.document.DocumentPropertiesCMHelper"
      name="documentPropertiesCMHelper"
      type="gw.document.DocumentPropertiesCMHelper"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="allEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.AllFieldsEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <Label
      label="DisplayKey.get(&quot;Web.DocumentProperties.Edit&quot;)"
      visible="documentPropertiesCMHelper.AllowFieldsSubset"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="nameEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.DocumentNameEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset and documentPropertiesCMHelper.DocumentNameVisible">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TextInput
      editable="true"
      id="DocumentName"
      label="DisplayKey.get(&quot;Web.DocumentProperties.Name&quot;)"
      required="true"
      available="documentPropertiesCMHelper.DocumentNameEnabled"
      visible="documentPropertiesCMHelper.DocumentNameVisible"
      value="documentPropertiesCMHelper.Name"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="descriptionEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.DescriptionEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TextInput
      editable="true"
      id="Description"
      label="DisplayKey.get(&quot;Web.DocumentProperties.Description&quot;)"
      available="documentPropertiesCMHelper.DescriptionEnabled"
      value="documentPropertiesCMHelper.Description"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="mimeTypeEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.MimeTypeEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset and documentPropertiesCMHelper.MimeTypeVisible">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <RangeInput
      editable="true"
      id="MimeType"
      label="DisplayKey.get(&quot;Web.DocumentProperties.FileType&quot;)"
      optionLabel="Document.getMimeTypeLabel(VALUE)"
      required="true"
      available="documentPropertiesCMHelper.MimeTypeEnabled"
      visible="documentPropertiesCMHelper.MimeTypeVisible"
      value="documentPropertiesCMHelper.MimeType"
      valueRange="gw.document.DocumentsUtilBase.getMimeTypes()"
      valueType="java.lang.String"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="documentPropertiesCMHelper.Language == null"
      id="languageEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.LanguageEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset &amp;&amp; LanguageType.getTypeKeys( false ).Count &gt; 1">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <RangeInput
      editable="documentPropertiesCMHelper.Language == null"
      id="Language"
      label="DisplayKey.get(&quot;Web.DocumentProperties.Language&quot;)"
      available="documentPropertiesCMHelper.LanguageEnabled"
      value="documentPropertiesCMHelper.Language"
      valueRange="LanguageType.getTypeKeys( false )"
      valueType="typekey.LanguageType"
      visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
    <Label
      visible="documentPropertiesCMHelper.AllowFieldsSubset"/>
    <InputDivider/>
    <Label
      visible="documentPropertiesCMHelper.AllowFieldsSubset"></Label>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="authorEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.AuthorEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TextInput
      editable="true"
      id="Author"
      label="DisplayKey.get(&quot;Web.DocumentProperties.Author&quot;)"
      available="documentPropertiesCMHelper.AuthorEnabled"
      value="documentPropertiesCMHelper.Author"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="recipientEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.RecipientEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TextInput
      editable="true"
      id="Recipient"
      label="DisplayKey.get(&quot;Web.DocumentProperties.Recipient&quot;)"
      available="documentPropertiesCMHelper.RecipientEnabled"
      value="documentPropertiesCMHelper.Recipient"/>
    <Label
      visible="documentPropertiesCMHelper.AllowFieldsSubset"/>
    <InputDivider/>
    <Label
      visible="documentPropertiesCMHelper.AllowFieldsSubset"></Label>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="statusEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.StatusEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TypeKeyInput
      editable="true"
      id="Status"
      label="DisplayKey.get(&quot;Web.DocumentProperties.Status&quot;)"
      required="true"
      available="documentPropertiesCMHelper.StatusEnabled"
      value="documentPropertiesCMHelper.Status"
      valueType="typekey.DocumentStatusType"/>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="securityTypeEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.SecurityTypeEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TypeKeyInput
      editable="true"
      id="SecurityType"
      label="DisplayKey.get(&quot;Web.DocumentProperties.SecurityType&quot;)"
      available="documentPropertiesCMHelper.SecurityTypeEnabled"
      value="documentPropertiesCMHelper.SecurityType"
      valueType="typekey.DocumentSecurityType">
      <PostOnChange/>
    </TypeKeyInput>
    <CheckBoxInput
      align="right"
      available="documentPropertiesCMHelper.AllowFieldsSubset"
      editable="true"
      id="typeEnabled"
      suppressEmptyLabel="true"
      value="documentPropertiesCMHelper.TypeEnabled"
      visible="documentPropertiesCMHelper.AllowFieldsSubset">
      <PostOnChange
        target="DocumentDetailsEditInputSet"/>
    </CheckBoxInput>
    <TypeKeyInput
      editable="true"
      id="Type"
      label="DisplayKey.get(&quot;Web.DocumentProperties.DocumentType&quot;)"
      required="true"
      available="documentPropertiesCMHelper.TypeEnabled"
      value="documentPropertiesCMHelper.Type"
      valueType="typekey.DocumentType"/>
  </InputSet>
</PCF>