<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="DocumentDetailsEditDV">
    <Require
      name="documentDetailsApplicationHelper"
      type="gw.document.DocumentDetailsApplicationHelper"/>
    <InputColumn>
      <InputSetRef
        def="DocumentDetailsEditInputSet(documentDetailsApplicationHelper)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>