<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- List View Panel that allows users to edit the properties of a Document (like its name, description, etc) -->
  <ListViewPanel
    editable="true"
    id="DocumentDetailsEditLV">
    <Expose
      name="DocumentDetailsEditLV"
      widget="DocumentDetailsEditLV"/>
    <ExposeIterator
      name="DocumentCreationInfoIterator"
      valueType="gw.document.DocumentCreationInfo"
      widget="DocumentDetailsEditLV"/>
    <Require
      name="DocumentApplicationContext"
      type="gw.document.DocumentApplicationContext"/>
    <Require
      name="DocumentCreationInfos"
      type="java.util.Collection&lt;gw.document.DocumentCreationInfo&gt;"/>
    <Variable
      initialValue="DocumentApplicationContext as gw.document.DocumentCMContext"
      name="documentCMContext"
      type="gw.document.DocumentCMContext"/>
    <RowIterator
      editable="true"
      elementName="DocumentCreationInfo"
      forceRefreshDespiteChangedEntries="true"
      hasCheckBoxes="true"
      toRemove="documentCMContext.removeDocument(DocumentCreationInfo.Document); DocumentCreationInfos.remove(DocumentCreationInfo);"
      pageSize="0"
      type="gw.document.DocumentCreationInfo"
      value="DocumentCreationInfos.toTypedArray()"
      valueType="gw.document.DocumentCreationInfo[]">
      <Variable
        initialValue="DocumentCreationInfo.Document"
        name="document"
        type="entity.Document"/>
      <Row>
        <TextCell
          editable="true"
          id="DocumentName"
          label="DisplayKey.get(&quot;Web.DocumentProperties.Name&quot;)"
          required="true"
          value="document.Name"/>
        <TextCell
          editable="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.DocumentProperties.Description&quot;)"
          value="document.Description"/>
        <RangeCell
          editable="true"
          id="MimeType"
          label="DisplayKey.get(&quot;Web.DocumentProperties.FileType&quot;)"
          optionLabel="gw.document.DocumentsUtilBase.getMimeTypeDescription(VALUE)"
          required="true"
          value="document.MimeType"
          valueRange="gw.document.DocumentsUtilBase.getMimeTypes()"
          valueType="java.lang.String"/>
        <RangeCell
          editable="true"
          id="Language"
          label="DisplayKey.get(&quot;Web.DocumentProperties.Language&quot;)"
          value="document.Language"
          valueRange="LanguageType.getTypeKeys( false )"
          valueType="typekey.LanguageType"
          visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
        <TextCell
          editable="true"
          id="Author"
          label="DisplayKey.get(&quot;Web.DocumentProperties.Author&quot;)"
          value="document.Author"/>
        <TextCell
          editable="true"
          id="Recipient"
          label="DisplayKey.get(&quot;Web.DocumentProperties.Recipient&quot;)"
          value="document.Recipient"/>
        <TypeKeyCell
          editable="true"
          id="Status"
          label="DisplayKey.get(&quot;Web.DocumentProperties.Status&quot;)"
          required="true"
          value="document.Status"
          valueType="typekey.DocumentStatusType"/>
        <TypeKeyCell
          editable="true"
          id="SecurityType"
          label="DisplayKey.get(&quot;Web.DocumentProperties.SecurityType&quot;)"
          value="document.SecurityType"
          valueType="typekey.DocumentSecurityType">
          <PostOnChange/>
        </TypeKeyCell>
        <TypeKeyCell
          editable="true"
          id="Type"
          label="DisplayKey.get(&quot;Web.DocumentProperties.DocumentType&quot;)"
          required="true"
          value="document.Type"
          valueType="typekey.DocumentType"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
