<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="GroupSearchPopup"
    returnType="Group"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.GroupSearch.Title&quot;)">
    <LocationEntryPoint
      signature="GroupSearchPopup()"/>
    <LocationEntryPoint
      signature="GroupSearchPopup(RestrictedGroup : Group)"/>
    <Variable
      name="RestrictedGroup"
      type="Group"/>
    <ScreenRef
      def="GroupSearchPickerScreen(RestrictedGroup)"/>
  </Popup>
</PCF>