<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.User.ViewDataChange"
    id="DataChangePage"
    parent="Admin()"
    title="DisplayKey.get(&quot;Web.Admin.DataChange&quot;)">
    <Screen
      editable="true"
      id="DataChangeScreen">
      <PanelRef
        editable="true">
        <Toolbar>
          <ToolbarFilter
            iterator="dataChangeIterator"
            name="filter">
            <ToolbarFilterOptionGroup
              filters="new gw.api.filters.TypeKeyFilterSet( DataChange.Type.TypeInfo.getProperty(&quot;Status&quot;)).getFilterOptions()"/>
          </ToolbarFilter>
        </Toolbar>
        <ListDetailPanel
          selectionName="dataChange"
          selectionType="DataChange">
          <ListViewPanel>
            <RowIterator
              canPick="false"
              editable="false"
              elementName="dataChangeRow"
              id="dataChangeIterator"
              pageSize="5"
              value="gw.api.database.Query.make(entity.DataChange).select()"
              valueType="gw.api.database.IQueryBeanResult&lt;entity.DataChange&gt;">
              <Row>
                <TextCell
                  id="reference"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.RefField&quot;)"
                  value="dataChangeRow.ExternalReference"/>
                <TextCell
                  id="desc"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.DescLabel&quot;)"
                  value="dataChangeRow.Description"/>
                <TypeKeyCell
                  id="status"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.StatusLabel&quot;)"
                  value="dataChangeRow.Status"
                  valueType="typekey.DataChangeStatus"/>
                <UserCell
                  id="createUser"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.CreateUser&quot;)"
                  value="dataChangeRow.CreateUser"
                  valueType="entity.User"/>
                <DateCell
                  dateFormat="short"
                  id="createDate"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.CreateDate&quot;)"
                  timeFormat="short"
                  value="dataChangeRow.CreateDate"/>
                <UserCell
                  id="execUser"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.ExecuteUser&quot;)"
                  value="dataChangeRow.ExecuteUser"
                  valueType="entity.User"/>
                <DateCell
                  dateFormat="short"
                  id="execDate"
                  label="DisplayKey.get(&quot;Web.Admin.DataChange.ExecutedDate&quot;)"
                  timeFormat="short"
                  value="dataChangeRow.ExecuteDate"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
          <CardViewPanel>
            <Card
              id="details"
              title="dataChange.ExternalReference">
              <PanelRef
                editable="true">
                <Toolbar
                  visible="perm.User.ExecuteDataChange">
                  <ToolbarButton
                    action="dataChange.discardImmediate()"
                    available="dataChange.Status == TC_OPEN"
                    id="DiscardToolbarButton"
                    label="DisplayKey.get(&quot;Web.Admin.DataChange.DiscardButton&quot;)"/>
                  <ToolbarButton
                    action="dataChange.execute()"
                    available="dataChange.Status == TC_OPEN"
                    id="ExecuteToolbarButton"
                    label="DisplayKey.get(&quot;Web.Admin.DataChange.ExecuteButton&quot;)"/>
                </Toolbar>
                <DetailViewPanel>
                  <InputColumn>
                    <Label
                      label="DisplayKey.get(&quot;Web.Admin.DataChange.Gosu&quot;)"/>
                    <TextAreaInput
                      id="gosu"
                      labelAbove="true"
                      numRows="10"
                      value="dataChange.Gosu"/>
                    <Label
                      label="DisplayKey.get(&quot;Web.Admin.DataChange.Result&quot;)"/>
                    <TextAreaInput
                      id="result"
                      labelAbove="true"
                      numRows="30"
                      value="dataChange.Result"/>
                  </InputColumn>
                </DetailViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </ListDetailPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>