<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageHistoryLV">
    <ExposeIterator
      valueType="entity.MessageHistory"
      widget="MessageHistoryLV"/>
    <RowIterator
      checkBoxVisible="true"
      editable="false"
      elementName="currentMessageHistory"
      hasCheckBoxes="true"
      value="allMessages()"
      valueType="gw.api.database.IQueryBeanResult&lt;MessageHistory&gt;">
      <IteratorSort
        sortBy="currentMessageHistory.CreationTime"
        sortOrder="2"/>
      <IteratorSort
        sortBy="currentMessageHistory.Status"
        sortOrder="1"/>
      <Row>
        <TextCell
          id="ID"
          label="DisplayKey.get(&quot;Training.MsgID&quot;)"
          value="currentMessageHistory.ID.toString()"/>
        <DateCell
          dateFormat="short"
          id="CreationTime"
          label="DisplayKey.get(&quot;Training.CreationTime&quot;)"
          timeFormat="short"
          value="currentMessageHistory.CreationTime"/>
        <TextCell
          enableSort="false"
          id="TriggeringEntity"
          label="DisplayKey.get(&quot;Training.TriggeringEntity&quot;)"
          value="getObjectNameFromMessage(currentMessageHistory)"/>
        <TextCell
          id="EventName"
          label="DisplayKey.get(&quot;Training.EventName&quot;)"
          value="currentMessageHistory.EventName"/>
        <TextCell
          id="Destination"
          label="DisplayKey.get(&quot;Training.Destination&quot;)"
          value="currentMessageHistory.DestinationID"
          valueType="java.lang.Integer"/>
        <TextCell
          id="SenderRefID"
          label="DisplayKey.get(&quot;Training.SenderRefID&quot;)"
          value="currentMessageHistory.SenderRefID"/>
        <TypeKeyCell
          id="ErrorDescription"
          label="DisplayKey.get(&quot;Training.ErrorCategory&quot;)"
          value="currentMessageHistory.ErrorCategory"
          valueType="typekey.ErrorCategory"/>
        <TextCell
          enableSort="false"
          id="Status"
          label="DisplayKey.get(&quot;Training.Status&quot;)"
          value="getStatusStringFromStatusInt(currentMessageHistory.Status)"/>
        <TextCell
          id="DuplicateCount"
          label="&quot;Dup. Count&quot;"
          value="currentMessageHistory.DuplicateCount"
          visible="displayDupCountColumn()"
          valueType="java.lang.Integer"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[uses gw.api.database.Relop
uses trainingapp.base.SampleDataUtil
uses trainingapp.demo.gosu.MiscellaneousExamples

function allMessages() : gw.api.database.IQueryBeanResult<entity.MessageHistory> {
  // delete orphan messages in sample data
  SampleDataUtil.deleteOrphanMessages()
  MiscellaneousExamples.waitForXSeconds(1, false)
  var queryObj = gw.api.database.Query.make(MessageHistory)
  return queryObj.select()
}

function getObjectNameFromMessage (aMessage : MessageHistory) : String {
    var typeString = aMessage.MessageRoot.IntrinsicType.toString()
    // In this case, intrinsic type starts with "entity.". The next line strips this off.
    typeString = (gw.api.util.StringUtil.substring(typeString,7,typeString.length))  
    var returnString = typeString + "(" + aMessage.MessageRoot.ID + ")"
    return returnString
}

function getDestinationNameFromID(ID : int) : String {
  switch (ID) {
    case 80:
      return "ABContact AutoSync Broadcast (80)"
    case 65:
      return "email (65)"
    case 13:
      return "Bank Account Verification (13)"
    case 14:
      return "Vendor Recommendation (14)"
    case 15:
      return "Legal Case Report Request (15)"
    case 20:
      return "Safe Ordering Demo (20)"
    case 21:
      return "Message Generator (21)"
    default:
      var returnString = "Student-Defined Destination (" + (ID as java.lang.String).trim() + ")"
      return returnString
  }
}
  
function getStatusStringFromStatusInt(Status : int) : String {
  switch (Status) {
    case 10:
      return "Acknowledged (10)"
    case 11:
      return "Error cleared (11)"
    case 12:
      return "Error retried (12)"
    case 13:
      return "Skipped (13)"
    default:
      return "Unknown" 
  }
}

function displayDupCountColumn() : boolean {
  var queryObj = gw.api.database.Query.make(MessageHistory)
  queryObj.compare(MessageHistory#DuplicateCount, Relop.GreaterThan, 0)
      var result = queryObj.select().Count
      if (result > 0) {
        // found at least one message with a duplicate count, so immediately return true
        return true
      } else {
        // no messages with a duplicate count were found, return false
        return false
      }
    }
// TODO: CurrDev TrainingApp 8.0.2. Ver 7]]></Code>
  </ListViewPanel>
</PCF>