<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WorkflowStatsDV">
    <Require
      name="SearchCriteria"
      type="WFStatsSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="Type"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowStatsSearch.Type&quot;)"
        value="SearchCriteria.Type"
        valueRange="SearchCriteria.AvailableTypes"
        valueType="typekey.Workflow"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="DateFrom"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowStatsSearch.From&quot;)"
        timeFormat="short"
        value="SearchCriteria.DateFrom"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="DateTo"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowStatsSearch.To&quot;)"
        timeFormat="short"
        value="SearchCriteria.DateTo"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>