<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="WorkflowStatsLV">
    <Require
      name="WorkflowStats"
      type="gw.api.database.IQueryBeanResult&lt;WorkflowStepStats&gt;"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="WorkflowStepStats"
      value="WorkflowStats"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.WorkflowStepStats&gt;">
      <Row>
        <TypeKeyCell
          align="left"
          id="WorkflowType"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.Type&quot;)"
          value="WorkflowStepStats.WorkflowType"
          valueType="typekey.Workflow"/>
        <TextCell
          align="left"
          id="StepName"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.StepName&quot;)"
          sortBy="WorkflowStepStats.StepName"
          value="WorkflowStepStats.localizedStepName()"/>
        <TextCell
          align="right"
          id="ExecMin"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ExecMin&quot;)"
          sortBy="WorkflowStepStats.ExecTimeMin"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ExecTimeMin)"/>
        <TextCell
          align="right"
          id="ExecMax"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ExecMax&quot;)"
          sortBy="WorkflowStepStats.execTimeMax"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.execTimeMax)"/>
        <TextCell
          align="right"
          id="ExecMean"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ExecMean&quot;)"
          sortBy="WorkflowStepStats.ExecTimeMean"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ExecTimeMean)"/>
        <TextCell
          align="right"
          id="ExecStdDev"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ExecStdDev&quot;)"
          sortBy="WorkflowStepStats.ExecTimeStdDev"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ExecTimeStdDev)"/>
        <TextCell
          align="right"
          id="ElapsedMin"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ElapsedMin&quot;)"
          sortBy="WorkflowStepStats.ElapsedTimeMin"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ElapsedTimeMin)"/>
        <TextCell
          align="right"
          id="ElapsedMax"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ElapsedMax&quot;)"
          sortBy="WorkflowStepStats.ElapsedTimeMax"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ElapsedTimeMax)"/>
        <TextCell
          align="right"
          id="ElapsedMean"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ElapsedMean&quot;)"
          sortBy="WorkflowStepStats.ElapsedTimeMean"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ElapsedTimeMean)"/>
        <TextCell
          align="right"
          id="ElapsedStdDev"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.ElapsedStdDev&quot;)"
          sortBy="WorkflowStepStats.ElapsedTimeStdDev"
          value="gw.api.web.tools.Duration.shortFormatMillisecs(WorkflowStepStats.ElapsedTimeStdDev)"/>
        <TextCell
          align="right"
          id="Executions"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.Executions&quot;)"
          value="WorkflowStepStats.Executions"
          valueType="java.lang.Integer"/>
        <DateCell
          align="left"
          dateFormat="short"
          id="StartTime"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.StartTime&quot;)"
          sortDirection="descending"
          sortOrder="1"
          timeFormat="short"
          value="WorkflowStepStats.StartTime"/>
        <DateCell
          align="left"
          dateFormat="short"
          id="EndTime"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowStats.EndTime&quot;)"
          timeFormat="short"
          value="WorkflowStepStats.EndTime"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>