<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WorkflowDetailDV">
    <Require
      name="Workflow"
      type="Workflow"/>
    <Variable
      initialValue="Workflow.Activities"
      name="activities"
      recalculateOnRefresh="true"
      type="Activity[]"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail&quot;)"/>
      <TypeKeyInput
        id="Type"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Type&quot;)"
        value="Workflow.Subtype"
        valueType="typekey.Workflow"/>
      <TypeKeyInput
        id="Handler"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Handler&quot;)"
        value="Workflow.Handler"
        valueType="typekey.WorkflowHandler"/>
      <TypeKeyInput
        id="Status"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Status&quot;)"
        value="Workflow.State"
        valueType="typekey.WorkflowState"/>
      <InputSet>
        <TextInput
          action="WorkflowDetail.go(Workflow.Caller)"
          id="Parent"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Parent&quot;)"
          value="Workflow.Caller"
          valueType="entity.Workflow"
          visible="Workflow.Caller != null"/>
        <TextInput
          id="ProcessVersion"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.ProcessVersion&quot;)"
          value="Workflow.ProcessVersion"
          valueType="java.lang.Integer">
          <PostOnChange/>
        </TextInput>
        <TextInput
          id="CurrentStep"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.CurrentStep&quot;)"
          value="Workflow.localizedCurrentStepName()"/>
        <TextInput
          id="PrevStep"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.PreviousStep&quot;)"
          value="Workflow.localizedPreviousStepName()"/>
        <TypeKeyInput
          id="CurrentAction"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.CurrentAction&quot;)"
          value="Workflow.CurrentAction"
          valueType="typekey.WorkflowActionType"/>
        <TypeKeyInput
          id="ActiveState"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.ActiveState&quot;)"
          value="Workflow.ActiveState"
          valueType="typekey.WorkflowActiveState"/>
        <TextInput
          id="Timeouts"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Timeouts&quot;)"
          value="formatArrayOfStrings(Workflow.AvailableTimeouts as String)"/>
        <DateInput
          dateFormat="short"
          id="Timeout"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.TimeoutTime&quot;)"
          timeFormat="long"
          value="Workflow.TimeoutTime"/>
        <TextInput
          id="Triggers"
          label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Triggers&quot;)"
          value="formatArrayOfStrings(Workflow.AvailableTriggers as String)"/>
      </InputSet>
      <ListViewInput
        editable="false"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.WorkItems&quot;)">
        <Toolbar/>
        <ListViewPanel
          id="WorkflowWorkItemsLV">
          <RowIterator
            editable="false"
            elementName="Item"
            value="Workflow.findWorkflowWorkItems()"
            valueType="gw.api.database.IQueryBeanResult&lt;entity.WorkflowWorkItem&gt;">
            <Row>
              <DateCell
                dateFormat="short"
                id="CreationTime"
                label="DisplayKey.get(&quot;Web.Admin.Workflow.WorkItem.CreationTime&quot;)"
                sortDirection="descending"
                sortOrder="1"
                timeFormat="short"
                value="Item.CreationTime"/>
              <DateCell
                dateFormat="short"
                id="LastUndateTime"
                label="DisplayKey.get(&quot;Web.Admin.Workflow.WorkItem.LastUpdate&quot;)"
                timeFormat="short"
                value="Item.LastUpdateTime"/>
              <DateCell
                dateFormat="short"
                enableSort="false"
                id="AvailableAtTime"
                label="DisplayKey.get(&quot;Web.Admin.Workflow.WorkItem.AvailableAt&quot;)"
                timeFormat="short"
                value="Item.AvailableSinceAsDate"/>
              <TypeKeyCell
                id="Status"
                label="DisplayKey.get(&quot;Web.Admin.Workflow.WorkItem.Status&quot;)"
                value="Item.Status"
                valueType="typekey.WorkItemStatusType"/>
              <TextCell
                id="CheckedOutBy"
                label="DisplayKey.get(&quot;Web.Admin.Workflow.WorkItem.CheckedOutBy&quot;)"
                value="Item.CheckedOutBy"/>
              <TextCell
                enableSort="false"
                id="NumRetries"
                label="DisplayKey.get(&quot;Web.Admin.Workflow.WorkItem.NumRetries&quot;)"
                value="Item.NumRetries"
                valueType="java.lang.Integer"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        editable="false"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities&quot;)"
        visible="activities.length &gt; 0">
        <Toolbar/>
        <ListViewPanel
          id="WorkflowActivitiesLV">
          <RowIterator
            editable="false"
            elementName="Activity"
            value="activities"
            valueType="entity.Activity[]">
            <Row>
              <TextCell
                id="Subject"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.Subject&quot;)"
                value="Activity.Subject"/>
              <BooleanRadioCell
                enableSort="false"
                icon="&quot;new&quot;"
                iconType="svgFileName"
                id="NewActivity"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.New&quot;)"
                value="Activity.UpdatedSinceLastViewed"/>
              <BooleanRadioCell
                enableSort="false"
                icon="&quot;escalated&quot;"
                iconType="svgFileName"
                id="Escalated"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.Escalated&quot;)"
                value="Activity.Overdue"/>
              <TypeKeyCell
                id="Status"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.Status&quot;)"
                value="Activity.Status"
                valueType="typekey.ActivityStatus"/>
              <DateCell
                id="TargetDate"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.Due&quot;)"
                value="Activity.TargetDate"/>
              <TypeKeyCell
                id="Priority"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.Priority&quot;)"
                value="Activity.Priority"
                valueType="typekey.Priority"/>
              <TextCell
                id="AssignedUser"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Activities.AssignedTo&quot;)"
                value="Activity.AssignedUser"
                valueType="entity.User"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        editable="false"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowDetail.Log&quot;)">
        <Toolbar/>
        <ListViewPanel
          id="WorkflowLogLV">
          <RowIterator
            editable="false"
            elementName="LogEntry"
            value="Workflow.Log"
            valueType="entity.WorkflowLogEntry[]">
            <Row>
              <TextCell
                id="LogDate"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowLogLV.LogDate&quot;)"
                sortBy="LogEntry.SortOrder"
                sortDirection="descending"
                sortOrder="1"
                value="gw.api.util.StringUtil.formatDate(LogEntry.LogDate, &quot;MM/dd/yyyy HH:mm:ss&quot;)"/>
              <TextCell
                action="WorkflowLogEntryDetail.go(Workflow, LogEntry as WorkflowTextLog)"
                available="LogEntry typeis WorkflowTextLog"
                enableSort="false"
                id="Summary"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowLogLV.Summary&quot;)"
                value="LogEntry.LocalizeMessage"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[
function formatArrayOfStrings(str : String) : String {
         return str.substring(1,str.length - 1)
       }
    ]]></Code>
  </DetailViewPanel>
</PCF>