<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WorkflowsDV">
    <Require
      name="SearchCriteria"
      type="WorkflowSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="Type"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.Type&quot;)"
        value="SearchCriteria.Workflowtype"
        valueRange="SearchCriteria.getAvailableTypes()"
        valueType="typekey.Workflow">
        <PostOnChange/>
      </RangeInput>
      <RangeInput
        editable="true"
        id="Version"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.Version&quot;)"
        value="SearchCriteria.ProcessVersion"
        valueRange="SearchCriteria.getAvailableVersions()"
        valueType="java.lang.Integer"
        visible="SearchCriteria.Workflowtype != null">
        <PostOnChange/>
      </RangeInput>
      <DateInput
        editable="true"
        id="StartDateFrom"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.StartDateFrom&quot;)"
        value="SearchCriteria.StartDateFrom"/>
      <DateInput
        editable="true"
        id="StartDateTo"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.StartDateTo&quot;)"
        value="SearchCriteria.StartDateTo"/>
      <DateInput
        editable="true"
        id="UpdateDateFrom"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.UpdateDateFrom&quot;)"
        value="SearchCriteria.UpdateDateFrom"/>
      <DateInput
        editable="true"
        id="UpdateDateTo"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.UpdateDateTo&quot;)"
        value="SearchCriteria.UpdateDateTo"/>
    </InputColumn>
    <InputColumn>
      <RangeInput
        editable="true"
        id="CurrentStep"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.CurrentStep&quot;)"
        optionLabel="SearchCriteria.localizedStepName(VALUE)"
        value="SearchCriteria.CurrentStep"
        valueRange="SearchCriteria.getAvailableSteps()"
        valueType="java.lang.String"
        visible="SearchCriteria.Workflowtype != null and SearchCriteria.ProcessVersion != null"/>
      <TypeKeyInput
        editable="true"
        id="Handler"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.Handler&quot;)"
        value="SearchCriteria.Handler"
        valueType="typekey.WorkflowHandler"/>
      <TypeKeyInput
        editable="true"
        id="State"
        label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.State&quot;)"
        value="SearchCriteria.State"
        valueType="typekey.WorkflowState"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>