<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InfoBar
    id="ContactInfoBar">
    <Require
      name="contact"
      type="ABContact"/>
    <InfoBarElement
      id="ContactDisplayName"
      label="DisplayKey.get(&quot;Web.ContactInfoBar.ContactDisplayName&quot;)"
      value="contact"/>
  </InfoBar>
</PCF>
