<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuItemSet
    desc="A NewPerson single-menu-item for Person only, without subtypes"
    id="NewPersonOnlyPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="ABContact"/>
    <MenuItem
      action="NewContactPopup.push(entity.ABPerson, parentContact)"
      id="NewPersonOnlyPickerMenuItemSet_NewPersonMenuItem"
      label="DisplayKey.get(&quot;Web.NewContactMenu.NewPerson&quot;)"
      visible="requiredContactType.isAssignableFrom(entity.ABPerson)"/>
  </MenuItemSet>
</PCF>