<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    desc="Provides a reusable panel displaying an ABContact's review summaries in a ListDetailPanel."
    id="ReviewSummaryPanelSet">
    <Require
      name="contact"
      type="ABContact"/>
    <ListDetailPanel
      desc="List of Review Summaries"
      id="ReviewSummaryCardPanel"
      selectionName="selectedSummary"
      selectionType="ReviewSummary">
      <ListViewPanel
        id="ReviewSummaryLV"
        visible="perm.ReviewSummary.list">
        <RowIterator
          editable="true"
          elementName="reviewSummary"
          pageSize="10"
          value="gw.api.contact.ABReviewUtil.getReviewSummaries(contact) as gw.api.database.IQueryBeanResult&lt;ReviewSummary&gt;"
          valueType="gw.api.database.IQueryBeanResult&lt;entity.ReviewSummary&gt;">
          <Row>
            <TextCell
              id="ReviewType"
              label="DisplayKey.get(&quot;Web.Reviews.ReviewType&quot;)"
              value="reviewSummary.Name"/>
            <TextCell
              id="RelatedTo"
              label="DisplayKey.get(&quot;Web.Reviews.RelatedTo&quot;)"
              value="reviewSummary.RelatedTo"/>
            <TextCell
              id="Claim"
              label="DisplayKey.get(&quot;Web.Reviews.Claim&quot;)"
              value="reviewSummary.ClaimNumber"/>
            <TextCell
              id="Score"
              label="DisplayKey.get(&quot;Web.Reviews.ReviewScore&quot;)"
              value="reviewSummary.Score"
              valueType="java.lang.Integer"/>
            <DateCell
              id="LastUpdated"
              label="DisplayKey.get(&quot;Web.Reviews.LastUpdated&quot;)"
              sortOrder="1"
              value="reviewSummary.UpdateTime"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <CardViewPanel>
        <Card
          id="ReviewDetailCard"
          title="DisplayKey.get(&quot;Web.Reviews.Review&quot;)"
          visible="perm.ReviewSummary.view">
          <DetailViewPanel
            id="ReviewSummaryDV">
            <InputColumn>
              <Label
                label="DisplayKey.get(&quot;Web.Reviews.GeneralInformation&quot;)"/>
              <TextInput
                id="ReviewType"
                label="DisplayKey.get(&quot;Web.Reviews.ReviewType&quot;)"
                value="selectedSummary.Name"/>
              <TextInput
                id="ReviewClaim"
                label="DisplayKey.get(&quot;Web.Reviews.Claim&quot;)"
                value="selectedSummary.ClaimNumber"/>
              <TextInput
                id="ReviewRelatedTo"
                label="DisplayKey.get(&quot;Web.Reviews.RelatedTo&quot;)"
                value="selectedSummary.RelatedTo"/>
              <TextInput
                id="ReviewedBy"
                label="DisplayKey.get(&quot;Web.Reviews.ReviewedBy&quot;)"
                value="selectedSummary.ReviewedBy"/>
              <TextInput
                id="ReviewScore"
                label="DisplayKey.get(&quot;Web.Reviews.OverallScore&quot;)"
                value="selectedSummary.Score"
                valueType="java.lang.Integer"/>
              <InputDivider/>
              <Label
                label="DisplayKey.get(&quot;Web.Reviews.ServiceInformation&quot;)"/>
              <TextInput
                id="ReviewContact"
                label="DisplayKey.get(&quot;Web.Reviews.Contact&quot;)"
                value="selectedSummary.ABContact"
                valueType="entity.ABContact"/>
              <TextInput
                editable="true"
                id="TextInput0"
                label="DisplayKey.get(&quot;Web.Reviews.ServicedBy&quot;)"
                value="selectedSummary.Subcontact"/>
              <DateInput
                id="ReviewServiceDate"
                label="DisplayKey.get(&quot;Web.Reviews.ServiceDate&quot;)"
                value="selectedSummary.ServiceDate"/>
              <TypeKeyInput
                id="ReviewServiceType"
                label="DisplayKey.get(&quot;Web.Reviews.ServiceType&quot;)"
                value="selectedSummary.ServiceType"
                valueType="typekey.ReviewServiceType"/>
              <InputDivider/>
              <Label
                label="DisplayKey.get(&quot;Web.Reviews.Comments&quot;)"/>
              <TextAreaInput
                id="ReviewComments"
                label="DisplayKey.get(&quot;Web.Reviews.Comments&quot;)"
                numRows="4"
                value="selectedSummary.Comments"/>
              <InputDivider/>
              <ListViewInput
                label="DisplayKey.get(&quot;Web.Reviews.CategoryScores&quot;)">
                <Toolbar/>
                <ListViewPanel
                  id="CategoryScoresLV">
                  <RowIterator
                    editable="false"
                    elementName="categoryScore"
                    pageSize="0"
                    value="selectedSummary.getSortedCategoryScores()"
                    valueType="entity.ReviewSummaryCategoryScore[]">
                    <Row>
                      <TypeKeyCell
                        enableSort="false"
                        id="Category"
                        label="DisplayKey.get(&quot;Web.Reviews.Category&quot;)"
                        value="categoryScore.ReviewCategory"
                        valueType="typekey.ReviewCategory"/>
                      <TextCell
                        enableSort="false"
                        id="Score"
                        label="DisplayKey.get(&quot;Web.Reviews.Score&quot;)"
                        value="categoryScore.Score"
                        valueType="java.lang.Integer"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </PanelSet>
</PCF>