.gradle/
.idea/
admin/lib
admin/ext
admin/res/rpce
admin/res/wsi/gw
admin/src
bin/
build/
dist/
doc/
gradle/
java-api/
javadoc/
licenses/
logs/
modules/configuration/build/
modules/configuration/doc/
modules/configuration/generated/
modules/configuration/generated_classes/
modules/configuration/plugins/
modules/base.zip
modules/pcf.html
modules/pcf.xsd
modules/scheduler-config.xsd
modules/security-config.xsd
productdesigner/
repository/
soap-api/
solr/
studio/
ThemeApp/
webapps/
java-examples.zip
compiler.log