<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    available="true"
    editable="true"
    id="ProfilerOptionsLV"
    visible="true">
    <Require
      name="profilerConfig"
      type="ProfilerConfig"/>
    <Row
      visible="gw.api.profiler.ProfilerPageHelper.isHiResolutionClockAvailable()">
      <CheckBoxCell
        align="right"
        editable="gw.api.profiler.ProfilerPageHelper.isHiResolutionClockAvailable()"
        id="UseNanoTime"
        value="profilerConfig.HiResClock"/>
      <TextCell
        align="left"
        id="UseNanoTimeText"
        value="DisplayKey.get(&quot;Web.Profiler.HiResolutionClock&quot;)"
        wrap="true"/>
    </Row>
    <Row>
      <CheckBoxCell
        align="right"
        editable="true"
        id="StackTraceTracking"
        value="profilerConfig.StackTraceTracking"/>
      <TextCell
        align="left"
        id="StackTraceTrackingText"
        value="DisplayKey.get(&quot;Web.Profiler.StackTraceTracking&quot;)"
        wrap="true"/>
    </Row>
    <Row
      visible="gw.api.profiler.ProfilerPageHelper.isQueryOptimizerTracingAvailable()">
      <CheckBoxCell
        align="right"
        editable="gw.api.profiler.ProfilerPageHelper.isQueryOptimizerTracingAvailable()"
        id="QueryOptimizerTracing"
        value="profilerConfig.QueryOptimizerTracing"/>
      <TextCell
        align="left"
        id="QueryOptimizerTracingText"
        value="DisplayKey.get(&quot;Web.Profiler.QueryOptimizerTracing&quot;)"
        wrap="true"/>
    </Row>
    <Row
      visible="gw.api.profiler.ProfilerPageHelper.isExtendedQueryTracingAvailable()">
      <CheckBoxCell
        align="right"
        editable="gw.api.profiler.ProfilerPageHelper.isExtendedQueryTracingAvailable()"
        id="ExtendedQueryTracing"
        value="profilerConfig.ExtendedQueryTracing"/>
      <TextCell
        align="left"
        id="ExtendedQueryTracingText"
        value="DisplayKey.get(&quot;Web.Profiler.ExtendedQueryTracing&quot;)"
        wrap="true"/>
    </Row>
    <Row
      visible="gw.api.profiler.ProfilerPageHelper.isDbmsCounterSnapshotAvailable()">
      <CheckBoxCell
        align="right"
        editable="gw.api.profiler.ProfilerPageHelper.isDbmsCounterSnapshotAvailable() "
        id="DiffDbmsCounters"
        value="profilerConfig.DiffDbmsCounters"/>
      <TextCell
        align="left"
        id="DiffDbmsCountersText"
        value="DisplayKey.get(&quot;Web.Profiler.DiffDbmsInstrumentationCounters&quot;)"
        wrap="true"/>
    </Row>
    <Row
      visible="gw.api.profiler.ProfilerPageHelper.isDbmsCounterSnapshotAvailable() and profilerConfig.DiffDbmsCounters">
      <TextCell
        editable="gw.api.profiler.ProfilerPageHelper.isDbmsCounterSnapshotAvailable() and profilerConfig.DiffDbmsCounters"
        id="DbmsCounterThresholdMs"
        value="profilerConfig.DbmsCounterThresholdMs"
        valueType="java.lang.Integer"/>
      <TextCell
        align="left"
        id="DbmsCounterThresholdMsText"
        value="DisplayKey.get(&quot;Web.Profiler.DbmsInstrumentationCaptureThresholdMsPerAction&quot;)"
        wrap="true"/>
    </Row>
  </ListViewPanel>
</PCF>