<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RoleDetailDV">
    <Require
      name="Role"
      type="Role"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.Role&quot;)"/>
      <TextInput
        editable="true"
        id="Name"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.Name&quot;)"
        required="true"
        value="Role.Name"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.Description&quot;)"
        numRows="3"
        value="Role.Description"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            addVisible="perm.RolePrivilege.create"
            iterator="RolePrivilegesLV"
            removeShortcut="E"
            removeVisible="perm.RolePrivilege.delete"/>
        </Toolbar>
        <ListViewPanel
          id="RolePrivilegesLV">
          <RowIterator
            editable="true"
            elementName="RolePrivilege"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            toAdd="Role.addToPrivileges(RolePrivilege)"
            toRemove="Role.removeFromPrivileges(RolePrivilege)"
            value="Role.Privileges"
            valueType="entity.RolePrivilege[]">
            <Row>
              <TypeKeyCell
                editable="perm.RolePrivilege.edit"
                id="Permission"
                label="DisplayKey.get(&quot;Web.Admin.RolePrivileges.Permission&quot;)"
                required="true"
                sortBy="RolePrivilege.Permission"
                sortOrder="1"
                unique="true"
                value="RolePrivilege.Permission"
                valueType="typekey.SystemPermissionType"/>
              <TextCell
                id="Code"
                label="DisplayKey.get(&quot;Web.Admin.RolePrivileges.Code&quot;)"
                value="RolePrivilege.Permission.Code">
                <Reflect
                  triggerIds="Permission"/>
              </TextCell>
              <TextCell
                id="Description"
                label="DisplayKey.get(&quot;Web.Admin.RolePrivileges.Description&quot;)"
                value="RolePrivilege.Permission.Description">
                <Reflect
                  triggerIds="Permission"/>
              </TextCell>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>