<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="RolesLV">
    <ExposeIterator
      flags="Role"
      valueType="entity.Role"
      widget="RolesLV"/>
    <Require
      name="Roles"
      type="gw.api.database.IQueryBeanResult&lt;Role&gt;"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="Role"
      hasCheckBoxes="true"
      value="Roles"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Role&gt;">
      <ToolbarFlag
        name="Role"/>
      <Row>
        <TextCell
          action="RoleDetailPopup.push(Role)"
          align="left"
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.RolesLV.Name&quot;)"
          value="Role.Name"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Description"
          label="DisplayKey.get(&quot;Web.Admin.RolesLV.Description&quot;)"
          value="Role.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>