<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="PrintOptionDV">
    <Require
      name="PrintOptions"
      type="gw.api.print.ListViewPrintOptions"/>
    <InputColumn>
      <Choice
        id="PrintChoice"
        option="&quot;pdf&quot;"
        value="PrintOptions.Choice"
        valueType="java.lang.String">
        <TextInput
          id="DoPrint"
          label="DisplayKey.get(&quot;Web.PrintOptions.Print&quot;)"
          value="&quot;&quot;"/>
      </Choice>
      <Choice
        id="ExportChoice"
        option="&quot;csv&quot;"
        value="PrintOptions.Choice"
        valueType="java.lang.String">
        <TextInput
          id="Export"
          label="DisplayKey.get(&quot;Web.PrintOptions.Export&quot;)"
          value="&quot;&quot;"/>
      </Choice>
      <Choice
        id="CustomExportChoice"
        option="&quot;customCsv&quot;"
        value="PrintOptions.Choice"
        valueType="java.lang.String">
        <TextInput
          id="CustomExport"
          label="DisplayKey.get(&quot;Web.PrintOptions.ExportCustom&quot;)"
          value="&quot;&quot;"/>
      </Choice>
      <ListViewInput
        editable="true"
        labelAbove="true"
        visible="PrintOptions.Choice == &quot;customCsv&quot;">
        <Toolbar/>
        <ListViewPanel
          id="CustomCsvColumnsLV">
          <RowIterator
            editable="true"
            elementName="ListViewColumn"
            pageSize="0"
            value="PrintOptions.ColumnHeaders"
            valueType="gw.api.print.ListViewPrintOptions.ColumnHeaderInfo[]">
            <Row
              editable="true">
              <CheckBoxCell
                editable="true"
                id="Select"
                value="ListViewColumn.Checked">
                <PostOnChange/>
              </CheckBoxCell>
              <TextCell
                enableSort="false"
                id="Name"
                label="DisplayKey.get(&quot;Web.PrintOptions.Column&quot;)"
                value="ListViewColumn.DisplayName"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider
        visible="PrintOptions.Choice != &quot;pdf&quot; and !CharacterSet.getTypeKeys(true).isEmpty()"/>
      <RangeInput
        editable="true"
        id="charsetRI"
        label="DisplayKey.get(&quot;Web.PrintOptions.CharacterEncoding&quot;)"
        required="true"
        sortValueRange="false"
        value="PrintOptions.CharacterEncoding"
        valueRange="CharacterSet.getTypeKeys( true )"
        valueType="typekey.CharacterSet"
        visible="PrintOptions.Choice != &quot;pdf&quot; and !CharacterSet.getTypeKeys(true).isEmpty()"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>