.info {
  color : red;
  background-color: white;
  font-weight: bold;
  width : 450px;
  margin-left : auto;
  margin-right: auto;
  padding: 10px 11px 9px;
  text-align: center;
}

.login-header {
  width: 522px;
  margin: 0 auto;
}

.login-logo {
  background-position: center top;
  margin-top: 152px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../logos/LoginAppLogo.svg);
  position: relative;
  padding-top: 100px;
}