.gw-bizrules-expression {
    color: $gw-app--palette--purple;
}

.gw-bizrules-operator {
    color: $gw-app--palette--green-dark;
}

.gw-bizrules-other-text {
    color: $gw-app--palette--black;
}

.gw-bizrules-error {
    color: $gw-app--palette--red-dark;
}

.gw-bizrules-highlight {
    background-color: $gw-app--palette--yellow;
}