<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="GlobalPhoneInputSet">
    <Require
      name="phoneOwner"
      type="gw.api.phone.PhoneOwner"/>
    <Variable
      initialValue="!(isVisible(phoneOwner, gw.api.phone.PhoneOwnerFieldId.COUNTRY_CODE) || isVisible(phoneOwner, gw.api.phone.PhoneOwnerFieldId.EXTENSION))"
      name="singleInput"
      recalculateOnRefresh="true"
      type="boolean"/>
    <TypeKeyInput
      editable="phoneOwner.isEditable(gw.api.phone.PhoneOwnerFieldId.COUNTRY_CODE)"
      hideIfReadOnly="true"
      id="CountryCode"
      label="DisplayKey.get(&quot;Web.ContactDetail.Phone.MultiField.RegionCode&quot;, phoneOwner.WidgetLabel)"
      required="phoneOwner.isRegionCodeRequired() || phoneOwner.PhoneFields.NationalSubscriberNumber != null"
      value="phoneOwner.PhoneFields.CountryCode"
      valueType="typekey.PhoneCountryCode"
      visible="isVisible(phoneOwner, gw.api.phone.PhoneOwnerFieldId.COUNTRY_CODE)">
      <PostOnChange
        target="GlobalPhoneInputSet"/>
    </TypeKeyInput>
    <TextInput
      editable="phoneOwner.isEditable(gw.api.phone.PhoneOwnerFieldId.NATIONAL_SUBSCRIBER_NUMBER)"
      helpText="DisplayKey.get(&quot;Java.PhoneUtil.Example.ToolTip&quot;, phoneOwner.PhoneFields.CountryCode,gw.api.util.PhoneUtil.getExampleNumberWithExtension(phoneOwner.PhoneFields.CountryCode))"
      hideIfReadOnly="true"
      id="NationalSubscriberNumber"
      label="phoneOwner.getPhoneLabel(singleInput)"
      required="phoneOwner.isRequired(gw.api.phone.PhoneOwnerFieldId.NATIONAL_SUBSCRIBER_NUMBER)"
      validationExpression="phoneOwner.validatePhone()"
      value="phoneOwner.PhoneFields.NationalSubscriberNumber"
      visible="isVisible(phoneOwner, gw.api.phone.PhoneOwnerFieldId.NATIONAL_SUBSCRIBER_NUMBER)">
      <PostOnChange
        onChange="phoneOwner.autoFormatAndCorrect(phoneOwner.PhoneFields.NationalSubscriberNumber, phoneOwner.PhoneFields.CountryCode)"
        target="GlobalPhoneInputSet"/>
    </TextInput>
    <TextInput
      editable="phoneOwner.isEditable(gw.api.phone.PhoneOwnerFieldId.EXTENSION)"
      hideIfReadOnly="true"
      id="Extension"
      label="DisplayKey.get(&quot;Web.ContactDetail.Phone.MultiField.Extension&quot;, phoneOwner.WidgetLabel)"
      required="phoneOwner.isRequired(gw.api.phone.PhoneOwnerFieldId.EXTENSION)"
      validationExpression="gw.api.util.PhoneUtil.isValidExtension(phoneOwner.PhoneFields.Extension) ? null : DisplayKey.get(&quot;Validator.Phone.Extension&quot;, gw.api.util.PhoneUtil.getMaximumExtensionLength())"
      value="phoneOwner.PhoneFields.Extension"
      visible="isVisible(phoneOwner, gw.api.phone.PhoneOwnerFieldId.EXTENSION)">
      <PostOnChange
        onChange="phoneOwner.autoFormatAndCorrect(phoneOwner.PhoneFields.NationalSubscriberNumber, phoneOwner.PhoneFields.CountryCode)"
        target="GlobalPhoneInputSet"/>
    </TextInput>
    <TextInput
      hideIfEditable="true"
      id="PhoneDisplay"
      label="phoneOwner.WidgetLabel"
      value="phoneOwner.format()"
      visible="isVisible(phoneOwner, gw.api.phone.PhoneOwnerFieldId.PHONE_DISPLAY)"/>
    <Code><![CDATA[uses gw.api.phone.PhoneOwner
uses gw.api.phone.PhoneOwnerFieldId

function isVisible(owner: PhoneOwner, field : PhoneOwnerFieldId) : boolean {
  if(CurrentLocation.InEditMode){
    return owner.isFieldVisibleEditMode(field) 
  }else{
    return owner.isFieldVisibleReadOnlyMode(field)
  }
}]]></Code>
  </InputSet>
</PCF>