$gw-app--border-width-px: gw-pxFixed(1) !default;
$gw-app--border-width-thick-px: gw-pxFixed(2) !default;

// Global Spacing
$gw-app--SPACING-rem-XS: gw-remScaled(.2) !default;
$gw-app--SPACING-rem-S: gw-remScaled(.3) !default;
$gw-app--SPACING-rem-M: gw-remScaled(.6) !default;
$gw-app--SPACING-rem-L: gw-remScaled(.9) !default;
$gw-app--SPACING-rem-XL: gw-remScaled(1.2) !default;
$gw-app--SPACING-rem-XXL: gw-remScaled(2.4) !default;