<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UserSearchResultsLV">
    <Require
      name="searchResults"
      type="gw.api.database.IQueryBeanResult&lt;User&gt;"/>
    <Require
      name="EnablePick"
      type="boolean"/>
    <Require
      name="searchCriteria"
      type="UserSearchCriteria"/>
    <Require
      name="EnableCheckbox"
      type="boolean"/>
    <RowIterator
      appendPageInfo="true"
      canPick="EnablePick and (not user.Contact.Obfuscated or perm.System.editobfuscatedusercontact)"
      checkBoxVisible="EnableCheckbox"
      editable="false"
      elementName="user"
      hasCheckBoxes="true"
      pickValue="user"
      value="searchResults"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.User&gt;">
      <ToolbarFlag
        name="User"/>
      <Row>
        <TextCell
          action="UserDetailPopup.push(user)"
          id="DisplayName"
          label="DisplayKey.get(&quot;Web.UserSearchResults.DisplayName&quot;)"
          sortBy="user"
          sortOrder="1"
          value="user.DisplayName"/>
        <TextCell
          id="Username"
          label="DisplayKey.get(&quot;Web.UserSearchResults.Username&quot;)"
          value="user.Credential.UserName"/>
        <TextCell
          enableSort="false"
          id="GroupName"
          label="DisplayKey.get(&quot;Web.UserSearchResults.GroupName&quot;)"
          numEntries="5"
          value="user.AllGroups"
          valueType="java.util.Set&lt;java.lang.Object&gt;"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>