
// Gray
$gw-app--palette--black: #1F1F1F;
$gw-app--palette--offblack: #222222;
$gw-app--palette--gray-5: #545C67;
$gw-app--palette--gray-7: #7b7b7b;
$gw-app--palette--gray-8: #8c8c8c;
$gw-app--palette--gray-9: #969696;
$gw-app--palette--gray-A: #A1A8B4;
$gw-app--palette--gray-B: #BAC0C7;
$gw-app--palette--gray-C: #C8C8C8;
$gw-app--palette--gray-D: #D9DDE1;
$gw-app--palette--gray-E: #E6E6E6;
$gw-app--palette--offwhite: #f6f6f7;
$gw-app--palette--white: #ffffff;

// Blue
$gw-app--palette--blue-hint: #E6F5FB;
$gw-app--palette--blue-highlight: #d6e8ff;
$gw-app--palette--blue-highlight-alt: #b6d6f5;
$gw-app--palette--blue-active: #88CEE8;
$gw-app--palette--blue-light: #5EB5DA;
$gw-app--palette--blue-focus: #00baff;
$gw-app--palette--blue: #26A9E0;
$gw-app--palette--blue-gray: #7086A2;
$gw-app--palette--blue-dark: #5881b6;
$gw-app--palette--blue-dark-accent: #3a4859;

// General Base Colors
$gw-app--palette--yellow: #FFF8D7;
$gw-app--palette--yellow-dark: #dfda63;

$gw-app--palette--green-light: #AFC468;
$gw-app--palette--green: #84b64d;
$gw-app--palette--green-dark: #4D8C6C; //#5D8135

$gw-app--palette--red-light: #DF675A;
$gw-app--palette--red: #db5345;
$gw-app--palette--red-dark: #c81414;

$gw-app--palette--orange-light: #FEF6E9;
$gw-app--palette--orange: #f2a629;
$gw-app--palette--orange-dark: #D2845C;

$gw-app--palette--beige: #FCECD1;
$gw-app--palette--beige-dark: #EBD7B5;

$gw-app--palette--shadow-col: rgba(0, 0, 0, .15);

//New
$gw-theme-green-white-palette--buttons-disabled-bg: #D7DADE;
$gw-theme-green-white-palette--required-star-col: #E37B70;
$gw-theme-green-white-palette--top-nav-bg: #EDEFF1;
$gw-theme-green-white-palette--blue-selected: #3769A8;
$gw-theme-green-white-palette--left-nav-disabled-col: #858F9C; 
$gw-theme-green-white-palette--wizard-border-col: #627996;
$gw-theme-green-white-palette--west-panel-dark-green: #5D8135;

