<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="GlobalPersonNameInputSet"
    mode="default">
    <Require
      name="nameOwner"
      type="gw.api.name.NameOwner"/>
    <Variable
      initialValue="nameOwner.InEditMode = CurrentLocation.InEditMode; return 0 as boolean"
      name="saveEditMode"
      recalculateOnRefresh="true"
      type="boolean"/>
    <TextInput
      id="NameSummary"
      label="DisplayKey.get(&quot;Web.ContactDetail.Name.PersonName&quot;)"
      value="new gw.api.name.NameFormatter().format(nameOwner.PersonName, &quot; &quot;)"
      visible="nameOwner.ShowNameSummary"/>
    <TypeKeyInput
      available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.PREFIX)"
      editable="nameOwner.isEditable(gw.api.name.NameOwnerFieldId.PREFIX)"
      id="Prefix"
      label="DisplayKey.get(&quot;Web.ContactDetail.Name.Prefix&quot;)"
      required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.PREFIX)"
      value="nameOwner.PersonName.Prefix"
      valueType="typekey.NamePrefix"
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.PREFIX)"/>
    <TextInput
      available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
      editable="nameOwner.isEditable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
      id="FirstName"
      label="nameOwner.FirstNameLabel"
      required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
      value="nameOwner.PersonName.FirstName"
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.FIRSTNAME)"/>
    <TextInput
      available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
      editable="nameOwner.isEditable(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
      id="MiddleName"
      label="DisplayKey.get(&quot;Web.ContactDetail.Name.MiddleName&quot;)"
      required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
      value="nameOwner.PersonName.MiddleName"
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.MIDDLENAME)"/>
    <TextInput
      available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.PARTICLE)"
      editable="nameOwner.isEditable(gw.api.name.NameOwnerFieldId.PARTICLE)"
      id="Particle"
      label="DisplayKey.get(&quot;Web.ContactDetail.Name.Particle&quot;)"
      required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.PARTICLE)"
      value="nameOwner.PersonName.Particle"
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.PARTICLE) or (CurrentLocation.InEditMode and nameOwner.PersonName.Particle.HasContent)"/>
    <TextInput
      available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAME)"
      editable="nameOwner.isEditable(gw.api.name.NameOwnerFieldId.LASTNAME)"
      id="LastName"
      label="nameOwner.LastNameLabel"
      required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.LASTNAME)"
      value="nameOwner.PersonName.LastName"
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.LASTNAME)"/>
    <TypeKeyInput
      available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.SUFFIX)"
      editable="nameOwner.isEditable(gw.api.name.NameOwnerFieldId.SUFFIX)"
      id="Suffix"
      label="DisplayKey.get(&quot;Web.ContactDetail.Name.Suffix&quot;)"
      required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.SUFFIX)"
      value="nameOwner.PersonName.Suffix"
      valueType="typekey.NameSuffix"
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.SUFFIX)"/>
  </InputSet>
</PCF>