// Position to other widgets
$gw-app--ChoiceWidget--spacing-widget-top-rem: null !default;
$gw-app--ChoiceWidget--spacing-widget-left-rem: null !default;
$gw-app--ChoiceWidget--spacing-widget-right-rem: null !default;
$gw-app--ChoiceWidget--spacing-widget-bottom-rem: null !default;

// Internal padding
$gw-app--ChoiceWidget--spacing-inner-top-rem: null !default;
$gw-app--ChoiceWidget--spacing-inner-left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--ChoiceWidget--spacing-inner-right-rem: null !default;
$gw-app--ChoiceWidget--spacing-inner-bottom-rem: null !default;

$gw-app--ChoiceWidget--radio-button-right-offset: -$gw-app--SPACING-rem-M !default;