// Position to other widgets
$gw-app--MenuIcon--spacing-widget-top-rem: null !default;
$gw-app--MenuIcon--spacing-widget-left-rem: $gw-app--SPACING-rem-S !default;
$gw-app--MenuIcon--spacing-widget-right-rem: null !default;
$gw-app--MenuIcon--spacing-widget-bottom-rem: null !default;

// Other
$gw-app--MenuIcon--is-small: true !default;