// Position to other widgets
$gw-app--Quickjump--spacing-widget-top-rem: null !default;
$gw-app--Quickjump--spacing-widget-left-rem: $gw-app--SPACING-rem-S !default;
$gw-app--Quickjump--spacing-widget-right-rem: $gw-app--SPACING-rem-S !default;
$gw-app--Quickjump--spacing-widget-bottom-rem: null !default;

// Internal padding
$gw-app--Quickjump--spacing-inner-top-rem: null !default;
$gw-app--Quickjump--spacing-inner-left-rem: null !default;
$gw-app--Quickjump--spacing-inner-right-rem: null !default;
$gw-app--Quickjump--spacing-inner-bottom-rem: null !default;

$gw-app--Quickjump--width-em: gw-emFixed(15) !default;
