// Internal padding
$gw-app--Screen--spacing-inner-top-rem: $gw-app--SPACING-rem-M !default;
$gw-app--Screen--spacing-inner-left-rem: null !default;
$gw-app--Screen--spacing-inner-right-rem: null !default;
$gw-app--Screen--spacing-inner-bottom-rem: gw-remScaled(40/14) !default;
