$gw-app--TreeView--leaf-icon: "circle-solid";
$gw-app--TreeView--leaf-icon-size: gw-emFixed(.5);
$gw-app--TreeView--expanded-icon: "folder-open-solid";
$gw-app--TreeView--collapsed-icon: "folder-solid";
$gw-app--TreeView--expand-cmd-icon: "caret-right-solid";
$gw-app--TreeView--collapse-cmd-icon: "caret-down-solid";
$gw-app--TreeView--cycled-icon: "recycle-solid";

