//See CardViewWidget.scss

// Other
$gw-app--WorkSheetTabBar--button--col: $gw-app--col !default;
$gw-app--WorkSheetTabBar--button--bg: $gw-app--menus--bg !default;
$gw-app--WorkSheetTabBar--icon--col: $gw-app--panels--icon-col !default;

$gw-app--WorkSheetTabBar--button--active--col: $gw-app--menus--hover--bg !default;
$gw-app--WorkSheetTabBar--button--active--bg: null !default;
$gw-app--WorkSheetTabBar--button--active--border: $gw-app--menus--hover--bg !default;
$gw-app--WorkSheetTabBar--button--hover--col: null !default;
$gw-app--WorkSheetTabBar--button--hover--bg: null !default;