<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ABCompanyVendorSpecialtyInputSet"
    mode="default">
    <Require
      name="contact"
      type="ABContact"/>
  </InputSet>
</PCF>
