<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ABCompanyVendorSpecialtyInputSet"
    mode="ABLawFirm">
    <Require
      name="contact"
      type="ABContact"/>
    <TypeKeyInput
      editable="true"
      id="LawFirmSpecialty"
      label="DisplayKey.get(&quot;Web.ContactDetail.LawFirm.LawFirmSpecialty&quot;)"
      value="(contact as ABLawFirm).LawFirmSpecialty"
      valueType="typekey.LegalSpecialty"/>
  </InputSet>
</PCF>