<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ReportsConfigWarningPage"
    parent="Reports()"
    title="DisplayKey.get(&quot;Java.Message.Severity.Warning&quot;)">
    <Screen
      id="ReportsConfigWarningPageScreen">
      <Toolbar/>
      <Verbatim
        label="DisplayKey.get(&quot;Web.Reporting.ServerDownWarning&quot;)"/>
    </Screen>
  </Page>
</PCF>