.gw-IteratorEntryCheckBoxWidget,
.gw-IteratorHeaderCheckBoxWidget {
  @include gw-convertCheckbox();
}

.gw-InputGroupCheckboxValueWidget, .gw-ValueWidget, .gw-editableCheckbox, .gw-CellWidget.gw-impl-cell--CB {
  input[type="checkbox"] {
    @include gw-convertCheckbox();
  }
}