<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ScriptParameterDetailDV">
    <Require
      name="ScriptParameter"
      type="ScriptParameter"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.ScriptParameterDetailDV.ScriptParameter&quot;)"/>
      <TextInput
        id="Name"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParameterDetailDV.Name&quot;)"
        required="true"
        value="ScriptParameter.ParameterName"/>
      <TypeKeyInput
        id="Type"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParameterDetailDV.Type&quot;)"
        required="true"
        value="ScriptParameter.ParameterType"
        valueType="typekey.ScriptParameterType"/>
      <BooleanRadioInput
        align="left"
        editable="true"
        id="BitValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.BitValue"
        visible="ScriptParameter.ParameterType==TC_BIT"/>
      <DateInput
        align="left"
        editable="true"
        id="DatetimeValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.DatetimeValue"
        visible="ScriptParameter.ParameterType==TC_DATETIME"/>
      <TextInput
        align="left"
        editable="true"
        id="DecimalValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.DecimalValue"
        visible="ScriptParameter.ParameterType==TC_DECIMAL"/>
      <TextInput
        align="left"
        editable="true"
        id="MoneyValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.MoneyValue"
        valueType="java.math.BigDecimal"
        visible="ScriptParameter.ParameterType==TC_MONEY"/>
      <TextInput
        align="left"
        editable="true"
        id="NonnegativeintegerValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.NonnegativeintegerValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_NONNEGATIVEINTEGER"/>
      <TextInput
        align="left"
        editable="true"
        id="NonnegativemoneyValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.NonnegativemoneyValue"
        valueType="java.math.BigDecimal"
        visible="ScriptParameter.ParameterType==TC_NONNEGATIVEMONEY"/>
      <TextInput
        align="left"
        editable="true"
        id="RiskValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.RiskValue"
        valueType="java.math.BigDecimal"
        visible="ScriptParameter.ParameterType==TC_RISK"/>
      <TextInput
        align="left"
        editable="true"
        id="PostalCodeValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.PostalCodeValue"
        visible="ScriptParameter.ParameterType==TC_POSTALCODE"/>
      <TextInput
        align="left"
        editable="true"
        id="SpeedValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.SpeedValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_SPEED"/>
      <TextInput
        align="left"
        editable="true"
        id="PhoneValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.PhoneValue"
        visible="ScriptParameter.ParameterType==TC_PHONE"/>
      <TextInput
        align="left"
        editable="true"
        id="YearValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.YearValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_YEAR"/>
      <TextInput
        align="left"
        editable="true"
        id="PercentageValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.PercentageValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_PERCENTAGE"/>
      <TextInput
        align="left"
        editable="true"
        id="PercentagedecValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.PercentagedecValue"
        valueType="java.math.BigDecimal"
        visible="ScriptParameter.ParameterType==TC_PERCENTAGEDEC"/>
      <TextInput
        align="left"
        editable="true"
        id="MonthlyfrequencyValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.MonthlyfrequencyValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_MONTHLYFREQUENCY"/>
      <TextInput
        align="left"
        editable="true"
        id="WeeklyfrequencyValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.WeeklyfrequencyValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_WEEKLYFREQUENCY"/>
      <TextInput
        align="left"
        editable="true"
        id="PositivemoneyValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.PositivemoneyValue"
        valueType="java.math.BigDecimal"
        visible="ScriptParameter.ParameterType==TC_POSITIVEMONEY"/>
      <TextInput
        align="left"
        editable="true"
        id="PositiveintegerValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.PositiveintegerValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_POSITIVEINTEGER"/>
      <TextInput
        align="left"
        editable="true"
        id="VarcharValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.VarcharValue"
        visible="ScriptParameter.ParameterType==TC_VARCHAR"/>
      <GroupInput
        align="left"
        editable="true"
        id="GroupValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.Group"
        visible="ScriptParameter.ParameterType==TC_GROUP"/>
      <UserInput
        align="left"
        editable="true"
        id="UserValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.User"
        valueType="entity.User"
        visible="ScriptParameter.ParameterType==TC_USER"/>
      <TextInput
        align="left"
        editable="true"
        id="IntegerValue"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParametersLV.Value&quot;)"
        value="ScriptParameter.IntegerValue"
        valueType="java.lang.Integer"
        visible="ScriptParameter.ParameterType==TC_INTEGER"/>
      <TextInput
        id="Description"
        label="DisplayKey.get(&quot;Web.Admin.ScriptParameterDetailDV.Description&quot;)"
        required="false"
        value="ScriptParameter.Description"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>