<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ScriptParametersLV">
    <Require
      name="ScriptParameterList"
      type="com.guidewire.pl.system.gosu.entity.ScriptParameterPack[]"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="ScriptParameter"
      value="ScriptParameterList"
      valueType="com.guidewire.pl.system.gosu.entity.ScriptParameterPack[]">
      <ToolbarFlag
        name="ScriptParameter"/>
      <Row>
        <TextCell
          action="ScriptParameterDetail.go(ScriptParameter)"
          actionAvailable="perm.ScriptParameter.edit"
          id="Name"
          label="DisplayKey.get(&quot;LV.Admin.ScriptParameters.Name&quot;)"
          sortOrder="1"
          value="ScriptParameter.Name"/>
        <TextCell
          id="Type"
          label="DisplayKey.get(&quot;LV.Admin.ScriptParameters.Type&quot;)"
          sortOrder="2"
          value="ScriptParameter.FeatureType"
          valueType="gw.lang.reflect.IType"/>
        <TextCell
          enableSort="false"
          id="Value"
          label="DisplayKey.get(&quot;LV.Admin.ScriptParameters.Value&quot;)"
          value="gw.lang.ScriptParameters.getParameterValue(ScriptParameter.Name)"
          valueType="java.lang.Object"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
