<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressOwnerInputSet">
    <Require
      name="addressOwner"
      type="gw.api.address.AbstractAddressOwner"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Expose
      widget="globalAddressContainer"/>
    <InputSetRef
      def="GlobalAddressInputSet(addressOwner)"
      id="globalAddressContainer"
      mode="gw.api.address.AddressCountrySettings.getSettings(addressOwner.SelectedCountry).PCFMode"
      widgets="globalAddressContainer"/>
    <TypeKeyInput
      editable="isEditable"
      id="Address_AddressType"
      label="DisplayKey.get(&quot;Address.Base.AddressType&quot;)"
      required="addressOwner.RequiredFields.contains(gw.api.address.ABAddressOwnerFieldId.ADDRESSTYPE)"
      value="addressOwner.Address.AddressType"
      valueType="typekey.AddressType"
      visible="!addressOwner.HiddenFields.contains(gw.api.address.ABAddressOwnerFieldId.ADDRESSTYPE)"/>
    <TextInput
      editable="isEditable"
      id="Address_Description"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.Description&quot;)"
      required="addressOwner.RequiredFields.contains(gw.api.address.ABAddressOwnerFieldId.DESCRIPTION)"
      value="addressOwner.Address.Description"
      visible="!addressOwner.HiddenFields.contains(gw.api.address.ABAddressOwnerFieldId.DESCRIPTION)"/>
    <DateInput
      dateFormat="short"
      editable="isEditable"
      id="Address_ValidUntil"
      label="DisplayKey.get(&quot;Address.CA.ValidUntil&quot;)"
      required="addressOwner.RequiredFields.contains(gw.api.address.ABAddressOwnerFieldId.VALIDUNTIL)"
      value="addressOwner.Address.ValidUntil"
      visible="!addressOwner.HiddenFields.contains(gw.api.address.ABAddressOwnerFieldId.VALIDUNTIL)"/>
  </InputSet>
</PCF>