<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="GlobalAddressInputSet"
    mode="BigToSmall">
    <Require
      name="addressOwner"
      type="gw.api.address.AddressOwner"/>
    <Variable
      initialValue="gw.api.contact.AddressAutocompleteHandler.createHandler(&quot;PostalCode&quot;,&quot;PostalCode,Country&quot;,true)"
      name="pchandler"
      type="gw.api.contact.AutocompleteHandler"/>
    <ReferencedWidget
      widget="globalAddressContainer"/>
    <Variable
      initialValue="if (addressOwner != null) addressOwner.InEditMode = CurrentLocation.InEditMode; return 0"
      name="saveEditMode"
      recalculateOnRefresh="true"
      type="java.lang.Integer"/>
    <TextInput
      hideIfEditable="true"
      id="AddressSummary"
      label="addressOwner.AddressNameLabel"
      value="new gw.api.address.AddressFormatter().format(addressOwner.AddressDelegate, &quot;\n&quot;)"
      visible="addressOwner.ShowAddressSummary"/>
    <TypeKeyInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.COUNTRY)"
      confirmMessage="DisplayKey.get(&quot;RangeInputAddress.CountryChangeWarning&quot;)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.COUNTRY)"
      id="Country"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.Country&quot;)"
      required="addressOwner.isRequired(gw.api.address.AddressOwnerFieldId.COUNTRY)"
      showConfirmMessage="false"
      value="addressOwner.SelectedCountry"
      valueType="typekey.Country"
      
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.COUNTRY)">
      <PostOnChange
        target="globalAddressContainer"/>
    </TypeKeyInput>
    <AddressAutoFillInput
      action="gw.api.contact.AddressAutocompleteUtil.autofillAddress(addressOwner.AddressDelegate, &quot;PostalCode&quot;)"
      actionAvailable="addressOwner.AutofillIconEnabled"
      autoComplete="pchandler"
      autoCompleteArgIds="PostalCode,Country"
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.POSTALCODE)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.POSTALCODE)"
      id="PostalCode"
      inputConversion="gw.api.address.PostalCodeInputFormatter.convertPostalCode(VALUE, addressOwner.SelectedCountry)"
      inputMask="gw.api.contact.AddressAutocompleteUtil.getInputMask(addressOwner.AddressDelegate, &quot;PostalCode&quot;)"
      label="gw.api.address.AddressCountrySettings.getSettings(addressOwner.SelectedCountry).PostalCodeLabel"
      required="addressOwner.isRequired(gw.api.address.AddressOwnerFieldId.POSTALCODE)"
      tooltip="addressOwner.AutofillIconEnabled ? DisplayKey.get(&quot;AutoFill.Override&quot;) : &quot;&quot;"
      validationExpression="gw.api.contact.AddressAutocompleteUtil.validate(addressOwner.AddressDelegate, &quot;PostalCode&quot;, gw.api.address.AddressCountrySettings.getSettings(addressOwner.SelectedCountry).PostalCodeLabel)"
      value="addressOwner.AddressDelegate.PostalCode"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.POSTALCODE)">
      <PostOnChange
        onChange="if (addressOwner.AutofillEnabled) gw.api.contact.AddressAutocompleteUtil.autofillAddress(addressOwner.AddressDelegate, &quot;PostalCode&quot;, false)"
        target="globalAddressContainer"/>
    </AddressAutoFillInput>
    <RangeInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.STATE)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.STATE)"
      id="State"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.Prefecture&quot;)"
      required="addressOwner.isRequired(gw.api.address.AddressOwnerFieldId.STATE)"
      validationExpression="gw.api.contact.AddressAutocompleteUtil.validate(addressOwner.AddressDelegate, &quot;State&quot;)"
      value="addressOwner.AddressDelegate.State"
      valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(addressOwner.AddressDelegate.Country)"
      valueType="typekey.State"
      
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.STATE)"/>
    <TextInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.CITY)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.CITY)"
      id="City"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.CityPhonetic&quot;)"
      required="addressOwner.isRequired(gw.api.address.AddressOwnerFieldId.CITY)"
      value="addressOwner.AddressDelegate.City"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.CITY)"/>
    <TextInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.CITYKANJI)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.CITYKANJI)"
      id="CityKanji"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.City&quot;)"
      value="addressOwner.AddressDelegate.CityKanji"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.CITYKANJI)"/>
    <TextInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1)"
      id="AddressLine1"
      label="addressOwner.AddressLine1PhoneticLabel"
      required="addressOwner.isRequired(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1)"
      value="addressOwner.AddressDelegate.AddressLine1"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1)"/>
    <TextInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1KANJI)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1KANJI)"
      id="AddressLine1Kanji"
      label="addressOwner.AddressLine1Label"
      value="addressOwner.AddressDelegate.AddressLine1Kanji"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.ADDRESSLINE1KANJI)"/>
    <TextInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2)"
      id="AddressLine2"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.Address2Phonetic&quot;)"
      required="addressOwner.isRequired(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2)"
      value="addressOwner.AddressDelegate.AddressLine2"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2)"/>
    <TextInput
      available="addressOwner.isAvailable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2KANJI)"
      editable="addressOwner.isEditable(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2KANJI)"
      id="AddressLine2Kanji"
      label="DisplayKey.get(&quot;Web.AddressBook.AddressInputSet.Address2&quot;)"
      value="addressOwner.AddressDelegate.AddressLine2Kanji"
      visible="addressOwner.isVisible(gw.api.address.AddressOwnerFieldId.ADDRESSLINE2KANJI)"/>
  </InputSet>
</PCF>