<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="RegionSearchResultsLV"
    stretch="true">
    <ExposeIterator
      flags="Region"
      valueType="entity.Region"
      widget="RegionSearchResultsLV"/>
    <Require
      name="SearchResult"
      type="gw.api.database.IQueryBeanResult&lt;Region&gt;"/>
    <Require
      name="EnablePick"
      type="boolean"/>
    <Require
      name="EnableCheckbox"
      type="boolean"/>
    <RowIterator
      appendPageInfo="true"
      canPick="EnablePick"
      checkBoxVisible="EnableCheckbox"
      editable="true"
      elementName="Region"
      hasCheckBoxes="true"
      value="SearchResult"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Region&gt;">
      <ToolbarFlag
        name="Region"/>
      <Row>
        <TextCell
          action="RegionDetail.go(Region)"
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.RegionDetailDV.Name&quot;)"
          value="Region.Name"
          wrap="false"/>
        <TextCell
          enableSort="false"
          grow="true"
          id="Zones"
          label="DisplayKey.get(&quot;Web.Admin.RegionDetailDV.Zones&quot;)"
          value="Region.Zones"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>