<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    countsAsWork="false"
    id="ClusterComponentsDownloadConfigurePopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.ClusterComponentsDownloadConfigurePopup.Title&quot;)">
    <Variable
      initialValue="1"
      name="maxDaysInHistory"
      type="long"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            id="maxDays"
            label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponentsDownloadConfigurePopup.MaxDaysInHistory&quot;)"
            requestValidationExpression="VALUE &gt;= 0 ? null : DisplayKey.get(&quot;Validator.PositiveInteger&quot;, VALUE)"
            required="true"
            value="maxDaysInHistory"
            valueType="java.lang.Long">
            <PostOnChange/>
          </TextInput>
          <ButtonInput
            action="gw.api.tools.ClusterComponentsData.downloadReport(maxDaysInHistory * 24)"
            align="center"
            download="true"
            id="download"
            value="DisplayKey.get(&quot;Button.Complete.Download&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>