<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClusterComponentsLV">
    <Require
      name="data"
      type="gw.api.tools.ClusterComponentsData"/>
    <Require
      name="components"
      type="List&lt;gw.api.system.cluster.ComponentInfo&gt;"/>
    <Require
      name="navigateToHistoryAvailable"
      type="boolean"/>
    <ExposeIterator
      valueType="gw.api.system.cluster.ComponentInfo"
      widget="Iterator"/>
    <RowIterator
      editable="false"
      elementName="component"
      id="Iterator"
      pageSize="50"
      value="components"
      valueType="java.util.List&lt;gw.api.system.cluster.ComponentInfo&gt;">
      <Row>
        <TextCell
          id="Type"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Type&quot;)"
          value="component.Type.DisplayName"/>
        <TextCell
          action="ClusterComponentHistoryPopup.push(data, component)"
          available="navigateToHistoryAvailable"
          id="Name"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Name&quot;)"
          value="component.Name ?: component.Code"/>
        <TextCell
          id="State"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.State&quot;)"
          value="component.State.getDisplayName(component)"/>
        <DateCell
          dateFormat="short"
          id="StartRequested"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.StartRequested&quot;)"
          timeFormat="medium"
          value="component.StartRequested"/>
        <DateCell
          dateFormat="short"
          id="Started"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Started&quot;)"
          timeFormat="medium"
          value="component.Started"/>
        <TextCell
          id="ServerId"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Owner&quot;)"
          value="component.ServerId"/>
        <DateCell
          dateFormat="short"
          id="LeaseExpiration"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.LeaseExpiration&quot;)"
          timeFormat="medium"
          value="component.LeaseExpiration"/>
        <DateCell
          dateFormat="short"
          id="Stopped"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Stopped&quot;)"
          timeFormat="medium"
          value="component.Stopped"/>
        <LinkCell
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Actions&quot;)">
          <Link
            action="data.completeFailedFailover(component)"
            confirmMessage="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Actions.CompleteFailedFailover.Confirm&quot;)"
            id="CompleteFailedFailover"
            label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Actions.CompleteFailedFailover&quot;)"
            styleClass="miniButton"
            visible="component.State == REQUIRES_MANUAL_INTERVENTION || component.State == RESTART_POSTPONED"/>
        </LinkCell>
        <DateCell
          dateFormat="short"
          id="TerminateRequested"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.TerminateRequested&quot;)"
          timeFormat="medium"
          value="component.TerminateRequested"/>
        <DateCell
          dateFormat="short"
          id="TransferRequested"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.TransferRequested&quot;)"
          timeFormat="medium"
          value="component.TransferRequested"/>
        <TextCell
          id="TransferTarget"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.TransferTarget&quot;)"
          value="component.TransferTarget"/>
        <DateCell
          dateFormat="short"
          id="RetryFailover"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.RetryFailover&quot;)"
          timeFormat="medium"
          value="component.RetryFailover"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>