<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.User.ViewCluster or perm.User.DevAllAccess"
    id="ClusterPages"
    pageLinksRenderer="PageLinksDropdown"
    tabBar="InternalToolsTabBar()"
    title="DisplayKey.get(&quot;Web.InternalTools.ClusterPages.MainMenu&quot;)">
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.ClusterPages.Members&quot;)"
      location="ClusterMembers()"/>
    <LocationRef
      location="ClusterComponents()"/>
  </LocationGroup>
</PCF>