<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="perm.User.ViewCluster or perm.User.DevAllAccess"
    countsAsWork="false"
    id="ClusterMembers"
    parent="ClusterPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers&quot;)">
    <LocationEntryPoint
      signature="ClusterMembers()"/>
    <LocationEntryPoint
      signature="ClusterMembers(Result : String)"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new gw.api.tools.ClusterMembersData()"
      name="ClusterMembersData"
      type="gw.api.tools.ClusterMembersData"/>
    <Variable
      initialValue="gw.api.util.DateUtil.currentDate()"
      name="CurrentDbTime"
      recalculateOnRefresh="true"
      type="java.util.Date"/>
    <Variable
      initialValue="ClusterMembersData.UnusedServerRoles"
      name="UnusedServerRoles"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;String&gt;"/>
    <Screen
      id="ClusterMembersScreen">
      <Toolbar>
        <ToolbarButton
          action="ClusterMembersDownloadConfigurePopup.push()"
          id="DownloadReport"
          label="DisplayKey.get(&quot;Button.Download&quot;)"/>
        <ToolbarButton
          action="UnusedServerRolesPopup.push()"
          id="ShowUnusedRoles"
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.UnusedServerRoles&quot;, UnusedServerRoles.size())"
          visible="not UnusedServerRoles.Empty"/>
      </Toolbar>
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.AppServerInstance&quot;)"/>
        <DetailViewPanel
          id="ClusterMembersDV">
          <InputColumn>
            <TextInput
              id="Host"
              label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.Host&quot;)"
              value="ClusterMembersData.HostName"/>
            <TextInput
              id="ServerId"
              label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.ServerId&quot;)"
              value="ClusterMembersData.ServerId"/>
            <TextInput
              id="Uuid"
              label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.Uuid&quot;)"
              value="ClusterMembersData.Uuid"/>
            <TextInput
              id="ServerRoles"
              label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.ServerRoles&quot;)"
              value="ClusterMembersData.ServerRolesAsString"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <DetailViewPanel
        visible="false">
        <InputColumn/>
      </DetailViewPanel>
      <PanelRef>
        <Verbatim
          label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.ReconnectInfo&quot;)"/>
        <DetailViewPanel>
          <InputColumn>
            <ButtonInput
              action="Result = gw.api.tools.InternalToolsUtil.reconnectToCluster()"
              available="perm.User.EditCluster or perm.User.DevAllAccess"
              id="ClusterReconnect"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.Reconnect&quot;)"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <ListDetailPanel
        selectionName="SelectedServer"
        selectionType="gw.api.tools.ClusteredServer">
        <PanelRef>
          <TitleBar
            title="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.Members&quot;)"/>
          <Toolbar/>
          <ListViewPanel
            id="ClusterMembersLV">
            <RowIterator
              editable="false"
              elementName="Server"
              pageSize="10"
              value="ClusterMembersData.AllServers"
              valueType="java.util.List&lt;gw.api.tools.ClusteredServer&gt;">
              <Row>
                <TextCell
                  id="ServerId"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.ServerId&quot;)"
                  value="Server.ServerId"/>
                <TextCell
                  id="Status"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Status&quot;)"
                  value="Server.StatusLocalized"/>
                <TextCell
                  id="Host"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Host&quot;)"
                  value="Server.LogicalName"/>
                <TextCell
                  action="ClusterMemberUserSessionsPopup.push(Server.ServerId)"
                  actionAvailable="Server.InCluster"
                  id="UserSessions"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.UserSessions&quot;)"
                  value="Server.InCluster ? Server.Member.UserSessions : null"
                  valueType="java.lang.Integer"/>
                <TextCell
                  id="RunLevel"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.RunLevel&quot;)"
                  value="not Server.Stopped ? Server.Member.RunLevel : null"/>
                <TextCell
                  id="Build"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Version&quot;)"
                  value="not Server.Stopped ? Server.Member.Build : null"/>
                <TextCell
                  id="ServerRoles"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.ServerRoles&quot;)"
                  value="not Server.Stopped ? Server.ServerRolesAsString : null"
                  wrap="true"/>
                <DateCell
                  dateFormat="short"
                  id="ServerStarted"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.ServerStarted&quot;)"
                  timeFormat="medium"
                  value="not Server.Stopped ? Server.Member.ServerStarted : null"/>
                <DateCell
                  dateFormat="short"
                  id="ConnectionStarted"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.ConnectonStarted&quot;)"
                  timeFormat="medium"
                  value="not Server.Stopped ? Server.Member.ConnectionStarted : null"/>
                <DateCell
                  dateFormat="short"
                  id="LastUpdate"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.LastUpdate&quot;)"
                  timeFormat="medium"
                  value="not Server.Stopped ? Server.Member.LastUpdateAsDate : null"/>
                <TextCell
                  action="PlannedShutdownStatusPopup.push(Server.ServerId)"
                  actionAvailable="Server.InCluster and Server.Member.PlannedShutdownInitiated != null"
                  id="PlannedShutdown"
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.PlannedShutdown&quot;)"
                  value="Server.PlannedShutdownStatusLocalized"
                  wrap="true"/>
                <LinkCell
                  label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Actions&quot;)">
                  <Link
                    action="ClusterMembersData.nodeFailed(Server.ServerId)"
                    available="not Server.InCluster and not Server.Stopped and (perm.User.EditCluster or perm.User.DevAllAccess)"
                    confirmMessage="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.NodeFailed.Confirmation&quot;, Server.ServerId)"
                    id="NodeFailed"
                    label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.NodeFailed&quot;)"
                    styleClass="miniButton"
                    visible="not Server.InCluster and not Server.Stopped"/>
                  <Link
                    action="PlannedShutdownPopup.push(Server.ServerId)"
                    available="Server.InCluster and Server.Member.PlannedShutdownInitiated == null and (perm.User.EditCluster or perm.User.DevAllAccess)"
                    id="StartPlannedShutdown"
                    label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.StartPlannedShutdown&quot;)"
                    styleClass="miniButton"
                    visible="Server.InCluster and Server.Member.PlannedShutdownInitiated == null"/>
                  <Link
                    action="ClusterMembersData.cancelPlannedShutdown(Server.ServerId)"
                    available="Server.InCluster and Server.Member.PlannedShutdownInitiated != null and (perm.User.EditCluster or perm.User.DevAllAccess)"
                    confirmMessage="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.CancelPlannedShutdown.Confirmation&quot;, Server.ServerId)"
                    id="StopPlannedShutdown"
                    label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.CancelPlannedShutdown&quot;)"
                    styleClass="miniButton"
                    visible="Server.InCluster and Server.Member.PlannedShutdownInitiated != null"/>
                </LinkCell>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Card
            id="ComponentsTab"
            title="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.Components&quot;)">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel
                editable="false"
                id="ComponentsLV">
                <RowIterator
                  editable="false"
                  elementName="Component"
                  pageSize="20"
                  value="gw.api.system.cluster.ClusterStateProvider.instance().getActiveComponents(SelectedServer.ServerId)"
                  valueType="java.util.List&lt;gw.api.system.cluster.ComponentInfo&gt;">
                  <ToolbarFilter
                    id="ComponentTypeFilterId"
                    name="ComponentTypeFilter">
                    <ToolbarFilterOptionGroup
                      filters="gw.api.tools.ClusterComponentFilters.TypeFilters.toTypedArray()"/>
                  </ToolbarFilter>
                  <Row>
                    <TextCell
                      id="Type"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Type&quot;)"
                      value="Component.Type.DisplayName"/>
                    <TextCell
                      id="Name"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Name&quot;)"
                      value="Component.Name ?: Component.Code"/>
                    <DateCell
                      dateFormat="short"
                      id="StartTime"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.Started&quot;)"
                      timeFormat="medium"
                      value="Component.Started"/>
                    <TextCell
                      id="FailoverState"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.State&quot;)"
                      value="Component.State.getDisplayName(Component)"/>
                    <DateCell
                      dateFormat="short"
                      id="RetryFailover"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterComponents.LV.RetryFailover&quot;)"
                      timeFormat="medium"
                      value="Component.RetryFailover"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
          <Card
            id="HistoryTab"
            title="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.History&quot;)">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel
                editable="false"
                id="HistoryLV">
                <RowIterator
                  editable="false"
                  elementName="Run"
                  pageSize="20"
                  value="ClusterMembersData.getHistoryQuery(SelectedServer.ServerId).Processor as gw.api.database.IQueryBeanResult&lt;ClusterMemberData&gt;"
                  valueType="gw.api.database.IQueryBeanResult&lt;entity.ClusterMemberData&gt;">
                  <Row>
                    <TextCell
                      enableSort="false"
                      id="Host"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Host&quot;)"
                      value="Run.LogicalName"/>
                    <TextCell
                      enableSort="false"
                      id="Uuid"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Uuid&quot;)"
                      value="Run.Uuid"/>
                    <TextCell
                      enableSort="false"
                      id="Env"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.Env&quot;)"
                      value="Run.Env"/>
                    <TextCell
                      enableSort="false"
                      id="RunLevel"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.LastRunLevel&quot;)"
                      value="Run.RunLevel"/>
                    <TextCell
                      enableSort="false"
                      id="ServerRoles"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.ServerRoles&quot;)"
                      value="ClusterMembersData.serverRolesToString(Run.ServerRoles)"
                      wrap="true"/>
                    <DateCell
                      dateFormat="short"
                      id="ServerStarted"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.ServerStarted&quot;)"
                      sortDirection="descending"
                      sortOrder="1"
                      timeFormat="medium"
                      value="Run.ServerStarted"/>
                    <DateCell
                      dateFormat="short"
                      enableSort="false"
                      id="LastUpdate"
                      label="DisplayKey.get(&quot;Web.InternalTools.ClusterMembers.MembersLV.ServerStopped&quot;)"
                      timeFormat="medium"
                      value="Run.ConnectionStopped"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>