<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    countsAsWork="false"
    id="PlannedShutdownPopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.PlannedShutdownPopup.Title&quot;)">
    <LocationEntryPoint
      signature="PlannedShutdownPopup(serverId: String)"/>
    <Variable
      name="serverId"
      type="String"/>
    <Screen>
      <DetailViewPanel>
        <Variable
          initialValue="gw.api.util.DateUtil.addHours(gw.api.util.DateUtil.currentDate(), 1)"
          name="ShutdownTime"
          type="java.util.Date"/>
        <Variable
          initialValue="&quot;Web.TabBar.SystemAlertBar.PlannedShutdown.ScaleInMessage&quot;"
          name="ShutdownMessageDisplayKey"
          type="java.lang.String"/>
        <Variable
          name="ShutdownMessage"
          type="java.lang.String"/>
        <Variable
          initialValue="false"
          name="TerminateBatchProcesses"
          type="boolean"/>
        <InputColumn>
          <Choice
            id="ScaleInShutdownChoice"
            option="&quot;Web.TabBar.SystemAlertBar.PlannedShutdown.ScaleInMessage&quot;"
            value="ShutdownMessageDisplayKey"
            valueType="java.lang.String">
            <TextInput
              id="ScaleInShutdown"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.TabBar.SystemAlertBar.PlannedShutdown.ScaleInMessage&quot;)"/>
          </Choice>
          <Choice
            id="RollingUpgradeShutdownChoice"
            option="&quot;Web.TabBar.SystemAlertBar.PlannedShutdown.RollingUpgradeMessage&quot;"
            value="ShutdownMessageDisplayKey"
            valueType="java.lang.String">
            <TextInput
              id="RollingUpgradeShutdown"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.TabBar.SystemAlertBar.PlannedShutdown.RollingUpgradeMessage&quot;)"/>
          </Choice>
          <Choice
            id="CustomMessageChoice"
            option="gw.api.system.server.ShutdownOptions.NON_DISPLAY_KEY_MESSAGE"
            value="ShutdownMessageDisplayKey"
            valueType="java.lang.String">
            <TextInput
              id="CustomMessage"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.TabBar.SystemAlertBar.PlannedShutdown.DV.CustomMessage&quot;)"/>
            <TextInput
              editable="true"
              id="CustomMessageText"
              labelAbove="true"
              required="true"
              value="ShutdownMessage"/>
          </Choice>
          <DateInput
            dateFormat="short"
            editable="true"
            id="ShutdownTime"
            label="DisplayKey.get(&quot;Web.InternalTools.PlannedShutdownPopup.DateTime&quot;)"
            required="true"
            timeFormat="short"
            value="ShutdownTime"/>
          <CheckBoxInput
            editable="true"
            id="TerminateBatchProcesses"
            label="DisplayKey.get(&quot;Web.InternalTools.PlannedShutdownPopup.TerminateBatchProcesses&quot;)"
            required="true"
            value="TerminateBatchProcesses"/>
          <ContentInput>
            <Link
              action="new gw.api.tools.ClusterMembersData().schedulePlannedShutdown(serverId, new gw.api.system.server.ShutdownOptions(ShutdownMessageDisplayKey, ShutdownMessage, ShutdownTime, TerminateBatchProcesses, false)); CurrentLocation.cancel()"
              confirmMessage="DisplayKey.get(&quot;Web.InternalTools.PlannedShutdownPopup.ScheduleShutdown.Confirmation&quot;, serverId)"
              id="ScheduleShutdown"
              label="DisplayKey.get(&quot;Web.InternalTools.PlannedShutdownPopup.ScheduleShutdown&quot;)"
              styleClass="bigButton"/>
          </ContentInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>
