<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.Holiday.view"
    id="Holidays"
    menuLinks="BlankMenuLinks()"
    title="DisplayKey.get(&quot;Web.Admin.Holidays&quot;)">
    <LocationRef
      location="HolidaysPage()"/>
  </LocationGroup>
</PCF>