$gw-font-awesome-5-map: (
    "address-book": "\ea01",
    "address-card": "\ea02",
    "arrow-alt-circle-down": "\ea03",
    "arrow-alt-circle-left": "\ea04",
    "arrow-alt-circle-right": "\ea06",
    "arrow-alt-circle-up": "\ea05",
    "bell-slash": "\ea07",
    "bell": "\ea08",
    "bookmark": "\ea09",
    "building": "\ea0a",
    "calendar-alt": "\ea0b",
    "calendar-check": "\ea0c",
    "calendar-minus": "\ea0d",
    "calendar-plus": "\ea0e",
    "calendar-times": "\ea0f",
    "calendar": "\ea10",
    "caret-square-down": "\ea11",
    "caret-square-left": "\ea12",
    "caret-square-right": "\ea13",
    "caret-square-up": "\ea14",
    "chart-bar": "\ea15",
    "check-circle": "\ea16",
    "check-square": "\ea17",
    "circle": "\ea18",
    "clipboard": "\ea1a",
    "clock": "\ea19",
    "clone": "\ea1b",
    "closed-captioning": "\ea1c",
    "comment-alt": "\ea1d",
    "comment-dots": "\ea1e",
    "comment": "\ea1f",
    "comments": "\ea20",
    "compass": "\ea21",
    "copy": "\ea22",
    "copyright": "\ea23",
    "credit-card": "\ea24",
    "dot-circle": "\ea25",
    "edit": "\ea26",
    "envelope-open": "\ea27",
    "envelope": "\ea28",
    "eye-slash": "\ea2a",
    "eye": "\ea29",
    "file-alt": "\ea2b",
    "file-archive": "\ea2c",
    "file-audio": "\ea2d",
    "file-code": "\ea2e",
    "file-excel": "\ea2f",
    "file-image": "\ea30",
    "file-pdf": "\ea31",
    "file-powerpoint": "\ea32",
    "file-video": "\ea33",
    "file-word": "\ea34",
    "file": "\ea35",
    "flag": "\ea36",
    "folder-open": "\ea37",
    "folder": "\ea38",
    "frown": "\ea39",
    "futbol": "\ea3a",
    "gem": "\ea3b",
    "hand-lizard": "\ea3c",
    "hand-paper": "\ea3d",
    "hand-peace": "\ea3e",
    "hand-point-down": "\ea3f",
    "hand-point-left": "\ea40",
    "hand-point-right": "\ea41",
    "hand-point-up": "\ea42",
    "hand-pointer": "\ea43",
    "hand-rock": "\ea44",
    "hand-scissors": "\ea45",
    "hand-spock": "\ea46",
    "handshake": "\ea47",
    "hdd": "\ea48",
    "heart": "\ea49",
    "hospital": "\ea4a",
    "hourglass": "\ea4b",
    "id-badge": "\ea4c",
    "id-card": "\ea4d",
    "image": "\ea4e",
    "images": "\ea4f",
    "keyboard": "\ea50",
    "lemon": "\ea51",
    "life-ring": "\ea52",
    "lightbulb": "\ea53",
    "list-alt": "\ea54",
    "map": "\ea55",
    "meh": "\ea56",
    "minus-square": "\ea57",
    "money-bill-alt": "\ea58",
    "moon": "\ea59",
    "newspaper": "\ea5a",
    "object-group": "\ea5b",
    "object-ungroup": "\ea5c",
    "paper-plane": "\ea5d",
    "pause-circle": "\ea5e",
    "play-circle": "\ea5f",
    "plus-square": "\ea60",
    "question-circle": "\ea61",
    "registered": "\ea62",
    "save": "\ea63",
    "share-square": "\ea64",
    "smile": "\ea65",
    "snowflake": "\ea66",
    "square": "\ea67",
    "star-half": "\ea68",
    "star": "\ea69",
    "sticky-note": "\ea6a",
    "stop-circle": "\ea6b",
    "sun": "\ea6c",
    "thumbs-down": "\ea6d",
    "thumbs-up": "\ea6e",
    "times-circle": "\ea6f",
    "trash-alt": "\ea70",
    "user-circle": "\ea71",
    "user": "\ea72",
    "window-close": "\ea73",
    "window-maximize": "\ea74",
    "window-minimize": "\ea75",
    "window-restore": "\ea76"
);
$gw-svg-font-map: (
    "Dots_horizontal": "\ea01",
    "Dots_vertical": "\ea02",
    "account": "\ea03",
    "accounts": "\ea04",
    "action_menu": "\ea05",
    "activities": "\ea06",
    "activity_status_activity": "\ea07",
    "activity_status_alert": "\ea08",
    "activity_status_positive": "\ea09",
    "add": "\ea0a",
    "agency_bill": "\ea0b",
    "alert": "\ea0c",
    "approved": "\ea0d",
    "arrow_down": "\ea0e",
    "arrow_up": "\ea0f",
    "audit": "\ea10",
    "audit_schedule": "\ea11",
    "autofill": "\ea13",
    "baggage": "\ea12",
    "billing": "\ea14",
    "biz_rule_import_no": "\ea15",
    "biz_rule_import_yes": "\ea16",
    "blue_square": "\ea17",
    "bulk_invloices": "\ea18",
    "bullet": "\ea19",
    "businessowner": "\ea1a",
    "calculator": "\ea1b",
    "calendar": "\ea1c",
    "calendar_nav": "\ea1d",
    "cancellation": "\ea1e",
    "change_requests": "\ea1f",
    "circle-large": "\ea20",
    "circle-medium": "\ea21",
    "circle-small": "\ea22",
    "circle": "\ea23",
    "circle_checkmark": "\ea24",
    "circle_exclamation_point": "\ea25",
    "circle_minus": "\ea26",
    "circle_x": "\ea27",
    "claims": "\ea28",
    "closed": "\ea29",
    "columns": "\ea2b",
    "commercial_auto": "\ea2a",
    "commercial_building": "\ea2c",
    "commercial_package": "\ea2d",
    "commercial_umbrella": "\ea2e",
    "completed": "\ea2f",
    "conflict": "\ea30",
    "conflict_exists_left": "\ea31",
    "conflict_exists_right": "\ea33",
    "contacts": "\ea32",
    "contents": "\ea34",
    "copy_over": "\ea35",
    "coverage_in_question": "\ea36",
    "delete": "\ea37",
    "delinquency_none": "\ea38",
    "delinquent": "\ea39",
    "direct_bill": "\ea3b",
    "document": "\ea3a",
    "document_confirm": "\ea3c",
    "document_decline": "\ea3d",
    "document_download": "\ea3e",
    "document_not_taken": "\ea3f",
    "document_remove": "\ea40",
    "document_upload": "\ea41",
    "documents_nav": "\ea42",
    "download": "\ea43",
    "driver": "\ea44",
    "duplicate": "\ea45",
    "dwelling": "\ea46",
    "edit": "\ea47",
    "edited_left": "\ea48",
    "edited_right": "\ea49",
    "ellipses-color": "\ea4a",
    "ellipses": "\ea4b",
    "ellipses_color": "\ea4c",
    "employer_liability": "\ea4d",
    "error": "\ea4e",
    "escalated": "\ea4f",
    "exposures": "\ea50",
    "ext_managed_uw_rule": "\ea51",
    "farm": "\ea52",
    "fatality": "\ea53",
    "file_cabinet": "\ea54",
    "financial_transactions": "\ea55",
    "financials": "\ea56",
    "fire": "\ea57",
    "flag": "\ea58",
    "fnol_snapshot": "\ea59",
    "froi_snapshot": "\ea5a",
    "general_liability": "\ea5b",
    "gray_square": "\ea5c",
    "green_bullet": "\ea5d",
    "green_square": "\ea5e",
    "group_by_field": "\ea5f",
    "history": "\ea60",
    "homeowners": "\ea61",
    "html_mime": "\ea62",
    "image_mime": "\ea63",
    "indemnity": "\ea64",
    "info": "\ea65",
    "inforce": "\ea66",
    "injury": "\ea67",
    "inland_marine": "\ea68",
    "insured": "\ea69",
    "issuance": "\ea6b",
    "large_loss": "\ea6a",
    "left_nav_bullet": "\ea6c",
    "list_account": "\ea6d",
    "list_bill": "\ea6e",
    "litigation": "\ea6f",
    "litigation_nav": "\ea70",
    "locations": "\ea71",
    "longtime_customer": "\ea72",
    "loss_details": "\ea73",
    "loss_of_use": "\ea74",
    "magenta_square": "\ea75",
    "medical_details": "\ea76",
    "more": "\ea77",
    "needs_action": "\ea78",
    "new": "\ea79",
    "new_company": "\ea7a",
    "new_person": "\ea7b",
    "new_renewal": "\ea7c",
    "new_window": "\ea7d",
    "non_renewal": "\ea80",
    "non_renewed": "\ea7e",
    "not_inforce": "\ea7f",
    "not_inforce_archived": "\ea81",
    "not_taken": "\ea83",
    "notes": "\ea82",
    "on_track": "\ea84",
    "open": "\ea85",
    "open_locked": "\ea86",
    "orange_square": "\ea87",
    "other_structures": "\ea88",
    "overdue": "\ea89",
    "participants": "\ea8a",
    "parties_involved": "\ea8b",
    "passenger": "\ea8c",
    "past_due": "\ea8d",
    "path_up": "\ea8e",
    "pdf_mime": "\ea8f",
    "pedestrian": "\ea90",
    "pending_assignments": "\ea91",
    "personal_auto": "\ea92",
    "personal_umbrella": "\ea93",
    "plan_of_action": "\ea94",
    "policy": "\ea95",
    "policy_bill": "\ea96",
    "policy_bound": "\ea97",
    "policy_change": "\ea98",
    "policy_contract": "\ea99",
    "policy_contract_nav": "\ea9a",
    "policy_crime": "\ea9b",
    "policy_file": "\ea9c",
    "policy_inforce": "\ea9d",
    "policy_nav": "\ea9e",
    "policy_not_in_force": "\ea9f",
    "policy_not_in_force_archived": "\eaa0",
    "policy_period_expired": "\eaa1",
    "policy_period_future": "\eaa2",
    "policy_transactions": "\eaa3",
    "policy_umbrella": "\eaa4",
    "policy_versions": "\eaa6",
    "ppt_mime": "\eaa8",
    "print": "\eaa5",
    "property_incident": "\eaa7",
    "queues": "\eaa9",
    "quick_jump": "\eaaa",
    "rate_book": "\eaab",
    "rate_table_import_add": "\eaac",
    "rate_table_import_edit": "\eaad",
    "rate_table_import_question": "\eaae",
    "red_bullet": "\eaaf",
    "red_square": "\eab0",
    "refresh": "\eab1",
    "reinstatement": "\eab2",
    "reinsurance": "\eab3",
    "related_accounts": "\eab4",
    "renewal": "\eab5",
    "renewals": "\eab6",
    "rerun": "\eab7",
    "rewrite": "\eab8",
    "rewrite_new_account": "\eab9",
    "risk_analysis": "\eaba",
    "runstatus_executing": "\eabb",
    "runstatus_not_executing": "\eabc",
    "runstatus_prev_executing": "\eabd",
    "runstatus_unknown": "\eabe",
    "seagreen_square": "\eabf",
    "search": "\eac0",
    "service_request": "\eac1",
    "service_request_inbound_message": "\eac2",
    "service_request_outbound_message": "\eac3",
    "service_request_quote": "\eac4",
    "service_request_quoteandservice": "\eac5",
    "services": "\eac6",
    "set_to_midnight": "\eac7",
    "set_to_now": "\eac8",
    "settings": "\eac9",
    "severity_level_1": "\eaca",
    "severity_level_2": "\eacb",
    "severity_level_3": "\eacc",
    "severity_level_4": "\eacd",
    "severity_level_5": "\eace",
    "side_by_side_quoting": "\eacf",
    "siu": "\ead0",
    "sizer": "\ead1",
    "sound_mime": "\ead2",
    "submission": "\ead3",
    "submission_manager": "\ead4",
    "submissions_nav": "\ead5",
    "subrogation": "\ead6",
    "subrogations_nav": "\ead7",
    "summary": "\ead8",
    "sync_in_progress": "\ead9",
    "sync_not_ready": "\eada",
    "sync_ready": "\eadb",
    "table": "\eadc",
    "text_mime": "\eadd",
    "tier1": "\eade",
    "tier2": "\eadf",
    "tier3": "\eae0",
    "tier4": "\eae1",
    "tools": "\eae3",
    "tools_nav": "\eae2",
    "travel": "\eae4",
    "trouble_ticket": "\eae5",
    "trouble_ticket_none": "\eae6",
    "underwriting_files": "\eae7",
    "unsaved_work": "\eae8",
    "upload": "\eae9",
    "vehicle": "\eaea",
    "video_mime": "\eaeb",
    "view": "\eaec",
    "view_detail": "\eaed",
    "warning": "\eaee",
    "water": "\eaef",
    "weighted_workload": "\eaf0",
    "word_mime": "\eaf1",
    "workers_comp": "\eaf2",
    "workplan": "\eaf3",
    "xls_mime": "\eaf4",
    "xml_mime": "\eaf5",
    "yellow_square": "\eaf6"
);
$gw-font-awesome-5-brands-map: (
    "500px": "\ea03",
    "accessible-icon": "\ea01",
    "accusoft": "\ea02",
    "adn": "\ea04",
    "adversal": "\ea05",
    "affiliatetheme": "\ea06",
    "algolia": "\ea07",
    "amazon-pay": "\ea08",
    "amazon": "\ea09",
    "amilia": "\ea0b",
    "android": "\ea0c",
    "angellist": "\ea0a",
    "angrycreative": "\ea0d",
    "angular": "\ea0e",
    "app-store-ios": "\ea0f",
    "app-store": "\ea10",
    "apper": "\ea11",
    "apple-pay": "\ea12",
    "apple": "\ea13",
    "asymmetrik": "\ea14",
    "audible": "\ea15",
    "autoprefixer": "\ea16",
    "avianex": "\ea17",
    "aviato": "\ea18",
    "aws": "\ea19",
    "bandcamp": "\ea1a",
    "behance-square": "\ea1b",
    "behance": "\ea1c",
    "bimobject": "\ea1d",
    "bitbucket": "\ea1e",
    "bitcoin": "\ea20",
    "bity": "\ea1f",
    "black-tie": "\ea21",
    "blackberry": "\ea22",
    "blogger-b": "\ea23",
    "blogger": "\ea24",
    "bluetooth-b": "\ea25",
    "bluetooth": "\ea26",
    "btc": "\ea27",
    "buromobelexperte": "\ea28",
    "buysellads": "\ea29",
    "cc-amazon-pay": "\ea2a",
    "cc-amex": "\ea2b",
    "cc-apple-pay": "\ea2c",
    "cc-diners-club": "\ea2d",
    "cc-discover": "\ea30",
    "cc-jcb": "\ea2e",
    "cc-mastercard": "\ea2f",
    "cc-paypal": "\ea31",
    "cc-stripe": "\ea32",
    "cc-visa": "\ea33",
    "centercode": "\ea34",
    "chrome": "\ea35",
    "cloudscale": "\ea38",
    "cloudsmith": "\ea36",
    "cloudversify": "\ea37",
    "codepen": "\ea39",
    "codiepie": "\ea3a",
    "connectdevelop": "\ea3b",
    "contao": "\ea3c",
    "cpanel": "\ea3d",
    "creative-commons-by": "\ea3e",
    "creative-commons-nc-eu": "\ea3f",
    "creative-commons-nc-jp": "\ea40",
    "creative-commons-nc": "\ea41",
    "creative-commons-nd": "\ea42",
    "creative-commons-pd-alt": "\ea43",
    "creative-commons-pd": "\ea44",
    "creative-commons-remix": "\ea45",
    "creative-commons-sa": "\ea46",
    "creative-commons-sampling-plus": "\ea47",
    "creative-commons-sampling": "\ea48",
    "creative-commons-share": "\ea49",
    "creative-commons": "\ea4a",
    "css3-alt": "\ea4b",
    "css3": "\ea4c",
    "cuttlefish": "\ea4d",
    "d-and-d": "\ea4f",
    "dashcube": "\ea4e",
    "delicious": "\ea50",
    "deploydog": "\ea51",
    "deskpro": "\ea53",
    "deviantart": "\ea52",
    "digg": "\ea54",
    "digital-ocean": "\ea55",
    "discord": "\ea56",
    "discourse": "\ea57",
    "dochub": "\ea58",
    "docker": "\ea59",
    "draft2digital": "\ea5a",
    "dribbble-square": "\ea5b",
    "dribbble": "\ea5c",
    "dropbox": "\ea5d",
    "drupal": "\ea5e",
    "dyalog": "\ea5f",
    "earlybirds": "\ea60",
    "ebay": "\ea61",
    "edge": "\ea62",
    "elementor": "\ea63",
    "ember": "\ea65",
    "empire": "\ea64",
    "envira": "\ea66",
    "erlang": "\ea67",
    "ethereum": "\ea68",
    "etsy": "\ea69",
    "expeditedssl": "\ea6b",
    "facebook-f": "\ea6a",
    "facebook-messenger": "\ea6c",
    "facebook-square": "\ea6d",
    "facebook": "\ea70",
    "firefox": "\ea6e",
    "first-order-alt": "\ea6f",
    "first-order": "\ea71",
    "firstdraft": "\ea73",
    "flickr": "\ea72",
    "flipboard": "\ea74",
    "fly": "\ea75",
    "font-awesome-alt": "\ea76",
    "font-awesome-flag": "\ea78",
    "font-awesome-logo-full": "\ea77",
    "font-awesome": "\ea79",
    "fonticons-fi": "\ea7a",
    "fonticons": "\ea7b",
    "fort-awesome-alt": "\ea7c",
    "fort-awesome": "\ea7d",
    "forumbee": "\ea7e",
    "foursquare": "\ea7f",
    "free-code-camp": "\ea80",
    "freebsd": "\ea81",
    "fulcrum": "\ea82",
    "galactic-republic": "\ea83",
    "galactic-senate": "\ea85",
    "get-pocket": "\ea84",
    "gg-circle": "\ea86",
    "gg": "\ea88",
    "git-square": "\ea87",
    "git": "\ea89",
    "github-alt": "\ea8a",
    "github-square": "\ea8b",
    "github": "\ea8c",
    "gitkraken": "\ea8d",
    "gitlab": "\ea8f",
    "gitter": "\ea90",
    "glide-g": "\ea8e",
    "glide": "\ea91",
    "gofore": "\ea92",
    "goodreads-g": "\ea93",
    "goodreads": "\ea95",
    "google-drive": "\ea94",
    "google-play": "\ea96",
    "google-plus-g": "\ea97",
    "google-plus-square": "\ea98",
    "google-plus": "\ea99",
    "google-wallet": "\ea9a",
    "google": "\ea9b",
    "gratipay": "\ea9c",
    "grav": "\ea9d",
    "gripfire": "\ea9e",
    "grunt": "\ea9f",
    "gulp": "\eaa0",
    "hacker-news-square": "\eaa1",
    "hacker-news": "\eaa3",
    "hips": "\eaa2",
    "hire-a-helper": "\eaa4",
    "hooli": "\eaa5",
    "hotjar": "\eaa6",
    "houzz": "\eaa7",
    "html5": "\eaa8",
    "hubspot": "\eaa9",
    "imdb": "\eaaa",
    "instagram": "\eaab",
    "internet-explorer": "\eaac",
    "ioxhost": "\eaad",
    "itunes-note": "\eaaf",
    "itunes": "\eaae",
    "java": "\eab0",
    "jedi-order": "\eab1",
    "jenkins": "\eab3",
    "joget": "\eab2",
    "joomla": "\eab5",
    "js-square": "\eab6",
    "js": "\eab4",
    "jsfiddle": "\eab7",
    "keybase": "\eab8",
    "keycdn": "\eab9",
    "kickstarter-k": "\eaba",
    "kickstarter": "\eabb",
    "korvue": "\eabc",
    "laravel": "\eabe",
    "lastfm-square": "\eabd",
    "lastfm": "\eabf",
    "leanpub": "\eac0",
    "less": "\eac1",
    "line": "\eac2",
    "linkedin-in": "\eac3",
    "linkedin": "\eac6",
    "linode": "\eac5",
    "linux": "\eac4",
    "lyft": "\eac7",
    "magento": "\eac8",
    "mandalorian": "\eaca",
    "mastodon": "\eac9",
    "maxcdn": "\eacb",
    "medapps": "\eacc",
    "medium-m": "\eacd",
    "medium": "\eace",
    "medrt": "\eacf",
    "meetup": "\ead0",
    "microsoft": "\ead1",
    "mix": "\ead2",
    "mixcloud": "\ead3",
    "mizuni": "\ead4",
    "modx": "\ead5",
    "monero": "\ead6",
    "napster": "\ead7",
    "nintendo-switch": "\ead8",
    "node-js": "\ead9",
    "node": "\eada",
    "npm": "\eadb",
    "ns8": "\eadc",
    "nutritionix": "\eadd",
    "odnoklassniki-square": "\eade",
    "odnoklassniki": "\eadf",
    "old-republic": "\eae0",
    "opencart": "\eae1",
    "openid": "\eae2",
    "opera": "\eae3",
    "optin-monster": "\eae5",
    "osi": "\eae4",
    "page4": "\eae6",
    "pagelines": "\eae7",
    "palfed": "\eae8",
    "patreon": "\eae9",
    "paypal": "\eaea",
    "periscope": "\eaec",
    "phabricator": "\eaed",
    "phoenix-framework": "\eaeb",
    "phoenix-squadron": "\eaee",
    "php": "\eaef",
    "pied-piper-alt": "\eaf0",
    "pied-piper-hat": "\eaf1",
    "pied-piper-pp": "\eaf2",
    "pied-piper": "\eaf3",
    "pinterest-p": "\eaf5",
    "pinterest-square": "\eaf4",
    "pinterest": "\eaf6",
    "playstation": "\eaf7",
    "product-hunt": "\eaf8",
    "pushed": "\eaf9",
    "python": "\eafa",
    "qq": "\eafb",
    "quinscape": "\eafc",
    "quora": "\eafd",
    "r-project": "\eafe",
    "ravelry": "\eaff",
    "react": "\eb00",
    "readme": "\eb01",
    "rebel": "\eb02",
    "red-river": "\eb03",
    "reddit-alien": "\eb04",
    "reddit-square": "\eb05",
    "reddit": "\eb06",
    "rendact": "\eb07",
    "renren": "\eb08",
    "replyd": "\eb09",
    "researchgate": "\eb0a",
    "resolving": "\eb0b",
    "rocketchat": "\eb0c",
    "rockrms": "\eb0d",
    "safari": "\eb0e",
    "sass": "\eb0f",
    "schlix": "\eb10",
    "scribd": "\eb11",
    "searchengin": "\eb12",
    "sellcast": "\eb13",
    "sellsy": "\eb14",
    "servicestack": "\eb15",
    "shirtsinbulk": "\eb16",
    "simplybuilt": "\eb17",
    "sistrix": "\eb18",
    "sith": "\eb19",
    "skyatlas": "\eb1a",
    "skype": "\eb1b",
    "slack-hash": "\eb1c",
    "slack": "\eb1d",
    "slideshare": "\eb1e",
    "snapchat-ghost": "\eb1f",
    "snapchat-square": "\eb20",
    "snapchat": "\eb21",
    "soundcloud": "\eb22",
    "speakap": "\eb23",
    "spotify": "\eb24",
    "stack-exchange": "\eb25",
    "stack-overflow": "\eb26",
    "staylinked": "\eb27",
    "steam-square": "\eb28",
    "steam-symbol": "\eb29",
    "steam": "\eb2a",
    "sticker-mule": "\eb2b",
    "strava": "\eb2c",
    "stripe-s": "\eb2d",
    "stripe": "\eb2e",
    "studiovinari": "\eb2f",
    "stumbleupon-circle": "\eb30",
    "stumbleupon": "\eb31",
    "superpowers": "\eb32",
    "supple": "\eb33",
    "teamspeak": "\eb34",
    "telegram-plane": "\eb35",
    "telegram": "\eb36",
    "tencent-weibo": "\eb37",
    "themeisle": "\eb38",
    "trade-federation": "\eb39",
    "trello": "\eb3a",
    "tripadvisor": "\eb3b",
    "tumblr-square": "\eb3c",
    "tumblr": "\eb3d",
    "twitch": "\eb3e",
    "twitter-square": "\eb3f",
    "twitter": "\eb40",
    "typo3": "\eb41",
    "uber": "\eb42",
    "uikit": "\eb43",
    "uniregistry": "\eb44",
    "untappd": "\eb45",
    "usb": "\eb46",
    "ussunnah": "\eb47",
    "vaadin": "\eb48",
    "viacoin": "\eb49",
    "viadeo-square": "\eb4a",
    "viadeo": "\eb4b",
    "viber": "\eb4c",
    "vimeo-square": "\eb4d",
    "vimeo-v": "\eb4e",
    "vimeo": "\eb4f",
    "vine": "\eb50",
    "vk": "\eb51",
    "vnv": "\eb52",
    "vuejs": "\eb53",
    "weibo": "\eb54",
    "weixin": "\eb55",
    "whatsapp-square": "\eb56",
    "whatsapp": "\eb57",
    "whmcs": "\eb58",
    "wikipedia-w": "\eb59",
    "windows": "\eb5a",
    "wolf-pack-battalion": "\eb5b",
    "wordpress-simple": "\eb5c",
    "wordpress": "\eb5d",
    "wpbeginner": "\eb5e",
    "wpexplorer": "\eb5f",
    "wpforms": "\eb60",
    "xbox": "\eb61",
    "xing-square": "\eb62",
    "xing": "\eb63",
    "y-combinator": "\eb64",
    "yahoo": "\eb65",
    "yandex-international": "\eb66",
    "yandex": "\eb67",
    "yelp": "\eb68",
    "yoast": "\eb69",
    "youtube-square": "\eb6a",
    "youtube": "\eb6b"
);
$gw-font-awesome-5-solid-map: (
    "address-book-solid": "\ea01",
    "address-card-solid": "\ea03",
    "adjust-solid": "\ea02",
    "align-center-solid": "\ea04",
    "align-justify-solid": "\ea05",
    "align-left-solid": "\ea07",
    "align-right-solid": "\ea06",
    "allergies-solid": "\ea08",
    "ambulance-solid": "\ea09",
    "american-sign-language-interpreting-solid": "\ea0a",
    "anchor-solid": "\ea0b",
    "angle-double-down-solid": "\ea0c",
    "angle-double-left-solid": "\ea0d",
    "angle-double-right-solid": "\ea0e",
    "angle-double-up-solid": "\ea10",
    "angle-down-solid": "\ea0f",
    "angle-left-solid": "\ea12",
    "angle-right-solid": "\ea11",
    "angle-up-solid": "\ea13",
    "archive-solid": "\ea15",
    "arrow-alt-circle-down-solid": "\ea14",
    "arrow-alt-circle-left-solid": "\ea16",
    "arrow-alt-circle-right-solid": "\ea18",
    "arrow-alt-circle-up-solid": "\ea17",
    "arrow-circle-down-solid": "\ea19",
    "arrow-circle-left-solid": "\ea1a",
    "arrow-circle-right-solid": "\ea1b",
    "arrow-circle-up-solid": "\ea1c",
    "arrow-down-solid": "\ea1d",
    "arrow-left-solid": "\ea1e",
    "arrow-right-solid": "\ea1f",
    "arrow-up-solid": "\ea20",
    "arrows-alt-h-solid": "\ea21",
    "arrows-alt-v-solid": "\ea22",
    "arrows-alt-solid": "\ea23",
    "assistive-listening-systems-solid": "\ea24",
    "asterisk-solid": "\ea25",
    "at-solid": "\ea26",
    "audio-description-solid": "\ea27",
    "backward-solid": "\ea28",
    "balance-scale-solid": "\ea29",
    "ban-solid": "\ea2b",
    "band-aid-solid": "\ea2a",
    "barcode-solid": "\ea2c",
    "bars-solid": "\ea2d",
    "baseball-ball-solid": "\ea2e",
    "basketball-ball-solid": "\ea2f",
    "bath-solid": "\ea30",
    "battery-empty-solid": "\ea31",
    "battery-full-solid": "\ea32",
    "battery-half-solid": "\ea33",
    "battery-quarter-solid": "\ea35",
    "battery-three-quarters-solid": "\ea34",
    "bed-solid": "\ea36",
    "beer-solid": "\ea37",
    "bell-slash-solid": "\ea38",
    "bell-solid": "\ea39",
    "bicycle-solid": "\ea3a",
    "binoculars-solid": "\ea3c",
    "birthday-cake-solid": "\ea3b",
    "blender-solid": "\ea3d",
    "blind-solid": "\ea3e",
    "bold-solid": "\ea3f",
    "bolt-solid": "\ea40",
    "bomb-solid": "\ea41",
    "book-open-solid": "\ea42",
    "book-solid": "\ea43",
    "bookmark-solid": "\ea44",
    "bowling-ball-solid": "\ea45",
    "box-open-solid": "\ea46",
    "box-solid": "\ea47",
    "boxes-solid": "\ea48",
    "braille-solid": "\ea49",
    "briefcase-medical-solid": "\ea4a",
    "briefcase-solid": "\ea4b",
    "broadcast-tower-solid": "\ea4c",
    "broom-solid": "\ea4d",
    "bug-solid": "\ea4e",
    "building-solid": "\ea4f",
    "bullhorn-solid": "\ea50",
    "bullseye-solid": "\ea51",
    "burn-solid": "\ea52",
    "bus-solid": "\ea53",
    "calculator-solid": "\ea54",
    "calendar-alt-solid": "\ea55",
    "calendar-check-solid": "\ea56",
    "calendar-minus-solid": "\ea57",
    "calendar-plus-solid": "\ea58",
    "calendar-times-solid": "\ea59",
    "calendar-solid": "\ea5a",
    "camera-retro-solid": "\ea5b",
    "camera-solid": "\ea5c",
    "capsules-solid": "\ea5e",
    "car-solid": "\ea5d",
    "caret-down-solid": "\ea5f",
    "caret-left-solid": "\ea60",
    "caret-right-solid": "\ea61",
    "caret-square-down-solid": "\ea62",
    "caret-square-left-solid": "\ea63",
    "caret-square-right-solid": "\ea64",
    "caret-square-up-solid": "\ea65",
    "caret-up-solid": "\ea66",
    "cart-arrow-down-solid": "\ea67",
    "cart-plus-solid": "\ea68",
    "certificate-solid": "\ea69",
    "chalkboard-teacher-solid": "\ea6a",
    "chalkboard-solid": "\ea6b",
    "chart-area-solid": "\ea6c",
    "chart-bar-solid": "\ea6d",
    "chart-line-solid": "\ea6e",
    "chart-pie-solid": "\ea6f",
    "check-circle-solid": "\ea70",
    "check-square-solid": "\ea71",
    "check-solid": "\ea72",
    "chess-bishop-solid": "\ea73",
    "chess-board-solid": "\ea74",
    "chess-king-solid": "\ea75",
    "chess-knight-solid": "\ea76",
    "chess-pawn-solid": "\ea77",
    "chess-queen-solid": "\ea78",
    "chess-rook-solid": "\ea79",
    "chess-solid": "\ea7a",
    "chevron-circle-down-solid": "\ea7b",
    "chevron-circle-left-solid": "\ea7c",
    "chevron-circle-right-solid": "\ea7e",
    "chevron-circle-up-solid": "\ea7d",
    "chevron-down-solid": "\ea7f",
    "chevron-left-solid": "\ea80",
    "chevron-right-solid": "\ea81",
    "chevron-up-solid": "\ea83",
    "child-solid": "\ea82",
    "church-solid": "\ea85",
    "circle-notch-solid": "\ea84",
    "circle-solid": "\ea86",
    "clipboard-check-solid": "\ea87",
    "clipboard-list-solid": "\ea88",
    "clipboard-solid": "\ea89",
    "clock-solid": "\ea8b",
    "clone-solid": "\ea8c",
    "closed-captioning-solid": "\ea8a",
    "cloud-download-alt-solid": "\ea8d",
    "cloud-upload-alt-solid": "\ea8e",
    "cloud-solid": "\ea8f",
    "code-branch-solid": "\ea90",
    "code-solid": "\ea91",
    "coffee-solid": "\ea92",
    "cog-solid": "\ea93",
    "cogs-solid": "\ea94",
    "coins-solid": "\ea95",
    "columns-solid": "\ea96",
    "comment-alt-solid": "\ea97",
    "comment-dots-solid": "\ea98",
    "comment-slash-solid": "\ea99",
    "comment-solid": "\ea9a",
    "comments-solid": "\ea9b",
    "compact-disc-solid": "\ea9c",
    "compass-solid": "\ea9d",
    "compress-solid": "\ea9e",
    "copy-solid": "\ea9f",
    "copyright-solid": "\eaa0",
    "couch-solid": "\eaa1",
    "credit-card-solid": "\eaa2",
    "crop-solid": "\eaa3",
    "crosshairs-solid": "\eaa4",
    "crow-solid": "\eaa5",
    "crown-solid": "\eaa6",
    "cube-solid": "\eaa7",
    "cubes-solid": "\eaa8",
    "cut-solid": "\eaa9",
    "database-solid": "\eaaa",
    "deaf-solid": "\eaab",
    "desktop-solid": "\eaac",
    "diagnoses-solid": "\eaad",
    "dice-five-solid": "\eaae",
    "dice-four-solid": "\eaaf",
    "dice-one-solid": "\eab0",
    "dice-six-solid": "\eab3",
    "dice-three-solid": "\eab2",
    "dice-two-solid": "\eab1",
    "dice-solid": "\eab4",
    "divide-solid": "\eab5",
    "dna-solid": "\eab6",
    "dollar-sign-solid": "\eab7",
    "dolly-flatbed-solid": "\eab8",
    "dolly-solid": "\eab9",
    "donate-solid": "\eaba",
    "door-closed-solid": "\eabb",
    "door-open-solid": "\eabc",
    "dot-circle-solid": "\eabd",
    "dove-solid": "\eabe",
    "download-solid": "\eabf",
    "dumbbell-solid": "\eac0",
    "edit-solid": "\eac1",
    "eject-solid": "\eac2",
    "ellipsis-h-solid": "\eac3",
    "ellipsis-v-solid": "\eac4",
    "envelope-open-solid": "\eac5",
    "envelope-square-solid": "\eac6",
    "envelope-solid": "\eac7",
    "equals-solid": "\eac8",
    "eraser-solid": "\eac9",
    "euro-sign-solid": "\eaca",
    "exchange-alt-solid": "\eacb",
    "exclamation-circle-solid": "\eacc",
    "exclamation-triangle-solid": "\eacd",
    "exclamation-solid": "\eace",
    "expand-arrows-alt-solid": "\eacf",
    "expand-solid": "\ead0",
    "external-link-alt-solid": "\ead1",
    "external-link-square-alt-solid": "\ead2",
    "eye-dropper-solid": "\ead3",
    "eye-slash-solid": "\ead4",
    "eye-solid": "\ead5",
    "fast-backward-solid": "\ead6",
    "fast-forward-solid": "\ead7",
    "fax-solid": "\ead8",
    "feather-solid": "\ead9",
    "female-solid": "\eada",
    "fighter-jet-solid": "\eadb",
    "file-alt-solid": "\eadc",
    "file-archive-solid": "\eadd",
    "file-audio-solid": "\eade",
    "file-code-solid": "\eadf",
    "file-excel-solid": "\eae0",
    "file-image-solid": "\eae1",
    "file-medical-alt-solid": "\eae2",
    "file-medical-solid": "\eae3",
    "file-pdf-solid": "\eae4",
    "file-powerpoint-solid": "\eae5",
    "file-video-solid": "\eae6",
    "file-word-solid": "\eae7",
    "file-solid": "\eae8",
    "film-solid": "\eae9",
    "filter-solid": "\eaea",
    "fire-extinguisher-solid": "\eaeb",
    "fire-solid": "\eaec",
    "first-aid-solid": "\eaee",
    "flag-checkered-solid": "\eaed",
    "flag-solid": "\eaef",
    "flask-solid": "\eaf0",
    "folder-open-solid": "\eaf1",
    "folder-solid": "\eaf2",
    "font-solid": "\eaf3",
    "football-ball-solid": "\eaf4",
    "forward-solid": "\eaf5",
    "frog-solid": "\eaf6",
    "frown-solid": "\eaf7",
    "futbol-solid": "\eaf8",
    "gamepad-solid": "\eaf9",
    "gas-pump-solid": "\eafa",
    "gavel-solid": "\eafb",
    "gem-solid": "\eafc",
    "genderless-solid": "\eafe",
    "gift-solid": "\eafd",
    "glass-martini-solid": "\eaff",
    "glasses-solid": "\eb00",
    "globe-solid": "\eb01",
    "golf-ball-solid": "\eb02",
    "graduation-cap-solid": "\eb03",
    "greater-than-equal-solid": "\eb04",
    "greater-than-solid": "\eb05",
    "h-square-solid": "\eb06",
    "hand-holding-heart-solid": "\eb07",
    "hand-holding-usd-solid": "\eb08",
    "hand-holding-solid": "\eb09",
    "hand-lizard-solid": "\eb0a",
    "hand-paper-solid": "\eb0b",
    "hand-peace-solid": "\eb0c",
    "hand-point-down-solid": "\eb0d",
    "hand-point-left-solid": "\eb0e",
    "hand-point-right-solid": "\eb0f",
    "hand-point-up-solid": "\eb10",
    "hand-pointer-solid": "\eb11",
    "hand-rock-solid": "\eb12",
    "hand-scissors-solid": "\eb13",
    "hand-spock-solid": "\eb14",
    "hands-helping-solid": "\eb15",
    "hands-solid": "\eb16",
    "handshake-solid": "\eb17",
    "hashtag-solid": "\eb18",
    "hdd-solid": "\eb19",
    "heading-solid": "\eb1a",
    "headphones-solid": "\eb1c",
    "heart-solid": "\eb1b",
    "heartbeat-solid": "\eb1d",
    "helicopter-solid": "\eb1e",
    "history-solid": "\eb1f",
    "hockey-puck-solid": "\eb20",
    "home-solid": "\eb21",
    "hospital-alt-solid": "\eb22",
    "hospital-symbol-solid": "\eb23",
    "hospital-solid": "\eb24",
    "hourglass-end-solid": "\eb25",
    "hourglass-half-solid": "\eb26",
    "hourglass-start-solid": "\eb27",
    "hourglass-solid": "\eb28",
    "i-cursor-solid": "\eb2a",
    "id-badge-solid": "\eb29",
    "id-card-alt-solid": "\eb2b",
    "id-card-solid": "\eb2c",
    "image-solid": "\eb2d",
    "images-solid": "\eb2f",
    "inbox-solid": "\eb2e",
    "indent-solid": "\eb30",
    "industry-solid": "\eb31",
    "infinity-solid": "\eb32",
    "info-circle-solid": "\eb33",
    "info-solid": "\eb34",
    "italic-solid": "\eb35",
    "key-solid": "\eb36",
    "keyboard-solid": "\eb37",
    "kiwi-bird-solid": "\eb38",
    "language-solid": "\eb39",
    "laptop-solid": "\eb3a",
    "leaf-solid": "\eb3b",
    "lemon-solid": "\eb3c",
    "less-than-equal-solid": "\eb3d",
    "less-than-solid": "\eb3e",
    "level-down-alt-solid": "\eb3f",
    "level-up-alt-solid": "\eb40",
    "life-ring-solid": "\eb41",
    "lightbulb-solid": "\eb42",
    "link-solid": "\eb43",
    "lira-sign-solid": "\eb44",
    "list-alt-solid": "\eb45",
    "list-ol-solid": "\eb46",
    "list-ul-solid": "\eb47",
    "list-solid": "\eb48",
    "location-arrow-solid": "\eb49",
    "lock-open-solid": "\eb4a",
    "lock-solid": "\eb4b",
    "long-arrow-alt-down-solid": "\eb4c",
    "long-arrow-alt-left-solid": "\eb4d",
    "long-arrow-alt-right-solid": "\eb4e",
    "long-arrow-alt-up-solid": "\eb4f",
    "low-vision-solid": "\eb50",
    "magic-solid": "\eb51",
    "magnet-solid": "\eb52",
    "male-solid": "\eb53",
    "map-marker-alt-solid": "\eb54",
    "map-marker-solid": "\eb55",
    "map-pin-solid": "\eb56",
    "map-signs-solid": "\eb57",
    "map-solid": "\eb58",
    "mars-double-solid": "\eb59",
    "mars-stroke-h-solid": "\eb5a",
    "mars-stroke-v-solid": "\eb5b",
    "mars-stroke-solid": "\eb5c",
    "mars-solid": "\eb5d",
    "medkit-solid": "\eb5e",
    "meh-solid": "\eb5f",
    "memory-solid": "\eb60",
    "mercury-solid": "\eb61",
    "microchip-solid": "\eb62",
    "microphone-alt-slash-solid": "\eb63",
    "microphone-alt-solid": "\eb64",
    "microphone-slash-solid": "\eb65",
    "microphone-solid": "\eb66",
    "minus-circle-solid": "\eb67",
    "minus-square-solid": "\eb68",
    "minus-solid": "\eb69",
    "mobile-alt-solid": "\eb6a",
    "mobile-solid": "\eb6b",
    "money-bill-alt-solid": "\eb6c",
    "money-bill-wave-alt-solid": "\eb6d",
    "money-bill-wave-solid": "\eb6e",
    "money-bill-solid": "\eb6f",
    "money-check-alt-solid": "\eb70",
    "money-check-solid": "\eb71",
    "moon-solid": "\eb72",
    "motorcycle-solid": "\eb73",
    "mouse-pointer-solid": "\eb74",
    "music-solid": "\eb75",
    "neuter-solid": "\eb76",
    "newspaper-solid": "\eb77",
    "not-equal-solid": "\eb78",
    "notes-medical-solid": "\eb79",
    "object-group-solid": "\eb7a",
    "object-ungroup-solid": "\eb7b",
    "outdent-solid": "\eb7c",
    "paint-brush-solid": "\eb7d",
    "palette-solid": "\eb7e",
    "pallet-solid": "\eb7f",
    "paper-plane-solid": "\eb80",
    "paperclip-solid": "\eb81",
    "parachute-box-solid": "\eb82",
    "paragraph-solid": "\eb83",
    "parking-solid": "\eb84",
    "paste-solid": "\eb85",
    "pause-circle-solid": "\eb86",
    "pause-solid": "\eb87",
    "paw-solid": "\eb88",
    "pen-square-solid": "\eb89",
    "pencil-alt-solid": "\eb8a",
    "people-carry-solid": "\eb8b",
    "percent-solid": "\eb8c",
    "percentage-solid": "\eb8d",
    "phone-slash-solid": "\eb8e",
    "phone-square-solid": "\eb8f",
    "phone-volume-solid": "\eb90",
    "phone-solid": "\eb91",
    "piggy-bank-solid": "\eb92",
    "pills-solid": "\eb93",
    "plane-solid": "\eb94",
    "play-circle-solid": "\eb95",
    "play-solid": "\eb96",
    "plug-solid": "\eb97",
    "plus-circle-solid": "\eb98",
    "plus-square-solid": "\eb99",
    "plus-solid": "\eb9a",
    "podcast-solid": "\eb9b",
    "poo-solid": "\eb9c",
    "portrait-solid": "\eb9d",
    "pound-sign-solid": "\eb9f",
    "power-off-solid": "\eb9e",
    "prescription-bottle-alt-solid": "\eba0",
    "prescription-bottle-solid": "\eba1",
    "print-solid": "\eba2",
    "procedures-solid": "\eba3",
    "project-diagram-solid": "\eba4",
    "puzzle-piece-solid": "\eba5",
    "qrcode-solid": "\eba6",
    "question-circle-solid": "\eba7",
    "question-solid": "\eba8",
    "quidditch-solid": "\eba9",
    "quote-left-solid": "\ebaa",
    "quote-right-solid": "\ebab",
    "random-solid": "\ebac",
    "receipt-solid": "\ebad",
    "recycle-solid": "\ebae",
    "redo-alt-solid": "\ebaf",
    "redo-solid": "\ebb0",
    "registered-solid": "\ebb1",
    "reply-all-solid": "\ebb2",
    "reply-solid": "\ebb3",
    "retweet-solid": "\ebb4",
    "ribbon-solid": "\ebb5",
    "road-solid": "\ebb6",
    "robot-solid": "\ebb7",
    "rocket-solid": "\ebb8",
    "rss-square-solid": "\ebb9",
    "rss-solid": "\ebba",
    "ruble-sign-solid": "\ebbc",
    "ruler-combined-solid": "\ebbb",
    "ruler-horizontal-solid": "\ebbd",
    "ruler-vertical-solid": "\ebbe",
    "ruler-solid": "\ebbf",
    "rupee-sign-solid": "\ebc0",
    "save-solid": "\ebc1",
    "school-solid": "\ebc2",
    "screwdriver-solid": "\ebc3",
    "search-minus-solid": "\ebc5",
    "search-plus-solid": "\ebc4",
    "search-solid": "\ebc6",
    "seedling-solid": "\ebc7",
    "server-solid": "\ebc8",
    "share-alt-square-solid": "\ebc9",
    "share-alt-solid": "\ebca",
    "share-square-solid": "\ebcc",
    "share-solid": "\ebcb",
    "shekel-sign-solid": "\ebcd",
    "shield-alt-solid": "\ebce",
    "ship-solid": "\ebcf",
    "shipping-fast-solid": "\ebd0",
    "shoe-prints-solid": "\ebd1",
    "shopping-bag-solid": "\ebd2",
    "shopping-basket-solid": "\ebd3",
    "shopping-cart-solid": "\ebd4",
    "shower-solid": "\ebd5",
    "sign-in-alt-solid": "\ebd6",
    "sign-language-solid": "\ebd7",
    "sign-out-alt-solid": "\ebd8",
    "sign-solid": "\ebd9",
    "signal-solid": "\ebda",
    "sitemap-solid": "\ebdb",
    "skull-solid": "\ebdc",
    "sliders-h-solid": "\ebdd",
    "smile-solid": "\ebdf",
    "smoking-ban-solid": "\ebde",
    "smoking-solid": "\ebe1",
    "snowflake-solid": "\ebe0",
    "sort-alpha-down-solid": "\ebe2",
    "sort-alpha-up-solid": "\ebe3",
    "sort-amount-down-solid": "\ebe4",
    "sort-amount-up-solid": "\ebe5",
    "sort-down-solid": "\ebe6",
    "sort-numeric-down-solid": "\ebe8",
    "sort-numeric-up-solid": "\ebe7",
    "sort-up-solid": "\ebe9",
    "sort-solid": "\ebea",
    "space-shuttle-solid": "\ebeb",
    "spinner-solid": "\ebec",
    "square-full-solid": "\ebee",
    "square-solid": "\ebed",
    "star-half-solid": "\ebef",
    "star-solid": "\ebf0",
    "step-backward-solid": "\ebf1",
    "step-forward-solid": "\ebf2",
    "stethoscope-solid": "\ebf3",
    "sticky-note-solid": "\ebf4",
    "stop-circle-solid": "\ebf5",
    "stop-solid": "\ebf6",
    "stopwatch-solid": "\ebf7",
    "store-alt-solid": "\ebf8",
    "store-solid": "\ebf9",
    "stream-solid": "\ebfa",
    "street-view-solid": "\ebfb",
    "strikethrough-solid": "\ebfc",
    "stroopwafel-solid": "\ebfd",
    "subscript-solid": "\ebfe",
    "subway-solid": "\ebff",
    "suitcase-solid": "\ec00",
    "sun-solid": "\ec01",
    "superscript-solid": "\ec02",
    "sync-alt-solid": "\ec03",
    "sync-solid": "\ec04",
    "syringe-solid": "\ec05",
    "table-tennis-solid": "\ec06",
    "table-solid": "\ec07",
    "tablet-alt-solid": "\ec08",
    "tablet-solid": "\ec09",
    "tablets-solid": "\ec0a",
    "tachometer-alt-solid": "\ec0b",
    "tag-solid": "\ec0c",
    "tags-solid": "\ec0e",
    "tape-solid": "\ec0d",
    "tasks-solid": "\ec0f",
    "taxi-solid": "\ec10",
    "terminal-solid": "\ec11",
    "text-height-solid": "\ec12",
    "text-width-solid": "\ec13",
    "th-large-solid": "\ec14",
    "th-list-solid": "\ec15",
    "th-solid": "\ec16",
    "thermometer-empty-solid": "\ec17",
    "thermometer-full-solid": "\ec18",
    "thermometer-half-solid": "\ec19",
    "thermometer-quarter-solid": "\ec1a",
    "thermometer-three-quarters-solid": "\ec1c",
    "thermometer-solid": "\ec1b",
    "thumbs-down-solid": "\ec1d",
    "thumbs-up-solid": "\ec1e",
    "thumbtack-solid": "\ec1f",
    "ticket-alt-solid": "\ec20",
    "times-circle-solid": "\ec21",
    "times-solid": "\ec22",
    "tint-solid": "\ec23",
    "toggle-off-solid": "\ec24",
    "toggle-on-solid": "\ec26",
    "toolbox-solid": "\ec25",
    "trademark-solid": "\ec27",
    "train-solid": "\ec28",
    "transgender-alt-solid": "\ec29",
    "transgender-solid": "\ec2a",
    "trash-alt-solid": "\ec2b",
    "trash-solid": "\ec2c",
    "tree-solid": "\ec2d",
    "trophy-solid": "\ec2e",
    "truck-loading-solid": "\ec2f",
    "truck-moving-solid": "\ec30",
    "truck-solid": "\ec31",
    "tshirt-solid": "\ec32",
    "tty-solid": "\ec33",
    "tv-solid": "\ec34",
    "umbrella-solid": "\ec35",
    "underline-solid": "\ec36",
    "undo-alt-solid": "\ec37",
    "undo-solid": "\ec38",
    "universal-access-solid": "\ec39",
    "university-solid": "\ec3a",
    "unlink-solid": "\ec3b",
    "unlock-alt-solid": "\ec3c",
    "unlock-solid": "\ec3d",
    "upload-solid": "\ec3e",
    "user-alt-slash-solid": "\ec3f",
    "user-alt-solid": "\ec40",
    "user-astronaut-solid": "\ec41",
    "user-check-solid": "\ec42",
    "user-circle-solid": "\ec43",
    "user-clock-solid": "\ec44",
    "user-cog-solid": "\ec45",
    "user-edit-solid": "\ec46",
    "user-friends-solid": "\ec47",
    "user-graduate-solid": "\ec48",
    "user-lock-solid": "\ec49",
    "user-md-solid": "\ec4a",
    "user-minus-solid": "\ec4b",
    "user-ninja-solid": "\ec4c",
    "user-plus-solid": "\ec4d",
    "user-secret-solid": "\ec4e",
    "user-shield-solid": "\ec4f",
    "user-slash-solid": "\ec50",
    "user-tag-solid": "\ec51",
    "user-tie-solid": "\ec52",
    "user-times-solid": "\ec53",
    "user-solid": "\ec54",
    "users-cog-solid": "\ec55",
    "users-solid": "\ec56",
    "utensil-spoon-solid": "\ec57",
    "utensils-solid": "\ec58",
    "venus-double-solid": "\ec59",
    "venus-mars-solid": "\ec5a",
    "venus-solid": "\ec5b",
    "vial-solid": "\ec5c",
    "vials-solid": "\ec5d",
    "video-slash-solid": "\ec5e",
    "video-solid": "\ec5f",
    "volleyball-ball-solid": "\ec60",
    "volume-down-solid": "\ec62",
    "volume-off-solid": "\ec61",
    "volume-up-solid": "\ec63",
    "walking-solid": "\ec64",
    "wallet-solid": "\ec65",
    "warehouse-solid": "\ec66",
    "weight-solid": "\ec67",
    "wheelchair-solid": "\ec68",
    "wifi-solid": "\ec69",
    "window-close-solid": "\ec6a",
    "window-maximize-solid": "\ec6b",
    "window-minimize-solid": "\ec6c",
    "window-restore-solid": "\ec6d",
    "wine-glass-solid": "\ec6e",
    "won-sign-solid": "\ec6f",
    "wrench-solid": "\ec70",
    "x-ray-solid": "\ec71",
    "yen-sign-solid": "\ec72"
);
