<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="ABPersonSubtypeInfoInputSet"
    mode="ABAdjudicator">
    <Require
      name="anABContact"
      type="ABContact"/>
    <Label
      id="LicenseInfo"
      label="DisplayKey.get(&quot;Training.LicenseInfo&quot;)"/>
    <TextInput
      editable="true"
      id="AdjudicatorLicense"
      label="DisplayKey.get(&quot;Training.AdjudicatorLicense&quot;)"
      value="(anABContact as ABAdjudicator).AdjudicatorLicense"/>
    <TypeKeyInput
      editable="true"
      id="AdjudicatorDomain"
      label="DisplayKey.get(&quot;Training.Domain&quot;)"
      value="(anABContact as ABAdjudicator).AdjudicativeDomain"
      valueType="typekey.AdjudicativeDomain"/>
  </InputSet>
</PCF>