<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="ABPersonSubtypeInfoInputSet"
    mode="ABAttorney">
    <Require
      name="anABContact"
      type="ABContact"/>
    <Label
      id="LicenseInfo"
      label="DisplayKey.get(&quot;Training.LicenseInfo&quot;)"/>
    <TextInput
      editable="true"
      id="LawLicense"
      label="DisplayKey.get(&quot;Training.LawLicense&quot;)"
      value="(anABContact as ABAttorney).AttorneyLicense"/>
    <TypeKeyInput
      editable="true"
      id="Specialty"
      label="DisplayKey.get(&quot;Training.Specialty&quot;)"
      value="(anABContact as ABAttorney).AttorneySpecialty"
      valueType="typekey.LegalSpecialty"/>
  </InputSet>
</PCF>