<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UserGroupsLV">
    <ExposeIterator
      valueType="entity.GroupUser"
      widget="UserGroupsLV"/>
    <Require
      name="User"
      type="User"/>
    <RowIterator
      conversionExpression="var GU : GroupUser; if(User == null or !PickedValue.isMember(User?.ID)){GU = new GroupUser(); PickedValue.addToUsers(GU)}; return GU"
      editable="true"
      elementName="GroupUser"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="OrganizationGroupTreePopup.push()"
      toAdd="gw.api.admin.GroupUserUtil.add(User,GroupUser)"
      toRemove="gw.api.admin.GroupUserUtil.remove(User,GroupUser.Group)"
      value="User.AllGroupUsersAsArray"
      valueType="entity.GroupUser[]">
      <Row>
        <GroupCell
          align="left"
          editable="true"
          id="Group"
          label="DisplayKey.get(&quot;Web.Admin.GroupUsers.Group&quot;)"
          required="true"
          sortBy="GroupUser.Group.Name"
          unique="true"
          value="GroupUser.Group"/>
        <BooleanRadioCell
          editable="true"
          id="Member"
          label="DisplayKey.get(&quot;Web.Admin.GroupUsers.Member&quot;)"
          required="true"
          value="GroupUser.Member"/>
        <BooleanRadioCell
          editable="true"
          id="Manager"
          label="DisplayKey.get(&quot;Web.Admin.GroupUsers.Manager&quot;)"
          required="true"
          value="GroupUser.Manager"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>