<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.User.exportadmindata"
    countsAsWork="false"
    id="ExportData"
    parent="Admin()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Admin.ExportData&quot;)">
    <LocationEntryPoint
      signature="ExportData()"/>
    <Variable
      initialValue="new gw.api.admin.ExportDataInfo()"
      name="ExportDataInfo"
      type="gw.api.admin.ExportDataInfo"/>
    <Screen
      id="ExportDataScreen">
      <PanelRow>
        <PanelColumn>
          <PanelRef
            def="ExportDataDV(ExportDataInfo)">
            <TitleBar
              title="DisplayKey.get(&quot;Web.Admin.ExportDataDV.ExportDataMessage&quot;)"/>
          </PanelRef>
        </PanelColumn>
        <PanelColumn>
          <PanelRef
            def="SecurityDictionaryDV()">
            <TitleBar
              title="DisplayKey.get(&quot;Web.Admin.SecurityDictionaryDV.Title&quot;)"/>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Page>
</PCF>
