<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canVisit="perm.User.importadmindata"
    id="ImportWizard_ArrayDiffPopup"
    parent="ImportWizard()"
    title="DisplayKey.get(&quot;Web.Admin.ImportWizard.ArrayDiffPopup.Title&quot;)">
    <LocationEntryPoint
      signature="ImportWizard_ArrayDiffPopup(ArrayDifferences : gw.api.admin.ImportDataArrayDifferences)"/>
    <Variable
      name="ArrayDifferences"
      type="gw.api.admin.ImportDataArrayDifferences"/>
    <Screen
      id="ImportWizard_ArrayDiffPopupScreen">
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ArrayDiffPopup.NoRemovedElements&quot;)"
            visible="!ArrayDifferences.hasRemovedElements()"/>
          <Label
            label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ArrayDiffPopup.RemovedElements&quot;)"
            visible="ArrayDifferences.hasRemovedElements()"/>
          <ListViewInput
            labelAbove="true"
            visible="ArrayDifferences.hasRemovedElements()">
            <Toolbar/>
            <ListViewPanel
              id="ImportWizard_RemovedArrayElementsLV">
              <!-- first, the header row -->
              <Row
                renderAsSmartHeader="true">
                <CellIterator
                  elementName="Field"
                  id="headerCells"
                  value="ArrayDifferences.OrderedFieldNames"
                  valueType="java.lang.String[]">
                  <TextCell
                    id="field"
                    value="Field"/>
                </CellIterator>
              </Row>
              <!-- Then, all the other rows -->
              <RowIterator
                editable="false"
                elementName="Element"
                pageSize="0"
                value="ArrayDifferences.RemovedElements"
                valueType="gw.pl.persistence.core.Bean[]">
                <Row>
                  <CellIterator
                    elementName="Field"
                    value="ArrayDifferences.OrderedFieldNames"
                    valueType="java.lang.String[]">
                    <TextCell
                      id="ValueCell"
                      value="Element.getFieldValue(Field)"
                      valueType="java.lang.Object"/>
                  </CellIterator>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <Label
            label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ArrayDiffPopup.NoAddedElements&quot;)"
            visible="!ArrayDifferences.hasAddedElements()"/>
          <Label
            label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ArrayDiffPopup.AddedElements&quot;)"
            visible="ArrayDifferences.hasAddedElements()"/>
          <ListViewInput
            labelAbove="true"
            visible="ArrayDifferences.hasAddedElements()">
            <Toolbar/>
            <ListViewPanel
              id="ImportWizard_AddedArrayElementsLV">
              <!-- first, the header row -->
              <Row
                renderAsSmartHeader="true">
                <CellIterator
                  elementName="Field"
                  id="headerCells"
                  value="ArrayDifferences.OrderedFieldNames"
                  valueType="java.lang.String[]">
                  <TextCell
                    id="header"
                    value="Field"/>
                </CellIterator>
              </Row>
              <!-- Then, all the other rows -->
              <RowIterator
                editable="false"
                elementName="Element"
                pageSize="0"
                value="ArrayDifferences.AddedElements"
                valueType="gw.pl.persistence.core.Bean[]">
                <Row>
                  <CellIterator
                    elementName="Field"
                    value="ArrayDifferences.OrderedFieldNames"
                    valueType="java.lang.String[]">
                    <TextCell
                      id="ValueCell"
                      value="Element.getFieldValue(Field)"
                      valueType="java.lang.Object"/>
                  </CellIterator>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>