<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ImportWizard_ConflictScreen">
    <Require
      name="ImportDataInfo"
      type="gw.api.admin.ImportDataInfo"/>
    <Require
      name="ImportDataConflict"
      type="gw.api.admin.ImportDataConflict"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="ImportWizard_ConflictDV">
      <InputColumn>
        <TextInput
          id="Resolution"
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.UploadDV.ResolutionStrategy&quot;)"
          value="ImportDataInfo.ResolutionStrategy"
          valueType="gw.api.admin.ImportDataInfo.ResolutionOption"/>
        <TextInput
          id="Message"
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.Conflict&quot;)"
          value="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.ConflictNumber&quot;,  ImportDataConflict.Number ,  ImportDataInfo.NumConflicts)"/>
        <TextInput
          id="Type"
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.Type&quot;)"
          value="ImportDataConflict.EntityType"/>
        <TextInput
          id="PublicID"
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.PublicID&quot;)"
          value="ImportDataConflict.PublicID"/>
        <TextInput
          id="DisplayName"
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.DisplayName&quot;)"
          value="ImportDataConflict.DisplayName"/>
        <BooleanRadioInput
          editable="true"
          id="Overwrite"
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.Overwrite&quot;)"
          value="ImportDataConflict.Overwrite"/>
        <Label
          label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.FieldConflicts&quot;)"/>
        <ListViewInput
          editable="false"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="ImportConflictsLV">
            <RowIterator
              editable="false"
              elementName="FieldConflict"
              value="ImportDataConflict.FieldConflicts"
              valueType="gw.api.admin.ImportDataFieldConflict[]">
              <Row>
                <TextCell
                  id="FieldName"
                  label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.FieldName&quot;)"
                  sortOrder="1"
                  value="FieldConflict.FieldName"/>
                <TextCell
                  action="ImportWizard_ArrayDiffPopup.push(FieldConflict.ArrayDifferences)"
                  available="FieldConflict.isArrayConflict()"
                  id="ExistingValue"
                  label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.ExistingValue&quot;)"
                  value="FieldConflict.ExistingValue"/>
                <TextCell
                  action="ImportWizard_ArrayDiffPopup.push(FieldConflict.ArrayDifferences)"
                  available="FieldConflict.isArrayConflict()"
                  id="ImportValue"
                  label="DisplayKey.get(&quot;Web.Admin.ImportWizard.ConflictDV.ImportValue&quot;)"
                  value="FieldConflict.ImportValue"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>