<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    desc="Placeholder for app-specific Addresses panel."
    id="AddressesPanelSet">
    <Require
      name="contact"
      type="Contact"/>
  </PanelSet>
</PCF>