<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageControlForSOOListLV">
    <ExposeIterator
      flags="SkippableEventMessage,RetryableEventMessage"
      valueType="Message"
      widget="MessageControlForSOOListLV"/>
    <Require
      name="DestinationId"
      type="int"/>
    <Require
      name="SOOKeyValue"
      type="long"/>
    <Variable
      initialValue="gw.api.admin.MessagingUtil.getEventMessageDestinationMap()"
      name="destMap"
      type="java.util.Map&lt;java.lang.Integer, java.lang.String&gt;"/>
    <RowIterator
      editable="false"
      elementName="EventMessage"
      hasCheckBoxes="true"
      pageSize="40"
      value="gw.api.admin.MessagingUtil.getEventMessagesForDestination(DestinationId, SOOKeyValue, 40)"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Message&gt;">
      <ToolbarFlag
        condition="EventMessage.isActive()"
        name="SkippableEventMessage"/>
      <ToolbarFlag
        condition="EventMessage.isRetryable()"
        name="RetryableEventMessage"/>
      <Row>
        <DateCell
          align="left"
          dateFormat="short"
          enableSort="false"
          id="SendTime"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.SendTime&quot;)"
          timeFormat="long"
          value="EventMessage.SendTime"/>
        <TextCell
          action="MessagePayloadPopup.push(EventMessage.ID.Value)"
          align="left"
          enableSort="false"
          id="MessageName"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.MessageName&quot;)"
          value="EventMessage.EventName"/>
        <TextCell
          action="MessageControlForDestinationList.go(EventMessage.DestinationID, lookup(EventMessage.DestinationID))"
          align="left"
          enableSort="false"
          id="DestinationName"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.DestinationName&quot;)"
          value="lookup(EventMessage.DestinationID)"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Order"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.Order&quot;)"
          value="EventMessage.SendOrder"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          enableSort="false"
          id="SenderRef"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.SenderRef&quot;)"
          value="EventMessage.SenderRefID"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Status"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.Status&quot;)"
          value="displayKey(EventMessage.Status)"/>
        <TextCell
          align="left"
          enableSort="false"
          id="RetryCount"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.RetryCount&quot;)"
          value="EventMessage.RetryCount"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Response"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.Response&quot;)"
          value="EventMessage.ErrorDescription"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Description"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForSOOListLV.Description&quot;)"
          value="EventMessage.Description"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[function displayKey(statusInt : java.lang.Integer) : String {
  //noinspection DisplayKeyNotLiteral
  return gw.api.locale.DisplayKey.get("Java.Message.Status._" + (statusInt as String))
}

function lookup(destId : java.lang.Integer) : String {
  return destMap.get(destId)
}]]></Code>
  </ListViewPanel>
</PCF>
