<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageControlForDestinationListLV">
    <ExposeIterator
      flags="RetryableSOOMessage,SkippableSOOMessage"
      valueType="gw.api.admin.SafeOrderedObjectMessageStatistics"
      widget="MessageControlForDestinationListLV"/>
    <Require
      name="DestinationId"
      type="int"/>
    <Require
      name="DestinationName"
      type="String"/>
    <RowIterator
      checkBoxVisible="SOOMessage.SafeOrderedObjectName != gw.api.messaging.MessagingConstants.NON_SAFE_ORDERED_OBJECT_NAME"
      editable="false"
      elementName="SOOMessage"
      hasCheckBoxes="true"
      pageSize="20"
      value="gw.api.admin.SOOMessageStatisticsUtil.getStatistics(DestinationId)"
      valueType="gw.api.admin.SafeOrderedObjectMessageStatistics[]">
      <ToolbarFilter
        name="SOOMessageFilter">
        <ToolbarFilterOptionGroup
          filters="gw.api.admin.SOOMessageFilters.FILTERSET.FilterOptions"/>
      </ToolbarFilter>
      <ToolbarFlag
        condition="SOOMessage.canRetry()"
        name="RetryableSOOMessage"/>
      <ToolbarFlag
        condition="SOOMessage.canSkip()"
        name="SkippableSOOMessage"/>
      <Row>
        <TextCell
          action="MessageControlForSOOList.go(DestinationId, DestinationName, SOOMessage.SafeOrderedObjectKeyValue, SOOMessage.SafeOrderedObjectName)"
          align="left"
          enableSort="false"
          id="SOOName"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.SOOName&quot;)"
          value="SOOMessage.SafeOrderedObjectName"/>
        <DateCell
          align="left"
          dateFormat="short"
          enableSort="false"
          id="SendTime"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.SendTime&quot;)"
          timeFormat="long"
          value="SOOMessage.SendTime"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Error"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.Failed&quot;)"
          value="SOOMessage.Error"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          enableSort="false"
          id="RetryableError"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.Retry&quot;)"
          value="SOOMessage.RetryableError"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          enableSort="false"
          id="InFlight"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.InFlight&quot;)"
          value="SOOMessage.Inflight"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Unsent"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.Unsent&quot;)"
          value="SOOMessage.Unsent"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          enableSort="false"
          id="RetryableErrorMessage"
          label="DisplayKey.get(&quot;Web.Admin.MessageControlForDestinationListLV.Error&quot;)"
          value="SOOMessage.RetryableErrorMessage"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>