<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="false"
    id="MessageDestinationStatisticsDV"
    visible="statistics != null">
    <Require
      name="destId"
      type="java.lang.Integer"/>
    <Variable
      initialValue="gw.api.admin.DestinationMessageStatisticsUtil.getMessageStatisticsForDestinationQuietly(destId)"
      name="statistics"
      recalculateOnRefresh="true"
      type="gw.api.admin.DestinationMessageStatistics"/>
    <InputColumn>
      <TextInput
        id="Status"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.Status&quot;)"
        value="statistics.Status"/>
      <TextInput
        id="Error"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.Failed&quot;)"
        value="statistics.Error"
        valueType="java.lang.Integer"/>
      <TextInput
        id="Retry"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.Retry&quot;)"
        value="statistics.RetryableError"
        valueType="java.lang.Integer"/>
      <TextInput
        id="InFlight"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.InFlight&quot;)"
        value="statistics.Inflight"
        valueType="java.lang.Integer"/>
      <TextInput
        id="Unsent"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.Unsent&quot;)"
        value="statistics.Unsent"
        valueType="java.lang.Integer"/>
      <TextInput
        id="Batched"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.Batched&quot;)"
        value="statistics.BatchSize"
        valueType="java.lang.Integer"/>
      <TextInput
        id="ErrorCount"
        label="DisplayKey.get(&quot;Web.Admin.MessageDestinationStatisticsDV.AwaitingRetry&quot;)"
        value="statistics.AwaitingRetry"
        valueType="java.lang.Integer"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>