<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="MessagePayloadScreen">
    <Require
      name="Message"
      type="Message"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="PayLoadDV(Message)"/>
  </Screen>
</PCF>