<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    id="BusinessSettings"
    title="DisplayKey.get(&quot;Web.Admin.BusinessSettings&quot;)">
    <LocationRef
      location="ActivityPatterns()"/>
    <LocationRef
      location="BusinessWeek()"/>
    <LocationRef
      location="Holidays()"/>
  </LocationGroup>
</PCF>