<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PendingContactCreateDetailedLV">
    <ExposeIterator
      flags="PendingContactCreate"
      valueType="entity.PendingContactCreateView"
      widget="PendingContactCreateDetailedLV"/>
    <RowIterator
      editable="false"
      elementName="pendingContactCreateView"
      pageSize="10"
      value="gw.web.PendingChangesWebUtil.getPendingCreates()"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.PendingContactCreateView&gt;">
      <ToolbarFlag
        name="PendingContactCreate"/>
      <Row>
        <TextCell
          id="Contact"
          label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.LVColumns.Contact&quot;)"
          printWidth="0.1"
          sortBy="pendingContactCreateView.ABContactName"
          sortOrder="1"
          value="pendingContactCreateView.ABContactName"/>
        <TypeKeyCell
          id="Type"
          label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.LVColumns.Type&quot;)"
          printWidth="0.1"
          value="pendingContactCreateView.ABContactSubtype"
          valueType="typekey.ABContact"/>
        <TextCell
          enableSort="false"
          id="Tags"
          label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.LVColumns.Tags&quot;)"
          printWidth="0.1"
          value="pendingContactCreateView.ABContactTagsDescription"/>
        <TextCell
          id="RequestingUser"
          label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.LVColumns.RequestingUser&quot;)"
          printWidth="0.1"
          value="pendingContactCreateView.RequestingUser"/>
        <TextCell
          id="RelatedTo"
          label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.LVColumns.RelatedTo&quot;)"
          printWidth="0.1"
          value="pendingContactCreateView.RelatedTo"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>