<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="RejectChangePopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Contacts.PendingChanges.RejectChangePopup.Title&quot;)">
    <LocationEntryPoint
      signature="RejectChangePopup(contactChange : PendingContactChange)"/>
    <Variable
      name="contactChange"
      type="PendingContactChange"/>
    <Screen
      id="RejectScreen">
      <Toolbar>
        <ToolbarButton
          action="gw.api.web.contact.PendingContactChangeUtil.rejectChange(contactChange, CurrentLocation)"
          id="ToolbarButton"
          label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.RejectChangePopup.Reject&quot;)"/>
        <EditButtons
          editVisible="false"
          updateVisible="false"/>
      </Toolbar>
      <DetailViewPanel
        id="RejectReasonDV">
        <!-- <Require
          name="contactChange"
          type="PendingContactChange"/> -->
        <InputColumn>
          <TypeKeyInput
            editable="true"
            filter="gw.web.PendingChangesWebUtil.rejectionResolutionFilter(VALUES)"
            id="RejectReason"
            label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.RejectChangePopup.RejectReasonCode&quot;)"
            required="true"
            value="contactChange.Resolution"
            valueType="typekey.ContactChangeResolution"/>
          <TextAreaInput
            editable="true"
            id="RejectReasonText"
            label="DisplayKey.get(&quot;Web.Contacts.PendingChanges.RejectChangePopup.RejectReasonText&quot;)"
            numRows="8"
            value="contactChange.ResolutionReasonText"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>