<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <LocationGroup
    id="UsersAndSecurity"
    title="DisplayKey.get(&quot;Web.Admin.UsersAndSecurity&quot;)">
    <LocationRef
      location="AdminUserSearchPage()"/>
    <LocationRef
      location="AdminGroupSearchPage()"/>
    <LocationRef
      location="Roles()"/>
    <LocationRef
      location="Regions()"/>
  </LocationGroup>
</PCF>