<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="BankAccountsLV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <ExposeIterator
      valueType="entity.BankAccount"
      widget="BankAccountsLV"/>
    <RowIterator
      editable="true"
      elementName="currentBankAccount"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toAdd="anABContact.addToBankAccounts(currentBankAccount)"
      toRemove="anABContact.removeFromBankAccounts(currentBankAccount)"
      value="anABContact.BankAccounts"
      valueType="entity.BankAccount[]">
      <IteratorSort
        sortBy="currentBankAccount.CreateTime"
        sortOrder="1"/>
      <Row
        highlighted="VerificationStatus.TC_INVALID == currentBankAccount.IsVerified">
        <TextCell
          editable="true"
          id="BankName"
          label="DisplayKey.get(&quot;Training.BankName&quot;)"
          required="true"
          value="currentBankAccount.BankName"/>
        <TextCell
          editable="true"
          id="RoutingNumber"
          label="DisplayKey.get(&quot;Training.RoutingNumber&quot;)"
          required="true"
          value="currentBankAccount.RoutingNumber"/>
        <TextCell
          editable="true"
          id="AccountNumber"
          label="DisplayKey.get(&quot;Training.AccountNumber&quot;)"
          required="true"
          value="currentBankAccount.AccountNumber"/>
        <TypeKeyCell
          editable="true"
          id="AccountType"
          label="DisplayKey.get(&quot;Training.AccountType&quot;)"
          required="true"
          value="currentBankAccount.AccountType"
          valueType="typekey.BankAccountType"/>
        <TypeKeyCell
          id="Verified"
          label="DisplayKey.get(&quot;Training.Verified&quot;)"
          value="currentBankAccount.IsVerified"
          valueType="typekey.VerificationStatus"/>
        <DateCell
          id="CreateDate"
          label="DisplayKey.get(&quot;Training.CreatedOn&quot;)"
          value="currentBankAccount.CreateTime"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>