<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="gw.api.tools.SystemClockPageHelper.isEnabled()"
    countsAsWork="false"
    id="SystemClock"
    startInEditMode="true"
    parent="UnsupportedTools()"
    title="DisplayKey.get(&quot;Web.SystemClock.Title&quot;)">
    <LocationEntryPoint
      signature="SystemClock()"/>
    <Variable
      initialValue="new gw.api.tools.SystemClockPageHelper()"
      name="helper"
      type="gw.api.tools.SystemClockPageHelper"/>
    <Variable
      initialValue="helper.onPageRefresh(); return null"
      name="onRefresh"
      recalculateOnRefresh="true"
      type="Object"/>
    <Screen
      id="SystemClockScreen">
      <Toolbar>
        <ToolbarButton
          action="helper.changeDateTimeAsync(helper.DateTime.addMinutes(1))"
          available="helper.PageEditable"
          id="AddMinute"
          label="DisplayKey.get(&quot;Web.SystemClock.AddMinute&quot;)"/>
        <ToolbarButton
          action="helper.changeDateTimeAsync(helper.DateTime.addHours(1))"
          available="helper.PageEditable"
          id="AddHour"
          label="DisplayKey.get(&quot;Web.SystemClock.AddHour&quot;)"/>
        <ToolbarButton
          action="helper.changeDateTimeAsync(helper.DateTime.addDays(1))"
          available="helper.PageEditable"
          id="AddDay"
          label="DisplayKey.get(&quot;Web.SystemClock.AddDay&quot;)"/>
        <ToolbarButton
          action="helper.changeDateTimeAsync(helper.DateTime.addWeeks(1))"
          available="helper.PageEditable"
          id="AddWeek"
          label="DisplayKey.get(&quot;Web.SystemClock.AddWeek&quot;)"/>
        <ToolbarButton
          action="helper.changeDateTimeAsync(helper.DateTime.addMonths(1))"
          available="helper.PageEditable"
          id="AddMonth"
          label="DisplayKey.get(&quot;Web.SystemClock.AddMonth&quot;)"/>
        <ToolbarButton
          action="helper.changeDateTimeAsync(helper.DateTime.addYears(1))"
          available="helper.PageEditable"
          id="AddYear"
          label="DisplayKey.get(&quot;Web.SystemClock.AddYear&quot;)"/>
      </Toolbar>
      <Verbatim
        id="CurrentTime"
        label="helper.DateTime.toString()"/>
      <AlertBar
        allowDismiss="false"
        id="NotEnabledAlert"
        label="DisplayKey.get(&quot;Web.SystemClock.NotEnabled&quot;)"
        visible="!helper.Enabled"/>
      <AlertBar
        allowDismiss="false"
        id="InClusterAlert"
        label="DisplayKey.get(&quot;Web.SystemClock.InCluster&quot;)"
        visible="!gw.api.tools.SystemClockPageHelper.isClusterWide() &amp;&amp; gw.api.system.PLConfigParameters.ClusteringEnabled.getValue()"/>
      <DetailViewPanel>
        <Variable
          initialValue="helper.RequestedDateTime"
          name="newDateTime"
          recalculateOnRefresh="true"
          type="Date"/>
        <InputColumn>
          <DateInput
            dateFormat="short"
            editable="helper.PageEditable"
            id="Date"
            label="DisplayKey.get(&quot;Web.SystemClock.Date&quot;)"
            timeFormat="short"
            value="newDateTime"/>
          <ButtonInput
            action="helper.changeDateTimeAsync(newDateTime)"
            available="helper.PageEditable"
            hideIfDisabled="false"
            id="ChangeDate"
            value="DisplayKey.get(&quot;Web.SystemClock.ChangeDate&quot;)"/>
          <ProgressInput
            actionOnComplete="helper.onRequestCompleted()"
            id="Progress"
            percentage="helper.CompletionPercentage"
            visible="helper.RequestInProgress"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="UnsupportedToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>