<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="aFlagEntry.IsEditable"
    id="FlagEntryDV">
    <Require
      name="aFlagEntry"
      type="FlagEntry"/>
    <InputColumn>
      <DateInput
        id="DateFlagged"
        label="DisplayKey.get(&quot;Training.DateFlagged&quot;)"
        value="aFlagEntry.FlagDate"/>
      <TypeKeyInput
        editable="true"
        id="Reason"
        label="DisplayKey.get(&quot;Training.Reason&quot;)"
        value="aFlagEntry.Reason"
        valueType="FlagEntryReason"/>
      <TextAreaInput
        editable="true"
        id="Resolution"
        label="DisplayKey.get(&quot;Training.Resolution&quot;)"
        maxChars="80"
        numRows="3"
        value="aFlagEntry.Resolution">
        <PostOnChange
          onChange="aFlagEntry.setFieldsOnResolution()"
          target="DATA_ONLY"/>
      </TextAreaInput>
      <UserInput
        id="UnflagUser"
        label="DisplayKey.get(&quot;Training.UserWhoUnflaggedEntry&quot;)"
        value="aFlagEntry.UnflagUser"/>
      <DateInput
        id="UnflagDate"
        label="DisplayKey.get(&quot;Training.DateUnflagged&quot;)"
        value="aFlagEntry.UnflagDate"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>