<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.System.reporting_view and com.guidewire.pl.system.dependency.PLDependencies.getPluginConfig().isStartablePluginStarted(gw.plugin.cognos.CognosPlugin)"
    id="CognosReport"
    menuLinks="BlankMenuLinks()"
    title="DisplayKey.get(&quot;Web.TabBar.Reporting&quot;)">
    <LocationEntryPoint
      signature="CognosReport()"/>
    <LocationRef
      location="CognosReportPage(null)"/>
  </LocationGroup>
</PCF>
