<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    height="768"
    id="GuidewireHomePage"
    popup="true"
    target="gwWIN"
    url="http://www.guidewire.com"
    width="1024"/>
</PCF>