<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="StartupPageErrorGroup"
    tabBar="StartupPageErrorTabBar()"
    title="&quot;&quot;">
    <LocationRef
      location="StartupPageError()"/>
  </LocationGroup>
</PCF>