<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Forward
    canVisit="perm.Region.view"
    id="RegionsForward">
    <ForwardCondition
      action="RegionsPage.go()"/>
  </Forward>
</PCF>