<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RegionDetailDV"
    mode="default">
    <Require
      name="Region"
      type="Region"/>
    <Variable
      name="zoneType"
      type="ZoneType"/>
    <Variable
      initialValue="gw.api.admin.BaseAdminUtil.getDefaultCountry()"
      name="country"
      type="Country"/>
    <InputColumn>
      <RangeInput
        editable="true"
        hideIfReadOnly="true"
        id="zoneType"
        label="DisplayKey.get(&quot;Web.Admin.RegionDetailDV.RegionType&quot;)"
        value="zoneType"
        valueRange="gw.api.admin.BaseAdminUtil.getRegionZoneTypes(country)"
        valueType="typekey.ZoneType">
        <PostOnChange
          onChange="Region.FilterCriteria.ZoneType=zoneType"/>
      </RangeInput>
      <ListViewInput
        def="RegionZonesLV(Region, zoneType, country)"
        editable="true"
        hideIfReadOnly="true"
        label="DisplayKey.get(&quot;Web.Admin.RegionsLV.Zones&quot;)"
        visible="zoneType != null">
        <Toolbar
          visible="true">
          <IteratorButtons
            iterator="RegionZonesLV.RegionZonesLV"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>