<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    editable="false"
    id="LegalCaseLV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <RowIterator
      editable="false"
      elementName="currentLegalCase"
      value="anABContact.LegalCases"
      valueType="LegalCase[]">
      <Row>
        <DateCell
          id="Date"
          label="DisplayKey.get(&quot;Training.Date&quot;)"
          value="currentLegalCase.FileDate"/>
        <TextCell
          id="Plaintiff"
          label="DisplayKey.get(&quot;Training.Plaintiff&quot;)"
          value="currentLegalCase.Plaintiff"/>
        <TypeKeyCell
          id="Type"
          label="DisplayKey.get(&quot;Training.Type&quot;)"
          value="currentLegalCase.CaseType"
          valueType="typekey.LegalCaseType"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;Training.Status&quot;)"
          value="currentLegalCase.Status"
          valueType="typekey.LegalCaseStatus"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>