<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="GroupRegionLV">
    <Require
      name="Group"
      type="Group"/>
    <ExposeIterator
      valueType="GroupRegion"
      widget="GroupRegionLV"/>
    <RowIterator
      conversionExpression="gw.api.admin.GroupUtil.createGroupRegions(PickedValue, CurrentLocation)"
      editable="true"
      elementName="GroupRegion"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="GroupRegionPopup.push()"
      toAdd="Group.addToRegions(GroupRegion)"
      toRemove="Group.removeFromRegions(GroupRegion)"
      value="Group.Regions"
      valueType="entity.GroupRegion[]">
      <Row>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.RegionDetailDV.Name&quot;)"
          value="GroupRegion.Region.Name"/>
        <TextCell
          enableSort="false"
          id="Zones"
          label="DisplayKey.get(&quot;Web.Admin.RegionDetailDV.Zones&quot;)"
          value="GroupRegion.Region.Zones"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>