@font-face {
 font-family: {{fontName}};
 font-style: normal;
 font-weight: 900;
 src: url("../fonts/{{fontName}}.woff2") format("woff2"), url("../fonts/{{fontName}}.woff") format("woff");
}

{% for glyph in glyphs  %}
.{{ className }}-{{ glyph.name }}{{glyph.modifier}}.gw-font-icon::before {
 font-family: {{fontName}};
 content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
}{% endfor %}
