<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <RowSet
    id="ArgumentRowSet"
    mode="Generic">
    <Require
      name="arg"
      type="gw.command.Argument"/>
    <Row>
      <TextCell
        id="ArgName"
        value="arg.Name"/>
      <TextCell
        editable="true"
        id="ArgValue"
        value="arg.Value"/>
    </Row>
  </RowSet>
</PCF>