<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="MBeanLV">
    <Require
      name="BeanCategory"
      type="String"/>
    <Require
      name="GWMBeansData"
      type="gw.api.tools.MBeansData"/>
    <Require
      name="GWMBeanName"
      type="String"/>
    <Variable
      initialValue="GWMBeansData.getBeanByName(GWMBeanName)"
      name="GWMBean"
      recalculateOnRefresh="true"
      type="gw.plugin.management.GWMBean"/>
    <RowIterator
      editable="true"
      elementName="Attribute"
      pageSize="0"
      value="GWMBeansData.getBeanAttributes(GWMBeanName).map(\ attr -&gt; new gw.api.web.MBeanAttribute(GWMBeansData, GWMBean, attr))"
      valueType="gw.api.web.MBeanAttribute[]">
      <IteratorSort
        sortBy="Attribute.Name"
        sortOrder="1"/>
      <Row
        highlighted="Attribute.Changed">
        <TextCell
          id="PropertyName"
          label="DisplayKey.get(&quot;Web.InternalTools.MBean.PropertyName&quot;)"
          value="Attribute.Name"/>
        <TextCell
          editable="Attribute.Editable"
          enableSort="false"
          id="Value"
          label="DisplayKey.get(&quot;Web.InternalTools.MBean.Value&quot;)"
          value="Attribute.SimpleValue"
          valueType="java.lang.Object">
          <PostOnChange/>
        </TextCell>
        <LinkCell>
          <Link
            action="Attribute.commitChangedValue()"
            available="Attribute.Changed"
            id="SaveBtn"
            label="DisplayKey.get(&quot;Button.Save&quot;)"
            styleClass="bigButton"
            visible="Attribute.Editable"/>
          <Link
            action="Attribute.revertChangedValue()"
            available="Attribute.Changed"
            id="ResetBtn"
            label="DisplayKey.get(&quot;Button.Cancel&quot;)"
            styleClass="bigButton"
            visible="Attribute.Editable"/>
        </LinkCell>
      </Row>
      <RowIterator
        editable="false"
        elementName="Element"
        pageSize="0"
        value="Attribute.ArrayValue"
        valueType="java.util.List&lt;gw.util.Pair&lt;java.lang.Integer, java.lang.Object&gt;&gt;"
        visible="Attribute.IsArrayValue">
        <Row>
          <TextCell
            id="ArrayValueIdx"
            value="&quot;     ${Attribute.Name}[${Element.First}]&quot;"/>
          <TextCell
            id="ArrayValue"
            value="Element.Second"
            valueType="java.lang.Object"/>
          <EmptyCell
            id="EmptyCell"/>
        </Row>
      </RowIterator>
    </RowIterator>
  </ListViewPanel>
</PCF>