<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="perm.User.EditMBeans or perm.User.DevAllAccess"
    countsAsWork="false"
    id="MBean"
    parent="ServerTools()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.MBean.MBean&quot;)">
    <LocationEntryPoint
      signature="MBean(BeanCategory : String, GWMBeansData : gw.api.tools.MBeansData, GWMBeanName : String)"/>
    <LocationEntryPoint
      signature="MBean(BeanCategory : String, GWMBeansData : gw.api.tools.MBeansData, GWMBeanName : String, Result : String)"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      name="BeanCategory"
      type="String"/>
    <Variable
      name="GWMBeansData"
      type="gw.api.tools.MBeansData"/>
    <Variable
      name="GWMBeanName"
      type="String"/>
    <Variable
      initialValue="GWMBeansData.getBeanByName(GWMBeanName)"
      name="GWMBean"
      recalculateOnRefresh="true"
      type="gw.plugin.management.GWMBean"/>
    <Screen
      id="MBeanScreen">
      <Toolbar>
        <ToolbarButton
          action="MBeans.go(Result)"
          id="MBean_BackButton"
          label="DisplayKey.get(&quot;Web.InternalTools.MBean.Back&quot;)"/>
      </Toolbar>
      <Verbatim
        label="Result"/>
      <Verbatim
        label="GWMBeanName"/>
      <PanelRef
        visible="GWMBean.MBeanInfo.Operations.HasElements">
        <ListViewPanel
          id="MBeanOperationsLV"
          validationExpression="GWMBean.MBeanInfo.Operations.HasElements">
          <RowIterator
            editable="true"
            elementName="operation"
            pageSize="0"
            value="GWMBean.MBeanInfo.Operations"
            valueType="java.util.List&lt;gw.plugin.management.OperationInfo&gt;">
            <IteratorSort
              sortBy="operation.Name"
              sortOrder="1"/>
            <Row>
              <TextCell
                id="operation"
                label="DisplayKey.get(&quot;Web.MBean.Operation&quot;)"
                value="operation.Name"
                width="500"/>
              <LinkCell
                id="execute"
                label="DisplayKey.get(&quot;Button.Execute&quot;)">
                <Link
                  action="GWMBeansData.executeBeanOperation(GWMBean, operation)"
                  id="doit"
                  label="DisplayKey.get(&quot;Button.Execute&quot;)"
                  styleClass="miniButton"/>
              </LinkCell>
              <TextCell
                enableSort="false"
                id="Value"
                label="DisplayKey.get(&quot;Web.InternalTools.MBean.Result&quot;)"
                value="GWMBeansData.getBeanOperationResult(operation)"
                valueType="java.lang.Object"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef
        def="MBeanLV(BeanCategory, GWMBeansData, GWMBeanName)"
        visible="GWMBean.MBeanInfo.Attributes.HasElements"/>
    </Screen>
  </Page>
</PCF>