<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="Reload"
    parent="UnsupportedTools()"
    title="DisplayKey.get(&quot;Web.InternalTools.Reload&quot;)">
    <Screen
      id="ReloadScreen">
      <Verbatim
        id="ReloadText"
        label="gw.api.tools.InternalToolsUtil.getLastResult()"/>
      <DetailViewPanel
        id="ReloadDV">
        <InputColumn>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadPCFsAndCurrentLocation()"
            align="center"
            id="PCF"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.Reload.PCF&quot;)"/>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadUI()"
            align="center"
            id="GSTemplates"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.Reload.GSTemplates&quot;)"/>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadWorkflowEngine()"
            align="center"
            id="WorkflowEngine"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.Reload.WorkflowEngine&quot;)"/>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadDisplayNames()"
            align="center"
            id="DisplayNames"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.Reload.DisplayNames&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="ServerToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>