<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    canVisit="gw.api.tools.InternalTools.isEnabled()"
    id="UnsupportedTools"
    menuActions="InternalToolsMenuActions()"
    tabBar="InternalToolsTabBar()"
    title="null">
    <LocationRef
      location="Reload()"/>
    <LocationRef
      location="ABSampleData()"/>
    <LocationRef
      location="SystemClock()"/>
  </LocationGroup>
</PCF>
