<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../schema/pcf.xsd">
  <EntryPoint
    authenticationRequired="true"
    id="CentipedeCacheInfo"
    location="CentipedeCacheInfo()"/>
</PCF>