.gw-MenuIconWidget {
  @include gw-button--asMenuItem(true, $is-small: $gw-app--MenuIcon--is-small);
}

.gw-MenuIconWidget.gw-StyleContainer--InputColumnWidget,
.gw-MenuIconWidget.gw-StyleContainer--ValueWidget {
  align-self: center;

  // Position to other widgets
  margin-top: $gw-app--MenuIcon--spacing-widget-top-rem;
  margin-left: $gw-app--MenuIcon--spacing-widget-left-rem;
  margin-right: $gw-app--MenuIcon--spacing-widget-right-rem;
  margin-bottom: $gw-app--MenuIcon--spacing-widget-bottom-rem;
}
