<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="true"
    id="AdminAssignedUserLG"
    title="DisplayKey.get(&quot;Training.ContactAssignment&quot;)">
    <LocationRef
      location="AdminUserAndAssignedContactsPage()"/>
    <LocationRef
      location="AdminContactAssignmentPage()"/>
  </LocationGroup>
</PCF>