<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="true"
    id="AdminUserAndAssignedContactsPage"
    title="DisplayKey.get(&quot;Training.AssignedContactsCount&quot;)">
    <Screen>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="UserAndAssignedContactsLV">
          <RowIterator
            checkBoxVisible="false"
            editable="false"
            elementName="aUser"
            id="aUserIterator"
            value="trainingapp.base.AssignedUserUtil.findAllContactManagers()"
            valueType="gw.api.database.IQueryBeanResult&lt;User&gt;">
            <Row>
              <TextCell
                enableSort="false"
                id="UserName"
                label="DisplayKey.get(&quot;Training.User&quot;)"
                value="aUser.DisplayName"
                width="150"/>
              <TextCell
                align="left"
                enableSort="false"
                id="NumberOfContacts"
                label="DisplayKey.get(&quot;Training.AssignedABContacts&quot;)"
                value="trainingapp.base.AssignedUserUtil.countAssignedContacts(aUser)"
                width="100"
                valueType="java.lang.Integer"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>