<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    height="1080"
    id="DocumentationExitPoint"
    popup="true"
    url="{skin}doc/index.html"
    width="1920">
    <ExitPointParameter
      defaultValue="gw.api.web.WebUtil.getLocalizedResourcesPath()"
      locationParam="skin"
      type="String"
      urlParam="skin"/>
  </ExitPoint>
</PCF>