// ------ Top Section Padding
// Position to other widgets
// Margins not allowed

// Internal padding
$gw-app--CenterPanel-topsection--spacing-inner-top-rem: null !default;
$gw-app--CenterPanel-topsection--spacing-inner-left-rem: null !default;
$gw-app--CenterPanel-topsection--spacing-inner-right-rem: null !default;
$gw-app--CenterPanel-topsection--spacing-inner-bottom-rem: null !default;

$gw-app--CenterPanel-topsection--bg: null !default;