<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="UserPreferencesScreen">
    <Require
      name="UserSettings"
      type="UserSettings"/>
    <Require
      name="User"
      type="User"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="UserPrefsDV(UserSettings, User)"
      editable="true"/>
  </Screen>
</PCF>
