<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="ArchiveItemListPopup"
    title="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.ArchiveItemListReason&quot;, archiveDetailsData.Description)">
    <LocationEntryPoint
      signature="ArchiveItemListPopup(archiveDetailsData : gw.api.archiving.ArchiveDetailsData)"/>
    <Variable
      name="archiveDetailsData"
      type="gw.api.archiving.ArchiveDetailsData"/>
    <ScreenRef
      def="ArchiveItemListScreen(archiveDetailsData)"/>
  </Popup>
</PCF>