<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    id="ArchiveInfoByDateRange"
    parent="ArchiveInfo()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.ArchiveInfoByDay&quot;)">
    <LocationEntryPoint
      signature="ArchiveInfoByDateRange(archiveCountSummaryByDatamodelVersion : gw.api.archiving.ArchiveCountSummaryByDatamodelVersion, beginTime : java.util.Date, endTime : java.util.Date)"/>
    <Variable
      name="archiveCountSummaryByDatamodelVersion"
      type="gw.api.archiving.ArchiveCountSummaryByDatamodelVersion"/>
    <Variable
      name="beginTime"
      type="java.util.Date"/>
    <Variable
      name="endTime"
      type="java.util.Date"/>
    <Variable
      initialValue="new gw.api.archiving.ArchiveCountSummaryByDateRange(archiveCountSummaryByDatamodelVersion, beginTime, endTime)"
      name="archiveCountSummaryByDateRange"
      type="gw.api.archiving.ArchiveCountSummaryByDateRange"/>
    <Screen
      editable="true">
      <TitleBar
        title="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.ArchiveInfoFor&quot;, archiveCountSummaryByDatamodelVersion.VersionString)"/>
      <Toolbar/>
      <DetailViewPanel
        editable="true">
        <InputColumn>
          <ButtonInput
            action="ArchiveInfo.go()"
            id="BackButton"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.Back&quot;, DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchiveInfo&quot;))"/>
        </InputColumn>
        <InputColumn>
          <DateInput
            dateFormat="short"
            editable="true"
            focusOnStartEditing="true"
            id="BeginTime"
            label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.BeginTime&quot;)"
            required="true"
            timeFormat="short"
            value="beginTime"/>
        </InputColumn>
        <InputColumn>
          <DateInput
            dateFormat="short"
            editable="true"
            id="EndTime"
            label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.EndTime&quot;)"
            required="true"
            timeFormat="short"
            value="endTime"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="archiveCountSummaryByDateRange.BeginTime = beginTime; archiveCountSummaryByDateRange.EndTime = endTime"
            id="Search"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.View&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelSet
        available="archiveCountSummaryByDateRange.canQuery()"
        editable="false"
        visible="archiveCountSummaryByDateRange.canQuery()">
        <DetailViewPanel
          editable="false">
          <InputColumn>
            <TextInput
              id="Archived"
              label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.Archived&quot;)"
              value="archiveCountSummaryByDateRange.ArchivedCount"
              valueType="java.lang.Integer"/>
          </InputColumn>
          <InputColumn>
            <TextInput
              id="ExcludedBecauseOfRules"
              label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.ExcludedBecauseOfRules&quot;)"
              value="archiveCountSummaryByDateRange.getExcludedBecauseOfRulesCount()"
              valueType="java.lang.Integer"/>
          </InputColumn>
          <InputColumn>
            <ButtonInput
              action="archiveCountSummaryByDateRange.resetExcludedBecauseOfRulesFlag()"
              available="archiveCountSummaryByDateRange.getExcludedBecauseOfRulesCount() &gt; 0"
              hideIfDisabled="false"
              id="ResetExcludedBecauseOfRules"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.Reset&quot;)"/>
          </InputColumn>
          <InputColumn>
            <TextInput
              id="ExcludedBecauseOfFailure"
              label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.ExcludedBecauseOfFailure&quot;)"
              value="archiveCountSummaryByDateRange.getExcludedBecauseOfFailureCount()"
              valueType="java.lang.Integer"/>
          </InputColumn>
          <InputColumn>
            <ButtonInput
              action="archiveCountSummaryByDateRange.resetExcludedBecauseOfFailureFlag()"
              available="archiveCountSummaryByDateRange.getExcludedBecauseOfFailureCount() &gt; 0"
              hideIfDisabled="false"
              id="ResetExcludedBecauseOfFailure"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.Reset&quot;)"/>
          </InputColumn>
        </DetailViewPanel>
        <PanelDivider/>
        <PanelRef
          available="archiveCountSummaryByDateRange.canQuery()"
          def="ArchiveExcludeDetailsCV(archiveCountSummaryByDateRange)"
          editable="false"
          visible="archiveCountSummaryByDateRange.canQuery()"/>
      </PanelSet>
    </Screen>
  </Page>
</PCF>