<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ArchiveSourceInfoDV">
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.archiving.IArchiveSource)"
      type="gw.plugin.archiving.IArchiveSource"
      name="plugin"/>
    <Variable
      initialValue="gw.api.web.tools.ArchiveInfoPage.getAsOfDateMayRefresh(gw.api.util.DateUtil.currentDate().addMinutes(-15))"
      type="java.util.Date"
      name="asof"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="plugin.Status"
      type="gw.plugin.archiving.ArchiveSourceInfo"
      name="info"
      recalculateOnRefresh="true"/>
    <InputColumn>
      <DateInput
        dateFormat="short"
        id="asof"
        label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.SourceInfo.asof&quot;)"
        timeFormat="long"
        value="asof"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="store"
        label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.SourceInfo.storeStatus&quot;)"
        value="info.StoreStatus"
        valueType="typekey.ArchiveSourceStatus"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="restore"
        label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.SourceInfo.restoreStatus&quot;)"
        value="info.RetrieveStatus"
        valueType="typekey.ArchiveSourceStatus"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="delete"
        label="DisplayKey.get(&quot;Web.ServerTools.ArchiveInfo.SourceInfo.deleteStatus&quot;)"
        value="info.DeleteStatus"
        valueType="typekey.ArchiveSourceStatus"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>