<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="not gw.api.web.tools.ArchiveGraphInfoPage.getGraphNames().isEmpty()"
    countsAsWork="false"
    id="ArchiveGraphInfo"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo&quot;)">
    <Screen>
      <Variable
        initialValue="gw.api.web.tools.ArchiveGraphInfoPage.getGraphNames()"
        name="graphNames"
        type="List&lt;String&gt;"/>
      <Variable
        name="selectedGraphName"
        type="String"/>
      <Variable
        initialValue="(selectedGraphName != null) ? com.guidewire.pl.domain.archiving.DomainGraphIssues.validateNothingOutsideOfDomainGraphShouldPointToDomainGraph(selectedGraphName) : {}"
        name="warnings1"
        recalculateOnRefresh="true"
        type="java.lang.String[]"/>
      <Variable
        initialValue="(selectedGraphName != null) ? com.guidewire.pl.domain.archiving.DomainGraphIssues.validateNullLinksCannotMakeNodeUnreachable(selectedGraphName) : {}"
        name="warnings2"
        recalculateOnRefresh="true"
        type="java.lang.String[]"/>
      <DetailViewPanel
        columnDivider="false">
        <InputColumn>
          <RangeInput
            editable="true"
            id="GraphName"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.GraphName&quot;)"
            value="selectedGraphName"
            valueRange="graphNames"
            valueType="String">
            <PostOnChange
              target="DATA_ONLY"/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="gw.api.web.tools.ArchiveGraphInfoPage.download(selectedGraphName)"
            align="left"
            download="true"
            id="download"
            labelAbove="true"
            value="DisplayKey.get(&quot;Button.Download&quot;)"
            visible="selectedGraphName != null"/>
        </InputColumn>
      </DetailViewPanel>
      <CardViewPanel>
        <Card
          id="Graphs"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.Graphs&quot;)"
          visible="selectedGraphName != null">
          <DetailViewPanel>
            <InputColumn>
              <TextAreaInput
                id="instructions1"
                labelAbove="true"
                numRows="6"
                value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.DotFormatInstructions&quot;)"/>
              <TextAreaInput
                id="instructions2"
                labelAbove="true"
                numRows="6"
                value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.GraphLegend&quot;)"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef>
            <TitleBar
              title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.DomainGraphInDotFormat&quot;)"/>
            <DetailViewPanel
              editable="false">
              <InputColumn>
                <TextAreaInput
                  id="graph1"
                  labelAbove="true"
                  numRows="30"
                  value="com.guidewire.pl.domain.archiving.DomainGraphIssues.testOutputDomainGraphInDotFormat(selectedGraphName)"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="Warnings"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.Warnings&quot;)"
          visible="selectedGraphName != null">
          <PanelRef
            visible="!warnings1.IsEmpty">
            <TitleBar
              title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.ValidateNoEntityOutsideOfDomainGraphShouldPointToDomainGraph&quot;)"/>
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="false"
                elementName="warning1"
                id="warningLV1"
                value="warnings1"
                valueType="java.lang.String[]">
                <Row>
                  <TextCell
                    id="warningMessage1"
                    value="warning1"
                    width="1000"
                    wrap="true"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
          <PanelRef
            visible="!warnings2.IsEmpty">
            <TitleBar
              title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.ValidateNullLinksCannotMakeNodeUnreachable&quot;)"/>
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="false"
                elementName="warning2"
                id="warningLV2"
                value="warnings2"
                valueType="java.lang.String[]">
                <Row>
                  <TextCell
                    id="warningMessage2"
                    value="warning2"
                    width="1000"
                    wrap="true"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="EntityDiff"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.EntityDiff&quot;)"
          visible="selectedGraphName != null">
          <PanelRef>
            <TitleBar
              title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo.EntitiesExcludedFromDomainGraph&quot;)"/>
            <DetailViewPanel>
              <InputColumn>
                <TextAreaInput
                  id="EntityDiffText"
                  labelAbove="true"
                  numRows="30"
                  value="com.guidewire.pl.web.pcf.DomainGraphInfoUIHelper.getEntitiesNotIncludedInDomainGraph(selectedGraphName)"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>