<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ConsistencyChecksRunsLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
    <ExposeIterator
      flags="CheckRun"
      valueType="entity.DBConsistCheckRun"
      widget="ConsistencyChecksRunsLV"/>
    <RowIterator
      editable="true"
      elementName="Row"
      hasCheckBoxes="true"
      value="PageHelper.ConsistCheckRunsByStartTime"
      valueType="java.util.List&lt;entity.DBConsistCheckRun&gt;">
      <ToolbarFlag
        name="CheckRun"/>
      <Row>
        <LinkCell
          align="center"
          id="DownloadHeader"
          label="DisplayKey.get(&quot;Button.Download&quot;)">
          <Link
            action="PageHelper.downloadConsistencyCheckRun(Row)"
            download="true"
            icon="&quot;download&quot;"
            iconType="svgFileName"
            id="LVDownload"
            showConfirmMessage="false"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download&quot;)"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DownloadHeaderErrors"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download.Errors&quot;)"
          visible="PageHelper.ShowDownloadErrorsColHeader">
          <Link
            action="PageHelper.downloadConsistencyCheckErrorsRun(Row)"
            download="true"
            icon="&quot;download&quot;"
            iconType="svgFileName"
            id="LVDownloadErrors"
            showConfirmMessage="false"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download&quot;)"
            visible="Row.NumErrorExecs &gt; 0"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="ViewLinkCell"
          label="DisplayKey.get(&quot;Button.View&quot;)"
          visible="gw.api.system.server.ServerModeUtil.Dev">
          <Link
            action="ReportView.push(&quot;DBCCRun&quot;, Row.PublicID)"
            icon="&quot;search&quot;"
            iconType="svgFileName"
            id="View"
            label="DisplayKey.get(&quot;Button.View&quot;)"
            showConfirmMessage="false"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteHeader"
          label="DisplayKey.get(&quot;Button.Delete&quot;)">
          <Link
            action="PageHelper.deleteDBConsistCheckRun(Row)"
            confirmMessage="DisplayKey.get(&quot;Java.Web.ConsistencyCheck.DeleteConfirmation&quot;) "
            icon="&quot;delete&quot;"
            iconType="svgFileName"
            id="LVDelete"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"
            visible="Row.EndTime != null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="RerunHeader"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Rerun&quot;)"
          tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.RerunTooltip&quot;)"
          visible="PageHelper.ShowRerunColHeader">
          <Link
            action="PageHelper.submitRerunBatch(Row)"
            icon="&quot;rerun&quot;"
            iconType="svgFileName"
            id="LVRerunLink"
            visible="PageHelper.runContainsSqlErrors(Row) and Row.EndTime != null"/>
        </LinkCell>
        <TextCell
          enableSort="false"
          id="LVDescription"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Description&quot;)"
          value="Row.Description"
          width="325"
          wrap="true"/>
        <TextCell
          enableSort="false"
          id="numErrors"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumErrors&quot;)"
          value="Row.NumErrorExecs"
          valueType="java.lang.Integer"
          wrapLabel="true"/>
        <TextCell
          enableSort="false"
          id="totalChecks"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.TotalChecks&quot;)"
          value="Row.TotalNumChecks"
          valueType="java.lang.Integer"
          wrapLabel="true"/>
        <TextCell
          enableSort="false"
          id="cellNotStarted"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ChecksNotStarted&quot;)"
          value="Row.NumExecsNotStarted"
          valueType="java.lang.Integer"
          wrapLabel="true"/>
        <TextCell
          enableSort="false"
          id="cellInProgress"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ChecksInProgress&quot;)"
          value="Row.NumExecsInProgress"
          valueType="java.lang.Integer"
          wrapLabel="true"/>
        <TextCell
          enableSort="false"
          id="cellFinished"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ChecksFinished&quot;)"
          value="&quot;&quot; + Row.NumExecsFinished + &quot; ( &quot; + ((100 * Row.NumExecsFinished) / Row.TotalNumChecks)  + &quot;% )&quot;"
          valueVisible="Row.TotalNumChecks != 0"
          wrapLabel="true"/>
        <DateCell
          dateFormat="short"
          id="LVStartTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.StartTime&quot;)"
          timeFormat="short"
          value="Row.StartTime"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.EndTime&quot;)"
          timeFormat="short"
          value="Row.EndTime"/>
        <TextCell
          enableSort="false"
          id="LVDuration"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Duration&quot;)"
          value="PageHelper.getFormattedDuration(Row.Duration?.longValue())"
          width="100"
          wrapLabel="true"/>
        <TextCell
          align="center"
          enableSort="false"
          id="LVVersion"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Version&quot;)"
          value="&quot;( &quot; + (Row.MajorSchemaVersion as String) + &quot;, &quot; + (Row.MinorSchemaVersion as String) + &quot;, &quot; + (Row.PlatformMajorSchemaVersion as String) + &quot;, &quot; + (Row.PlatformMinorSchemaVersion as String) + &quot;, &quot; + (Row.ExtensionsSchemaVersion as String) + &quot; )&quot;"
          width="200"
          wrapLabel="true"/>
        <TextCell
          id="LVPubliciD"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ID&quot;)"
          sortBy="Row.ID"
          value="Row.PublicID"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>