<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    browserTitle="DisplayKey.get(&quot;Web.ConsistencyCheck.PageTitle&quot;)"
    canEdit="true"
    countsAsWork="false"
    id="ConsistencyChecks"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.ConsistencyCheck.PageTitle&quot;)">
    <Variable
      initialValue="new gw.api.tools.ConsistencyChecksRunsPageHelper()"
      name="CCPageHelper"
      type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCPageHelper.DbTableNames)"
      name="TablePicker"
      type="gw.api.tools.NameablePicker"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCPageHelper.ConsistCheckTypeCodes)"
      name="CheckPicker"
      type="gw.api.tools.NameablePicker"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCPageHelper.TableGroups)"
      name="TableGroupPicker"
      type="gw.api.tools.NameablePicker"/>
    <Variable
      initialValue="CCPageHelper.getWorkQueueExecutors(true)"
      name="WorkQueueExecutors"
      recalculateOnRefresh="true"
      type="java.util.List&lt;gw.api.tools.ConsistencyChecksRunsPageHelper.WorkQueueExecutorInfo&gt;"/>
    <Screen
      editable="true"
      id="ConsistencyChecksScreen">
      <Variable
        initialValue="new gw.api.tools.ConsistencyChecksRunsPageHelper( )"
        name="CCViewHelper"
        type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
      <Variable
        initialValue="&quot;&quot;"
        name="tableSearch"
        type="String"/>
      <Verbatim
        label="DisplayKey.get(&quot;Web.InfoPages.ConsistencyChecks.HeaderText&quot;)"/>
      <AlertBar
        allowDismiss="false"
        id="QueueStoppedAlert"
        label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.QueueStopped&quot;, BatchProcessType.TC_DBCONSISTENCYCHECK)"
        visible="not CCPageHelper.WorkQueueStarted"/>
      <AlertBar
        allowDismiss="false"
        id="NoServerAlert"
        label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.NoServer&quot;)"
        visible="CCPageHelper.WorkQueueStarted and not CCPageHelper.areWorkersRunning()"/>
      <AlertBar
        allowDismiss="false"
        id="OneServerAlert"
        label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.OneServer&quot;, BatchProcessType.TC_DBCONSISTENCYCHECK)"
        visible="CCPageHelper.isOnlyOneServerInClusterProcessingWorkQueue(WorkQueueExecutors)"/>
      <CardViewPanel>
        <Card
          id="RunConsistChecksCard"
          title="DisplayKey.get(&quot;Web.InfoPages.ConsistencyChecks.Run&quot;)">
          <PanelRef>
            <PanelRow>
              <PanelColumn>
                <PanelSet>
                  <Verbatim
                    label="DisplayKey.get(&quot;Web.InfoPages.ConsistencyChecks.RunText&quot;)"/>
                </PanelSet>
                <DetailViewPanel>
                  <InputColumn
                    refreshOnProgressComplete="CCPageHelper">
                    <ListViewInput
                      def="ConsistencyChecksRunsLV(CCPageHelper)"
                      labelAbove="true">
                      <Toolbar>
                        <CheckedValuesToolbarButton
                          allCheckedRowsAction="CCPageHelper.downloadMultipleConsistencyCheckRuns(CheckedValues)"
                          download="true"
                          flags="any CheckRun"
                          id="downloadAll"
                          iterator="ConsistencyChecksRunsLV.ConsistencyChecksRunsLV"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.DownloadMultiple&quot;)"/>
                        <CheckedValuesToolbarButton
                          checkedRowAction="if (CheckedValue.EndTime != null) { CCPageHelper.deleteDBConsistCheckRun(CheckedValue) }"
                          confirmMessage="DisplayKey.get(&quot;Java.Web.ConsistencyCheck.DeleteConfirmation&quot;) "
                          id="DeleteChecked"
                          iterator="ConsistencyChecksRunsLV.ConsistencyChecksRunsLV"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Delete&quot;)"/>
                        <ToolbarButton
                          action="null"
                          id="Refresh"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Refresh&quot;)"/>
                      </Toolbar>
                    </ListViewInput>
                    <ProgressInput
                      id="batchProgress"
                      labelAbove="true"
                      percentage="CCPageHelper.StatusType == WorkItemSetState.TC_COMPLETED ? 100 : (CCPageHelper.Running ? CCPageHelper.ProgressPercentageIfRunning : -1)"
                      status="CCPageHelper.Status"/>
                    <ButtonInput
                      action="CCPageHelper.submitBatch(TablePicker.ChosenNames, TableGroupPicker.ChosenPickers, CheckPicker.ChosenPickers)"
                      available="CCPageHelper.WorkQueueStarted"
                      hideIfDisabled="false"
                      id="SubmitBatchJobButton"
                      labelAbove="true"
                      value="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.SubmitRun&quot;)"
                      visible="!CCPageHelper.isRunning() and !CCPageHelper.isWriterRunning()"/>
                    <ButtonInput
                      action="CCPageHelper.pauseRun()"
                      hideIfDisabled="false"
                      id="PauseButton"
                      labelAbove="true"
                      value="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.PauseRun&quot;)"
                      visible="CCPageHelper.isRunning() and not CCPageHelper.isCanceling() and CCPageHelper.areWorkersRunning()"/>
                    <ButtonInput
                      action="CCPageHelper.resumeRun()"
                      hideIfDisabled="false"
                      id="ResumeButton"
                      labelAbove="true"
                      value="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ResumeRun&quot;)"
                      visible="CCPageHelper.isRunning() and not CCPageHelper.isCanceling() and !CCPageHelper.areWorkersRunning()"/>
                    <ButtonInput
                      action="CCPageHelper.cancelRun()"
                      hideIfDisabled="false"
                      id="CancelButton"
                      labelAbove="true"
                      value="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.CancelRun&quot;)"
                      visible="CCPageHelper.isRunning() and not CCPageHelper.isCanceling()"/>
                  </InputColumn>
                </DetailViewPanel>
                <PanelRow>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <TextInput
                          editable="true"
                          id="Descripton"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Description&quot;)"
                          value="CCPageHelper.Description"/>
                      </InputColumn>
                      <InputColumn>
                        <ButtonInput
                          action="ConsistencyChecksChangeNumOfWorkersPopup.push(CCPageHelper)"
                          available="CCPageHelper.WorkQueueStarted"
                          hideIfDisabled="false"
                          id="NumThreads"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers&quot;, CCPageHelper.calcNumberOfThreads(WorkQueueExecutors))"
                          value="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.Change&quot;)"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelColumn>
                </PanelRow>
                <PanelRow>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <RangeRadioInput
                          editable="true"
                          id="tableSelectionType"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.SpecifyTables&quot;)"
                          value="CCPageHelper.TableSelectMode"
                          valueRange="gw.api.database.ConsistCheckRunTableSelectType.values()"
                          valueType="gw.api.database.ConsistCheckRunTableSelectType">
                          <PostOnChange/>
                        </RangeRadioInput>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRow
                      editable="true"
                      visible="CCPageHelper.TableSelectMode == SPECIFY_TABLES">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showTables">
                          <Toolbar
                            id="availTablesToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="row.Chosen = false"
                              id="useButton"
                              iterator="tableSelectionLV"
                              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Remove&quot;)"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tableSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="row"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="TablePicker.ChosenPickers"
                              valueType="gw.api.tools.PickerRow[]">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.SelectedTables&quot;)"
                                  value="row.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="available">
                        <PanelRef
                          editable="true">
                          <Toolbar>
                            <CheckedValuesToolbarButton
                              checkedRowAction="row.Chosen = true"
                              id="useButton"
                              iterator="tableAllLV"
                              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Add&quot;)"
                              showConfirmMessage="false"/>
                            <ToolbarInput
                              editable="true"
                              id="searchString"
                              value="TablePicker.SearchString"
                              valueType="java.lang.String"
                              visible="true">
                              <PostOnChange/>
                            </ToolbarInput>
                            <ToolbarButton
                              action="null"
                              id="ToolbarButton"
                              label="DisplayKey.get(&quot;Web.ConsistencyCheck.Search&quot;)"/>
                            <ToolbarButton
                              action="TablePicker.SearchString = &quot;&quot;"
                              id="ResetButton"
                              label="DisplayKey.get(&quot;Web.ConsistencyCheck.ResetButton&quot;)"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tableAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="row"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="TablePicker.getUnchosenPickersFilteredByName()"
                              valueType="gw.api.tools.PickerRow[]">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.AvailTables&quot;)"
                                  value="row.DisplayName"
                                  width="400"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                    <PanelRow
                      editable="true"
                      visible="CCPageHelper.TableSelectMode == SPECIFY_TABLEGROUPS">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showChosenTableGroups">
                          <Toolbar
                            id="chosenTableGroupsToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="ChosenTableGroup.Chosen = false"
                              id="useButton"
                              iterator="ChosenTableGroupIterator"
                              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Remove&quot;)"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tableGroupSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="ChosenTableGroup"
                              hasCheckBoxes="true"
                              id="ChosenTableGroupIterator"
                              pageSize="25"
                              value="TableGroupPicker.ChosenPickers"
                              valueType="gw.api.tools.PickerRow[]">
                              <Row>
                                <TextCell
                                  id="chosentablegroupname"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.SelectedTableGroups&quot;)"
                                  value="ChosenTableGroup.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="availableTableGroups">
                        <PanelRef
                          editable="true"
                          id="showAvailableTableGroups">
                          <Toolbar
                            id="availableTableGroupsToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="availableTableGroup.Chosen = true;"
                              id="useButton"
                              iterator="availableTableGroupsIterator"
                              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Add&quot;)"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tablegroupAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="availableTableGroup"
                              hasCheckBoxes="true"
                              id="availableTableGroupsIterator"
                              pageSize="25"
                              value="TableGroupPicker.UnchosenPickersFilteredByName"
                              valueType="gw.api.tools.PickerRow[]">
                              <Row>
                                <TextCell
                                  id="tablegroupname"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.AvailTableGroups&quot;)"
                                  value="availableTableGroup.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                  </PanelColumn>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <BooleanRadioInput
                          editable="true"
                          falseLabel="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NotAllTypes&quot;)"
                          id="AnalyzeAllTypes"
                          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.CheckAllTypes&quot;)"
                          value="CCPageHelper.CheckAllTypes">
                          <PostOnChange/>
                        </BooleanRadioInput>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRow
                      editable="true"
                      visible="!CCPageHelper.CheckAllTypes">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showConsistCheckTypes">
                          <Toolbar
                            id="checkSelectedToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="selectedCheckType.Chosen = false"
                              id="useButton"
                              iterator="checkSelectLV"
                              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Remove&quot;)"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="checkTypeSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="selectedCheckType"
                              hasCheckBoxes="true"
                              id="checkSelectLV"
                              pageSize="25"
                              value="CheckPicker.ChosenPickers"
                              valueType="gw.api.tools.PickerRow[]">
                              <Row>
                                <TextCell
                                  helpText="CCPageHelper.getCheckTypeCode(selectedCheckType)"
                                  id="row"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.SelectedCheckTypes&quot;)"
                                  value="selectedCheckType.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="availableTypes">
                        <PanelRef
                          editable="true">
                          <Toolbar
                            id="checkAllToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="availableCheckType.Chosen = true"
                              id="useButton"
                              iterator="checkAllLV"
                              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Add&quot;)"
                              showConfirmMessage="false"/>
                            <ToolbarInput
                              editable="true"
                              id="searchString"
                              value="CheckPicker.SearchString"
                              valueType="java.lang.String"
                              visible="true">
                              <PostOnChange/>
                            </ToolbarInput>
                            <ToolbarButton
                              action="null"
                              id="ToolbarButton"
                              label="DisplayKey.get(&quot;Web.ConsistencyCheck.Search&quot;)"/>
                            <ToolbarButton
                              action="CheckPicker.SearchString = &quot;&quot;"
                              id="Reset"
                              label="DisplayKey.get(&quot;Web.ConsistencyCheck.ResetButton&quot;)"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="checkAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="availableCheckType"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="CheckPicker.getUnchosenPickersFilteredByName()"
                              valueType="gw.api.tools.PickerRow[]">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.AvailCheckTypes&quot;)"
                                  value="availableCheckType.DisplayName"/>
                                <TextCell
                                  id="ccTypeCode"
                                  label="DisplayKey.get(&quot;Java.Web.ConsistencyCheck.TypeCode&quot;)"
                                  value="CCPageHelper.getCheckTypeCode(availableCheckType)"/>
                                <TextCell
                                  id="conistCheckDescription"
                                  label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Description&quot;)"
                                  value="CCPageHelper.getCheckTypeDescription(availableCheckType)"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                  </PanelColumn>
                </PanelRow>
              </PanelColumn>
            </PanelRow>
          </PanelRef>
        </Card>
        <Card
          id="ViewConsistChecksCard"
          title="DisplayKey.get(&quot;Web.InfoPages.ConsistencyChecks.View&quot;)">
          <PanelRef
            id="UseRunTextPanel">
            <PanelSet
              id="DownloadTextPanelSet">
              <PanelRow>
                <PanelColumn>
                  <PanelRef>
                    <TitleBar
                      title="DisplayKey.get(&quot;Web.InfoPages.ConsistencyChecks.DownloadText&quot;)"/>
                    <DetailViewPanel>
                      <InputColumn>
                        <ButtonInput
                          action="CCViewHelper.downloadConsistencyChecks( null )"
                          download="true"
                          id="DownloadAllConsistencyChecks"
                          labelAbove="true"
                          value="DisplayKey.get(&quot;Web.ConsistencyCheck.Download&quot;)"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelRef>
                  <PanelSet>
                    <PanelRef
                      id="ViewTextPanelRef">
                      <TitleBar
                        title="DisplayKey.get(&quot;Web.InfoPages.ConsistencyChecks.ViewText&quot;)"/>
                      <DetailViewPanel
                        editable="true">
                        <InputColumn>
                          <TextInput
                            editable="true"
                            focusOnStartEditing="true"
                            id="TableNameSearchTextInput"
                            label="DisplayKey.get(&quot;Web.ConsistencyCheck.TableNameSearch&quot;)"
                            value="tableSearch"
                            visible="true"/>
                        </InputColumn>
                        <InputColumn>
                          <ButtonInput
                            action="null"
                            id="searchButton"
                            labelAbove="true"
                            value="DisplayKey.get(&quot;Web.ConsistencyCheck.Search&quot;)"/>
                        </InputColumn>
                        <InputColumn>
                          <ButtonInput
                            action="tableSearch = &quot;&quot;"
                            id="ResetButton"
                            labelAbove="true"
                            value="DisplayKey.get(&quot;Web.ConsistencyCheck.ResetButton&quot;)"/>
                        </InputColumn>
                        <InputColumn/>
                      </DetailViewPanel>
                    </PanelRef>
                  </PanelSet>
                </PanelColumn>
              </PanelRow>
              <ListDetailPanel
                selectionName="cCheck"
                selectionType="gw.api.database.ConsistencyCheck">
                <PanelRef
                  def="ConsistencyChecksLV(CCViewHelper, tableSearch)">
                  <Toolbar/>
                </PanelRef>
                <CardViewPanel>
                  <Card
                    id="cCheckCard"
                    title="DisplayKey.get(&quot;Web.ConsistencyCheck.SQLString&quot;)">
                    <TemplatePanel>
                      <TemplatePanelContents><![CDATA[<div style="width:1040;height:500;overflow-x:scroll;overflow-y:scroll;">
  <% printContent(cCheck.CheckCommand, false) %>
</div>
          
        ]]></TemplatePanelContents>
                    </TemplatePanel>
                  </Card>
                  <Card
                    id="QueryToIdentifyRowsCard"
                    title="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.QueryToIdentifyRows&quot;)"
                    visible="cCheck.QueryToIdentifyRows != null and cCheck.QueryToIdentifyRows != ''">
                    <TemplatePanel>
                      <TemplatePanelContents><![CDATA[<div style="width:1040;height:500;overflow-x:scroll;overflow-y:scroll;">
  <% printContent(com.guidewire.pl.perfdownload.platform.analyzer.sql.SQLPrettyPrinterFactory.getSQLPrettyPrinter().printText(cCheck.QueryToIdentifyRows, true), false) %>
</div>

        ]]></TemplatePanelContents>
                    </TemplatePanel>
                  </Card>
                </CardViewPanel>
              </ListDetailPanel>
            </PanelSet>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
