<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    countsAsWork="false"
    id="ConsistencyChecksChangeNumOfWorkersPopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.PopupTitle&quot;)">
    <LocationEntryPoint
      signature="ConsistencyChecksChangeNumOfWorkersPopup(CCPageHelper : gw.api.tools.ConsistencyChecksRunsPageHelper)"/>
    <Variable
      name="CCPageHelper"
      type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
    <Variable
      initialValue="CCPageHelper.getWorkQueueExecutors(false)"
      name="WorkQueueExecutors"
      recalculateOnRefresh="true"
      type="java.util.List&lt;gw.api.tools.ConsistencyChecksRunsPageHelper.WorkQueueExecutorInfo&gt;"/>
    <Variable
      initialValue="CCPageHelper.calcNumberOfThreads(WorkQueueExecutors)"
      name="ActualNumThreads"
      recalculateOnRefresh="true"
      type="int"/>
    <Variable
      initialValue="ActualNumThreads"
      name="DesiredNumThreads"
      type="int"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="null"
          id="RefreshButton"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Refresh&quot;)"/>
        <ToolbarButton
          action="CCPageHelper.setDesiredNumberOfThreads(DesiredNumThreads)"
          id="ApplyButton"
          confirmMessage="DisplayKey.get('Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.Changing.Refresh')"
          label="DisplayKey.get('Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.Apply')"/>
      </Toolbar>
      <AlertBar
        allowDismiss="false"
        id="OneServerAlert"
        label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.OneServer&quot;, BatchProcessType.TC_DBCONSISTENCYCHECK)"
        visible="DesiredNumThreads == ActualNumThreads and CCPageHelper.isOnlyOneServerInClusterProcessingWorkQueue(WorkQueueExecutors)"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            id="ActualNumThreads"
            label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.Actual&quot;)"
            value="ActualNumThreads"
            valueType="java.lang.Integer"/>
          <TextInput
            editable="true"
            id="DesiredNumThreads"
            label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.Desired&quot;)"
            requestValidationExpression="VALUE &gt; 0 ? null : DisplayKey.get(&quot;Validator.PositiveInteger&quot;, VALUE)"
            required="true"
            value="DesiredNumThreads"
            valueType="java.lang.Integer"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        id="ClusterStatusPanel">
        <TitleBar
          title="DisplayKey.get('Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.ClusterStatus')"/>
        <ListViewPanel
          id="ExecutorsLV">
          <RowIterator
            editable="false"
            elementName="Executor"
            value="WorkQueueExecutors"
            valueType="java.util.List&lt;gw.api.tools.ConsistencyChecksRunsPageHelper.WorkQueueExecutorInfo&gt;">
            <IteratorSort
              sortBy="Executor.NumWorkers"
              sortDirection="descending"
              sortOrder="1"/>
            <IteratorSort
              sortBy="Executor.ServerId"
              sortOrder="2"/>
            <Row>
              <TextCell
                id="ServerId"
                label="DisplayKey.get(&quot;Web.WorkQueueExecutorsLv.Hostname&quot;)"
                value="Executor.ServerId"/>
              <TextCell
                align="left"
                id="NumWorkers"
                label="DisplayKey.get(&quot;Web.WorkQueueExecutorsLv.MaxWorkers&quot;)"
                value="Executor.NumWorkers"
                valueType="java.lang.Integer"/>
              <TextCell
                id="Active"
                label="DisplayKey.get('Web.InternalTools.DBConsistCheckRun.NumberOfWorkers.Active')"
                value="Executor.InCluster ? DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ExecutorActive.Yes&quot;) : DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ExecutorActive.Unknown&quot;)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>
