<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DataDistsLV">
    <ExposeIterator
      flags="DataDistFlag"
      valueType="entity.DatabaseDataDist"
      widget="DataDistsLV"/>
    <Require
      name="PageHelper"
      type="gw.api.tools.DataDistDVHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      hasCheckBoxes="true"
      pageSize="15"
      value="PageHelper.AvailDataDists"
      valueType="entity.DatabaseDataDist[]">
      <ToolbarFlag
        name="DataDistFlag"/>
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCell"
          label="DisplayKey.get(&quot;Button.Download&quot;)">
          <Link
            action="PageHelper.downloadDataDistribution(Row)"
            download="true"
            icon="&quot;download&quot;"
            iconType="svgFileName"
            id="LVGetZip"
            showConfirmMessage="false"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download&quot;)"
            visible="Row.EndTime != null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="ViewLinkCell"
          label="DisplayKey.get(&quot;Button.View&quot;)"
          visible="gw.api.system.server.ServerModeUtil.Dev">
          <Link
            action="ReportView.push(&quot;DataDist&quot;, Row.PublicID)"
            icon="&quot;search&quot;"
            iconType="svgFileName"
            id="View"
            label="DisplayKey.get(&quot;Button.View&quot;)"
            showConfirmMessage="false"
            visible="Row.EndTime != null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteCellHeader"
          label="DisplayKey.get(&quot;Button.Delete&quot;)">
          <Link
            action="PageHelper.deleteDataDistribution(Row)"
            confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.DeleteConfirmation&quot;)"
            icon="&quot;delete&quot;"
            iconType="svgFileName"
            id="LVDelete"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"
            visible="Row.EndTime  != null"/>
        </LinkCell>
        <TextCell
          enableSort="false"
          id="LVDescription"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Description&quot;)"
          value="Row.Description"
          width="500"
          wrap="true"/>
        <DateCell
          dateFormat="long"
          id="LVStartTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.StartTime&quot;)"
          timeFormat="short"
          value="Row.StartTime"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVEndTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.EndTime&quot;)"
          timeFormat="short"
          value="Row.EndTime"/>
        <TextCell
          id="PublicID"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ID&quot;)"
          sortBy="Row.ID"
          value="Row.PublicID"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>