<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DatabaseParametersLV">
    <Require
      name="ParameterSet"
      type="gw.api.database.DatabaseParameterSet"/>
    <Row
      id="dbParamLVHeaderRow"
      renderAsSmartHeader="true">
      <CellIterator
        elementName="Name"
        id="headerCells"
        value="ParameterSet.AttributeNames"
        valueType="java.lang.String[]">
        <TextCell
          id="HeaderCell"
          value="Name"/>
      </CellIterator>
    </Row>
    <RowIterator
      editable="false"
      elementName="Values"
      id="dbParamLVRowIter"
      pageSize="20"
      value="ParameterSet.AttributeValues"
      valueType="java.lang.Object[][]">
      <Row
        id="dbParamLVRowIterRow">
        <CellIterator
          elementName="Value"
          id="dbParamLVRowIterRowCellIter"
          value="Values"
          valueType="java.lang.Object[]">
          <TextCell
            id="ValueCell"
            value="Value"
            valueType="java.lang.Object"
            wrap="true"/>
        </CellIterator>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>