<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="DataDistributionInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistributionInfo&quot;)">
    <Variable
      initialValue="new gw.api.tools.DataDistDVHelper()"
      name="PageHelper"
      type="gw.api.tools.DataDistDVHelper"/>
    <Variable
      name="searchString"
      type="String"/>
    <Screen
      id="DataDistributionInfoScreen">
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.AvailDists&quot;)"/>
        <DetailViewPanel>
          <InputColumn
            refreshOnProgressComplete="true">
            <ListViewInput
              def="DataDistsLV(PageHelper)"
              labelAbove="true">
              <Toolbar>
                <CheckedValuesToolbarButton
                  allCheckedRowsAction="PageHelper.downloadComparisonOfDataDistributions(CheckedValues)"
                  download="true"
                  flags="two DataDistFlag"
                  id="LVGetSummaryZip"
                  iterator="DataDistsLV.DataDistsLV"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.DownloadComparisonZip&quot;)"/>
                <CheckedValuesToolbarButton
                  allCheckedRowsAction="PageHelper.downloadCombinedDataDistribution(CheckedValues)"
                  download="true"
                  flags="two DataDistFlag"
                  id="LVGetCombinedZip"
                  iterator="DataDistsLV.DataDistsLV"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.DownloadCombinedZip&quot;)"/>
                <CheckedValuesToolbarButton
                  checkedRowAction="PageHelper.deleteDataDistribution(CheckedValue)"
                  confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.DeleteConfirmation&quot;)"
                  flags="any DataDistFlag"
                  id="LVDelete"
                  iterator="DataDistsLV.DataDistsLV"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"/>
                <ToolbarButton
                  action="null"
                  available="true"
                  id="RefreshButton"
                  label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
              </Toolbar>
            </ListViewInput>
            <ButtonInput
              action="PageHelper.submitBatch()"
              id="SubmitBatch"
              label="&quot; &quot;"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.SubmitJob&quot;)"
              visible="!PageHelper.BatchRunning"/>
            <ProgressInput
              id="batchProgress"
              labelAbove="true"
              percentage="PageHelper.BatchRunning ? -1 : 100"
              status="PageHelper.BatchRunning ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.RunningBatchProcess&quot;) : null"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.BatchParams&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelSet>
        <PanelRow>
          <PanelColumn>
            <DetailViewPanel>
              <InputColumn>
                <TextInput
                  editable="true"
                  id="description"
                  label="DisplayKey.get(&quot;Web.DataDistSubmitDV.Description&quot;)"
                  requestValidationExpression="(VALUE.trim().Empty ? &quot;Description cannot be empty&quot; : null)"
                  required="true"
                  value="PageHelper.Description"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRow>
              <PanelColumn>
                <DetailViewPanel
                  id="DataDistSubmitDV">
                  <InputColumn>
                    <TextInput
                      editable="true"
                      helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.NumberThreadsHelp&quot;)"
                      id="NumThreads"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.NumberThreads&quot;)"
                      value="PageHelper.NumThreads"
                      valueType="java.lang.Integer"/>
                    <CheckBoxInput
                      editable="true"
                      id="TLDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectTypeLists&quot;)"
                      value="PageHelper.CollectTypeListTableDistribution"/>
                    <InputDivider/>
                    <CheckBoxInput
                      editable="true"
                      id="ASDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectAppSpecific&quot;)"
                      value="PageHelper.CollectAppSpecificDistributions"/>
                    <InputDivider/>
                    <CheckBoxInput
                      available="true"
                      editable="true"
                      id="AdHocDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectAdHoc&quot;)"
                      value="PageHelper.CollectAdHocDistributions"/>
                    <InputDivider/>
                    <BooleanRadioInput
                      editable="true"
                      falseLabel="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.NotAllTables&quot;)"
                      id="AnalyzeAllTables"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.AllTables&quot;)"
                      value="PageHelper.AnalyzeAllTables">
                      <PostOnChange/>
                    </BooleanRadioInput>
                  </InputColumn>
                </DetailViewPanel>
              </PanelColumn>
              <PanelColumn>
                <DetailViewPanel>
                  <InputHeaderSection>
                    <Label
                      label="DisplayKey.get(&quot;Web.DataDistSubmitDV.CollectLabel&quot;)"/>
                  </InputHeaderSection>
                  <InputColumn>
                    <CheckBoxInput
                      editable="true"
                      id="ArrDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectArrays&quot;)"
                      value="PageHelper.CollectArrayDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="AFKDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectAssignForKeys&quot;)"
                      value="PageHelper.CollectAssignableForeignKeyDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="ABDDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectAssignables&quot;)"
                      value="PageHelper.CollectAssignableDistributionsByDate"/>
                    <CheckBoxInput
                      editable="true"
                      id="STDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.StagingTable&quot;)"
                      value="PageHelper.CollectStagingTableDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="BeanVerDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectBeanVersions&quot;)"
                      value="PageHelper.CollectBeanVersionDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="BooleanDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectBooleans&quot;)"
                      value="PageHelper.CollectBooleanDistributions"/>
                  </InputColumn>
                  <InputColumn>
                    <CheckBoxInput
                      editable="true"
                      id="ClobColDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectClobs&quot;)"
                      value="PageHelper.CollectClobColumnDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="BlobColDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectBlobs&quot;)"
                      value="PageHelper.CollectBlobColumnDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="DateAnalysisDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectDateAnalysisDistributions&quot;)"
                      value="PageHelper.CollectDateAnalysisDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="FKDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectForKeys&quot;)"
                      value="PageHelper.CollectForeignKeyDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="GenericGroupDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectGenericGroups&quot;)"
                      value="PageHelper.CollectGenericGroupDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="MinAndMaxDateDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.MinMaxDates&quot;)"
                      value="PageHelper.CollectMinAndMaxDates"/>
                    <CheckBoxInput
                      editable="true"
                      id="NullableColumnDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectNullableColumns&quot;)"
                      value="PageHelper.CollectNullableColumnDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="TKDists"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.CollectTypeKeys&quot;)"
                      value="PageHelper.CollectTypeKeyDistributions"/>
                  </InputColumn>
                </DetailViewPanel>
              </PanelColumn>
            </PanelRow>
          </PanelColumn>
        </PanelRow>
        <PanelRow
          editable="true"
          visible="!PageHelper.AnalyzeAllTables">
          <PanelColumn
            editable="true">
            <PanelRef
              editable="true"
              id="shown">
              <Toolbar>
                <CheckedValuesToolbarButton
                  checkedRowAction="CheckedValue.Chosen = false"
                  id="useButton"
                  iterator="tableSelectionLV"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Remove&quot;)"
                  showConfirmMessage="false"/>
              </Toolbar>
              <ListViewPanel
                editable="true"
                id="tableSelectionLV">
                <RowIterator
                  canPick="false"
                  checkBoxVisible="true"
                  editable="true"
                  elementName="row"
                  hasCheckBoxes="true"
                  pageSize="45"
                  value="PageHelper.DBTables"
                  valueType="gw.api.tools.PickerRow[]">
                  <Row>
                    <TextCell
                      id="row"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.SelectedTables&quot;)"
                      value="row.DisplayName"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </PanelColumn>
          <PanelColumn
            editable="true"
            id="available">
            <PanelRef
              editable="true">
              <Toolbar>
                <CheckedValuesToolbarButton
                  checkedRowAction="CheckedValue.Chosen = true"
                  id="useButton"
                  iterator="tableAllLV"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Add&quot;)"
                  showConfirmMessage="false"/>
                <ToolbarInput
                  editable="true"
                  id="searchStringTextBox"
                  value="searchString"
                  valueType="java.lang.String"
                  visible="true">
                  <PostOnChange/>
                </ToolbarInput>
              </Toolbar>
              <ListViewPanel
                editable="true"
                id="tableAllLV">
                <RowIterator
                  canPick="false"
                  checkBoxVisible="true"
                  editable="true"
                  elementName="row"
                  hasCheckBoxes="true"
                  pageSize="45"
                  value="PageHelper.getUnselectedDBTables(searchString)"
                  valueType="gw.api.tools.PickerRow[]">
                  <Row>
                    <TextCell
                      id="row"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.AvailableTables&quot;)"
                      value="row.DisplayName"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
    </Screen>
  </Page>
</PCF>