<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="DatabaseStorageDV"
    mode="AllAtOnce">
    <Require
      name="ParameterSet"
      type="gw.api.database.DatabaseParameterSet"/>
    <InputColumn>
      <ListViewInput>
        <Toolbar/>
        <ListViewPanel
          id="DatabaseParametersLV">
          <Row
            renderAsSmartHeader="true">
            <CellIterator
              elementName="Name"
              id="headerCells"
              value="ParameterSet.AttributeNames"
              valueType="java.lang.String[]">
              <TextCell
                id="HeaderCell"
                value="Name"/>
            </CellIterator>
          </Row>
          <RowIterator
            editable="false"
            elementName="Values"
            value="ParameterSet.AttributeValues"
            valueType="java.lang.Object[][]">
            <Row>
              <CellIterator
                elementName="Value"
                value="Values"
                valueType="java.lang.Object[]">
                <TextCell
                  id="ValueCell"
                  value="Value"
                  valueType="java.lang.Object"/>
              </CellIterator>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>