<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.DatabaseStatisticsHelper.dbSupportsStatistics()"
    countsAsWork="false"
    id="DatabaseStatistics"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.DBCatalogStatisticsInfo.DBCatalogStatisticsInfo&quot;)">
    <Variable
      initialValue="new gw.api.tools.DatabaseStatisticsHelper()"
      name="StatisticsInfoPageHelper"
      type="gw.api.tools.DatabaseStatisticsHelper"/>
    <Variable
      initialValue="new gw.api.tools.UpdateStatsDVHelper()"
      name="ExecutionHistoryPageHelper"
      type="gw.api.tools.UpdateStatsDVHelper"/>
    <Variable
      initialValue="new com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsPreferencesUIHelper()"
      name="PreferencesHelper"
      recalculateOnRefresh="true"
      type="com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsPreferencesUIHelper"/>
    <Variable
      initialValue="&quot; - &quot;"
      name="ParameterDivider"
      type="String"/>
    <Screen
      id="DBStatisticsInfoScreen">
      <CardViewPanel>
        <Card
          id="StatisticsInfo"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.StatisticsInfo&quot;)">
          <PanelRow>
            <PanelColumn>
              <DetailViewPanel>
                <InputColumn>
                  <BooleanRadioInput
                    editable="true"
                    helpText="DisplayKey.get(&quot;Web.DBStatsSubmitDV.CanChooseTables&quot;)"
                    id="AnalyzeAllTables"
                    label="DisplayKey.get(&quot;Web.DBStatsSubmitDV.CollectStatsOnAllTables&quot;)"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.AnalyzeAllTables">
                    <PostOnChange/>
                  </BooleanRadioInput>
                  <BooleanRadioInput
                    editable="true"
                    helpText="DisplayKey.get(&quot;Web.DBStatsSubmitDV.CanShowPreviousStats&quot;)"
                    id="ShowPreviousStats"
                    label="DisplayKey.get(&quot;Web.DBStatsSubmitDV.ShowPreviousStats&quot;)"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.ShowPreviousStatistics"
                    visible="StatisticsInfoPageHelper.canShowHistoricalStatistics()">
                    <PostOnChange/>
                  </BooleanRadioInput>
                  <DateInput
                    dateFormat="short"
                    requestValidationExpression="StatisticsInfoPageHelper.validateHistoryIsAvailableForThisDate(VALUE)"
                    required="true"
                    timeFormat="short"
                    editable="true"
                    helpText="DisplayKey.get(&quot;Web.DBStatsSubmitDV.CanChoosePointInTime&quot;)"
                    id="ShowPreviousStatsTime"
                    label="DisplayKey.get(&quot;Web.DBStatsSubmitDV.PreviousStatsTime&quot;, StatisticsInfoPageHelper.EarliestPointInTimeForStatisticsString)"
                    value="StatisticsInfoPageHelper.PointInTime"
                    valueType="java.util.Date"
                    visible="StatisticsInfoPageHelper.ShowPreviousStatistics">
                    <PostOnChange/>
                  </DateInput>
                  <ButtonInput
                    action="StatisticsInfoPageHelper.downloadStats()"
                    download="true"
                    id="DownloadStats"
                    labelAbove="true"
                    value="DisplayKey.get(&quot;Button.Download&quot;)"/>
                </InputColumn>
              </DetailViewPanel>
              <PanelRef
                def="DBStatisticsRequestCV(StatisticsInfoPageHelper)"
                visible="!StatisticsInfoPageHelper.AnalyzeAllTables"/>
            </PanelColumn>
          </PanelRow>
        </Card>
        <Card
          id="ExecutionHistory"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory&quot;)">
          <DetailViewPanel>
            <InputColumn>
              <ListViewInput
                def="UpdateStatsLV(ExecutionHistoryPageHelper)"
                labelAbove="true">
                <Toolbar>
                  <ToolbarButton
                    action="null"
                    id="RefreshButton"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Refresh&quot;)"/>
                  <CheckedValuesToolbarButton
                    checkedRowAction="ExecutionHistoryPageHelper.deleteDatabaseUpdateStats(CheckedValue)"
                    confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.DeleteConfirmation&quot;)"
                    id="LVUpdateStatsDelete"
                    iterator="UpdateStatsLV.UpdateStatsLV"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"/>
                  <ToolbarButton
                    action="var incrementalParams = new com.guidewire.pl.system.database.dbstatistics.UpdateStatsRunParms(); incrementalParams.Incremental = true; com.guidewire.pl.system.dependency.PLDependencies.BatchProcessManager.startBatchProcess(TC_DBSTATS, {incrementalParams})"
                    id="RunIncrementalButton"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.RunIncrementalDevOnly&quot;)"
                    visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()"/>
                  <ToolbarButton
                    action="var runParams = new com.guidewire.pl.system.database.dbstatistics.UpdateStatsRunParms(); runParams.Incremental = false; com.guidewire.pl.system.dependency.PLDependencies.BatchProcessManager.startBatchProcess(TC_DBSTATS, {runParams})"
                    id="RunFullButton"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.RunFullDevOnly&quot;)"
                    visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()"/>
                </Toolbar>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </Card>
        <Card
          id="OracleStatsPreferences"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences&quot;)"
          visible="com.guidewire.pl.system.database.DBType.getCurrentType().Oracle &amp;&amp; gw.api.tools.DatabaseStatisticsHelper.UseOracleStatsPreferences">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="null"
                id="RefreshButton"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Refresh&quot;)"/>
              <ToolbarButton
                action="PreferencesHelper.download()"
                download="true"
                id="DownloadButton"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Download&quot;)"/>
              <ToolbarButton
                action="PreferencesHelper.reapply()"
                confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Reapply.Confirm&quot;)"
                id="ReapplyButton"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Reapply&quot;)"/>
              <ToolbarButton
                action="OracleStatisticsPreferencesConfigPopup.push(PreferencesHelper)"
                id="ToolbarButton"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Config.Generate&quot;)"/>
              <ToolbarButton
                id="DevModeOnlyButton"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.DevModeOnly&quot;)"
                visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()">
                <MenuItem
                  action="ReportView.push(&quot;OracleTableStatsPrefs&quot;, &quot;all&quot;)"
                  id="ViewMenu"
                  label="DisplayKey.get(&quot;Button.View&quot;)"/>
                <MenuItem
                  action="PreferencesHelper.deleteAllStatistics()"
                  confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Delete.Confirm&quot;)"
                  id="DeleteMenu"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Delete&quot;)"/>
                <MenuItem
                  action="PreferencesHelper.gatherIncrementalStatisticsNow()"
                  confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Gather.Confirm&quot;)"
                  id="GatherIncrementalMenu"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.GatherIncremental&quot;)"/>
                <MenuItem
                  action="PreferencesHelper.gatherFullStatisticsNow()"
                  confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Gather.Confirm&quot;)"
                  id="GatherFullMenu"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.GatherFull&quot;)"/>
              </ToolbarButton>
            </Toolbar>
            <ListViewPanel>
              <Row
                renderAsSmartHeader="true">
                <TextCell
                  id="TableNameHeader"
                  sortOrder="1"
                  value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.TableName&quot;)"/>
                <CellIterator
                  elementName="parameterName"
                  value="com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableOverview.getAllParameterNames()"
                  valueType="java.util.List&lt;java.lang.String&gt;">
                  <TextCell
                    id="parameterNameLabel"
                    value="parameterName"/>
                </CellIterator>
                <TextCell
                  id="OtherParametersHeader"
                  value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.OtherParameters&quot;)"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="tableOverview"
                id="tableOverviewRows"
                pageSize="30"
                value="PreferencesHelper.TableOverviews.toTypedArray()"
                valueType="com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableOverview[]">
                <ToolbarFilter
                  name="TableFilter">
                  <ToolbarFilterOptionGroup
                    filters="PreferencesHelper.getFilters()"/>
                </ToolbarFilter>
                <Row>
                  <TextCell
                    id="NameColumn"
                    sortOrder="1"
                    value="tableOverview.TableName"/>
                  <CellIterator
                    elementName="parameterView"
                    id="parameterViewValues"
                    type="com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsParameterView"
                    value="tableOverview.AllParameterViews"
                    valueType="java.util.List&lt;com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsParameterView&gt;">
                    <FormatCell
                      id="ParameterView">
                      <ContentInput>
                        <Link
                          id="ParameterActualLabel"
                          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.Actual&quot;)"
                          styleClass="bold"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterActualDivider"
                          label="ParameterDivider"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterActualValue"
                          label="parameterView.Actual"/>
                      </ContentInput>
                      <ContentInput>
                        <Link
                          id="ParameterConfiguredLabel"
                          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.Configured&quot;)"
                          styleClass="bold"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterConfiguredDivider"
                          label="ParameterDivider"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterConfiguredValue"
                          label="parameterView.Configured"
                          visible="parameterView.ActualDifferent"/>
                      </ContentInput>
                      <ContentInput>
                        <Link
                          id="ParameterDatamodelLabel"
                          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.Datamodel&quot;)"
                          styleClass="bold"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterDatamodelDivider"
                          label="ParameterDivider"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterDatamodelValue"
                          label="parameterView.Datamodel"
                          visible="parameterView.ActualDifferent"/>
                      </ContentInput>
                    </FormatCell>
                  </CellIterator>
                  <TextCell
                    id="OtherParameters"
                    value="PreferencesHelper.getOtherPreferences(tableOverview.TableName)"
                    wrap="true"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
