<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.tools.DatabaseStorageHelper.dbSupportsStorageInfo()"
    countsAsWork="false"
    id="DatabaseStorage"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.DatabaseStorage&quot;)">
    <Variable
      initialValue="new gw.api.tools.DatabaseStorageHelper()"
      name="PageHelper"
      type="gw.api.tools.DatabaseStorageHelper"/>
    <Variable
      initialValue="new gw.api.database.DatabaseParameterSet[]{}"
      name="ParamSets"
      type="gw.api.database.DatabaseParameterSet[]"/>
    <Variable
      name="searchString"
      type="String"/>
    <Variable
      name="ParameterSet"
      type="gw.api.database.DatabaseParameterSet"/>
    <Variable
      initialValue="false"
      name="displayed"
      type="Boolean"/>
    <Screen
      id="DatabaseStorageScreen">
      <TitleBar
        title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage&quot;)"/>
      <Toolbar>
        <ToolbarButton
          action="ParamSets = PageHelper.getDatabaseStorageSetsRefreshCache(); if (ParameterSet == null) ParameterSet = ParamSets.HasElements ? ParamSets[0] : null;"
          id="reloadData"
          label="DisplayKey.get(&quot;Button.Refresh&quot;)"
          visible="displayed"/>
        <ToolbarButton
          action="ParamSets = PageHelper.getDatabaseStorageSets(); if (ParameterSet == null) ParameterSet = ParamSets.HasElements ? ParamSets[0] : null; displayed = true"
          id="Display"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.Display&quot;)"
          visible="!displayed"/>
        <ToolbarButton
          action="PageHelper.download()"
          download="true"
          id="download"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.Download&quot;)"/>
      </Toolbar>
      <DetailViewPanel>
        <InputHeaderSection>
          <InputDivider
            visible="PageHelper.dbSupportsEstimatingCompressionSettings()"/>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.IncludeCompressionReport&quot;)"
            visible="PageHelper.dbSupportsSeparateCompressionReport()"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            flatten="true"
            id="IncludeCompressionReport"
            labelAbove="true"
            value="PageHelper.IncludeCompressionReport"
            visible="PageHelper.dbSupportsSeparateCompressionReport()">
            <PostOnChange/>
          </BooleanRadioInput>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.EstimateCompression&quot;)"
            visible="PageHelper.dbSupportsEstimatingCompressionSettings() &amp;&amp; (!(PageHelper.dbSupportsSeparateCompressionReport()) || (PageHelper.dbSupportsSeparateCompressionReport() &amp;&amp;PageHelper.IncludeCompressionReport))"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            flatten="true"
            id="EstimateCompression"
            labelAbove="true"
            value="PageHelper.EstimateCompression"
            visible="PageHelper.dbSupportsEstimatingCompressionSettings() &amp;&amp; (!(PageHelper.dbSupportsSeparateCompressionReport()) || (PageHelper.dbSupportsSeparateCompressionReport() &amp;&amp;PageHelper.IncludeCompressionReport))">
            <PostOnChange/>
          </BooleanRadioInput>
          <InputDivider
            visible="PageHelper.dbSupportsEstimatingCompressionSettings() &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())"/>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.CompressionLevels&quot;)"
            visible="PageHelper.EstimateCompression &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())"/>
          <RangeInput
            align="right"
            editable="true"
            id="EstimateCompressionTables"
            labelAbove="true"
            value="PageHelper.CompressionLevel"
            valueRange="PageHelper.AvailableCompressionLevels"
            valueType="java.lang.String"
            visible="PageHelper.EstimateCompression &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())">
            <PostOnChange/>
          </RangeInput>
          <InputDivider
            visible="PageHelper.EstimateCompression &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())"/>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.DataCompressionAllTables&quot;)"
            visible="(PageHelper.EstimateCompression || PageHelper.IncludeCompressionReport) &amp;&amp; !PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats() &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            falseLabel="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.NotAllTables&quot;)"
            flatten="true"
            id="AnalyzeAllTables"
            labelAbove="true"
            value="PageHelper.AnalyzeAllTables"
            visible="(PageHelper.EstimateCompression  || PageHelper.IncludeCompressionReport) &amp;&amp; !PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats() &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())">
            <PostOnChange/>
          </BooleanRadioInput>
          <InputDivider
            visible="PageHelper.EstimateCompression &amp;&amp; !PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats() &amp;&amp; (PageHelper.IncludeCompressionReport || !PageHelper.dbSupportsSeparateCompressionReport())"/>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.AllTables&quot;)"
            visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            falseLabel="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.NotAllTables&quot;)"
            flatten="true"
            id="AnalyzeAllTablesForCompression"
            labelAbove="true"
            value="PageHelper.AnalyzeAllTables"
            visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()">
            <PostOnChange/>
          </BooleanRadioInput>
          <InputDivider
            visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.AnalysisLevels&quot;)"
            visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <RangeInput
            align="right"
            editable="true"
            id="AnalyzeTables"
            labelAbove="true"
            value="PageHelper.AnalysisLevel"
            valueRange="PageHelper.AvailableAnalysisLevels"
            valueType="java.lang.String"
            visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()">
            <PostOnChange/>
          </RangeInput>
          <InputDivider
            visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
        </InputHeaderSection>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStorage.SelectStorageSetToDisplay&quot;)"
            visible="ParamSets != null &amp;&amp; ParamSets.HasElements"/>
          <RangeInput
            editable="true"
            id="modeSelector"
            optionLabel="VALUE.Name"
            required="true"
            value="ParameterSet"
            valueRange="ParamSets"
            valueType="gw.api.database.DatabaseParameterSet"
            visible="ParamSets != null &amp;&amp; ParamSets.HasElements">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="DatabaseStorageDV(ParameterSet)"
        editable="false"
        mode="(ParameterSet.RowItemLabel == null ? &quot;AllAtOnce&quot; : &quot;OneATATime&quot;)">
        <Toolbar/>
      </PanelRef>
      <PanelRow
        editable="true"
        visible="!PageHelper.AnalyzeAllTables &amp;&amp; (PageHelper.IncludeCompressionReport || PageHelper.EstimateCompression || PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats())">
        <PanelColumn
          editable="true">
          <PanelRef
            editable="true"
            id="shown">
            <Toolbar>
              <CheckedValuesToolbarButton
                checkedRowAction="CheckedValue.Chosen = false"
                id="useButton"
                iterator="tableSelectionLV"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Remove&quot;)"
                showConfirmMessage="false"/>
            </Toolbar>
            <ListViewPanel
              editable="true"
              id="tableSelectionLV">
              <RowIterator
                canPick="false"
                checkBoxVisible="true"
                editable="true"
                elementName="row"
                hasCheckBoxes="true"
                pageSize="45"
                value="PageHelper.getDBTables(false)"
                valueType="gw.api.tools.PickerRow[]">
                <Row>
                  <TextCell
                    id="row"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.SelectedTables&quot;)"
                    value="row.DisplayName"
                    width="400"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </PanelColumn>
        <PanelColumn
          editable="true"
          id="available">
          <PanelRef
            editable="true">
            <Toolbar>
              <CheckedValuesToolbarButton
                checkedRowAction="CheckedValue.Chosen = true"
                id="useButton"
                iterator="tableAllLV"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Add&quot;)"
                showConfirmMessage="false"/>
              <ToolbarInput
                editable="true"
                id="searchStringTextBox"
                value="searchString"
                valueType="java.lang.String"
                visible="true">
                <PostOnChange/>
              </ToolbarInput>
            </Toolbar>
            <ListViewPanel
              editable="true"
              id="tableAllLV">
              <RowIterator
                canPick="false"
                checkBoxVisible="true"
                editable="true"
                elementName="row"
                hasCheckBoxes="true"
                pageSize="45"
                value="PageHelper.getUnselectedDBTables(searchString)"
                valueType="gw.api.tools.PickerRow[]">
                <Row>
                  <TextCell
                    id="row"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.AvailableTables&quot;)"
                    value="row.DisplayName"
                    width="400"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Page>
</PCF>