<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="DBStatisticsRequestCV">
    <Require
      name="PageHelper"
      type="gw.api.tools.DatabaseStatisticsHelper"/>
    <Card
      id="Tables"
      title="DisplayKey.get(&quot;Web.DBCatStatsCV.Default.ApplicationTablesCard&quot;)">
      <PanelRef
        def="DBStatisticsRequestLV(PageHelper.DBTables)"
        id="DBStatsTablesLV">
        <Toolbar/>
      </PanelRef>
    </Card>
    <Card
      id="StagingTables"
      title="DisplayKey.get(&quot;Web.DBCatStatsCV.Default.StagingTablesCard&quot;)">
      <PanelRef
        def="DBStatisticsRequestLV(PageHelper.StagingTables)"
        id="DBStatsStagingTablesLV">
        <Toolbar/>
      </PanelRef>
    </Card>
    <Card
      id="TypelistTables"
      title="DisplayKey.get(&quot;Web.DBCatStatsCV.Default.TypelistTablesCard&quot;)">
      <PanelRef
        def="DBStatisticsRequestLV(PageHelper.TypelistTables)"
        id="DBStatsTypelistTablesLV">
        <Toolbar/>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>