<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.User.ViewInfo or perm.User.DevAllAccess"
    id="InfoPages"
    pageLinksRenderer="PageLinksDropdown"
    tabBar="InternalToolsTabBar()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MainMenu&quot;)">
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.Configuration.InfoPage&quot;)"
      location="ConfigurationInfo()"/>
    <LocationRef
      hideIfDisabled="true"
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchiveInfo&quot;)"
      location="ArchiveInfo()"/>
    <LocationRef
      hideIfDisabled="true"
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ArchivingInfo&quot;)"
      location="ArchiveGraphInfo()"/>
    <LocationRef
      location="ConsistencyChecks()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DBTableInfo&quot;)"
      location="DatabaseTableInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DBParameters&quot;)"
      location="DatabaseParameters()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.DatabaseStorage&quot;)"
      location="DatabaseStorage()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DDInfo&quot;)"
      location="DataDistributionInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InfoPagesTabBar.DB&quot;)"
      location="DatabaseStatistics()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleStatspack&quot;)"
      location="OracleStatspackInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR&quot;)"
      location="OracleAWRInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWRUnusedIndexesInfo&quot;)"
      location="OracleAWRUnusedIndexesInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline&quot;)"
      location="OracleOutlineInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DMVInfo.Title&quot;)"
      location="MicrosoftDMVInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging&quot;)"
      location="MicrosoftDriverLogging()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory&quot;)"
      location="LoadHistoryInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks&quot;)"
      location="LoadIntegrityChecks()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InfoPagesTabBar.Load&quot;)"
      location="LoadErrorsInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.InfoPage&quot;)"
      location="RuntimeEnvironmentInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.SafePersistingOrderInfo&quot;)"
      location="SafePersistingOrderInfo()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadedGosuClasses&quot;)"
      location="LoadedGosuClasses()"/>
    <LocationRef
      location="SerializationInfo()"/>
  </LocationGroup>
</PCF>