<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="InitiateBackoutConfirmPopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ConfirmBackout.Title&quot;)">
    <LocationEntryPoint
      signature="InitiateBackoutConfirmPopup(Page : gw.api.tools.UpgradeInfoPageHelper)"/>
    <Variable
      name="Page"
      type="gw.api.tools.UpgradeInfoPageHelper"/>
    <Variable
      initialValue="Page.ActiveServersNotEquivalentToCurrentConfiguration"
      name="servers"
      recalculateOnRefresh="true"
      type="List&lt;String&gt;"/>
    <Screen
      id="InitBackoutConfirmScreen">
      <DetailViewPanel>
        <InputColumn
          labelWidth="900">
          <TextInput
            id="Confirm"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ConfirmBackout.Confirm&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="NoTargetServers"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ConfirmBackout.NoActiveTargetServers&quot;)"
            value="&quot;&quot;"
            visible="servers.isEmpty()"/>
          <TextInput
            id="HasTargetServers"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ConfirmBackout.HasActiveTargetServers&quot;)"
            value="&quot;&quot;"
            visible="!servers.isEmpty()"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        editable="false"
        id="RunningServersLV"
        visible="!servers.isEmpty()">
        <RowIterator
          editable="false"
          elementName="server"
          type="String"
          value="servers"
          valueType="java.util.List&lt;String&gt;">
          <Row>
            <TextCell
              id="ServerId"
              value="server"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <PanelRef
        id="toolbar">
        <Toolbar>
          <ToolbarButton
            action="null"
            id="Refresh"
            label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
          <ToolbarButton
            action="CurrentLocation.commit(); InitiateBackoutPopup.push(Page) "
            available="servers.isEmpty()"
            id="Continue"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ConfirmBackout.Continue&quot;)"/>
          <ToolbarButton
            action="CurrentLocation.cancel()"
            id="Cancel"
            label="DisplayKey.get(&quot;Button.Cancel&quot;)"/>
        </Toolbar>
        <DetailViewPanel>
          <InputColumn/>
        </DetailViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>
