<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="LoadIntegrityChecks"
    parent="InfoPages()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks&quot;)">
    <LocationEntryPoint
      signature="LoadIntegrityChecks()"/>
    <Variable
      initialValue="new gw.api.tools.LoadIntegrityChecksHelper()"
      name="PageHelper"
      type="gw.api.tools.LoadIntegrityChecksHelper"/>
    <Variable
      initialValue="true"
      name="AllowNonAdminRef"
      type="Boolean"/>
    <Variable
      initialValue="null"
      name="PickedStagingTable"
      type="gw.api.database.WebStagingTable"/>
    <Variable
      initialValue="null"
      name="PickedLoadErrorType"
      type="LoadErrorType"/>
    <Screen
      id="LoadIntegrityChecksScreen">
      <Toolbar>
        <ToolbarButton
          action="PageHelper.download( AllowNonAdminRef )"
          download="true"
          id="ToolbarDownloadButton0"
          label="DisplayKey.get(&quot;Button.Download&quot;)"/>
      </Toolbar>
      <CardViewPanel
        id="loadIntegrityChecksCV">
        <Card
          id="ViewByStagingTableCard"
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks.ViewByStagingTable&quot;)">
          <PanelRef
            def="LoadIntegrityChecksByStagingTableLV(PageHelper, PickedStagingTable, AllowNonAdminRef)">
            <Toolbar>
              <ToolbarRangeInput
                editable="true"
                id="rangeInputstagingtable"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks.StagingTable&quot;)"
                optionLabel="VALUE.Name"
                sortValueRange="false"
                value="PickedStagingTable"
                valueRange="PageHelper.StagingTables"
                valueType="gw.api.database.WebStagingTable">
                <PostOnChange/>
              </ToolbarRangeInput>
              <ToolbarRangeInput
                editable="true"
                id="rangeInputstagintableallowref"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks.AllowReferencesToNonAdminRows&quot;)"
                required="true"
                sortValueRange="false"
                value="AllowNonAdminRef"
                valueRange="new Boolean[] {true, false}"
                valueType="java.lang.Boolean">
                <PostOnChange/>
              </ToolbarRangeInput>
            </Toolbar>
          </PanelRef>
        </Card>
        <Card
          id="ViewbyLoadErrorTypeCard"
          title="DisplayKey.get(&quot;Web.LoadIntegrityChecks.ViewbyLoadErrorTypeCard&quot;)">
          <PanelRef
            def="LoadIntegrityChecksByLoadErrorTypeLV(PageHelper, PickedLoadErrorType, AllowNonAdminRef)">
            <Toolbar>
              <ToolbarRangeInput
                editable="true"
                id="rangeInputerrortype"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks.LoadErrorType&quot;)"
                optionLabel="VALUE.DisplayName"
                value="PickedLoadErrorType"
                valueRange="PageHelper.getLoadErrorTypes(AllowNonAdminRef)"
                valueType="LoadErrorType">
                <PostOnChange/>
              </ToolbarRangeInput>
              <ToolbarRangeInput
                editable="true"
                id="rangeInputerrortypeallowref"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadIntegrityChecks.AllowReferencesToNonAdminRows&quot;)"
                required="true"
                sortValueRange="false"
                value="AllowNonAdminRef"
                valueRange="new Boolean[] {true, false}"
                valueType="java.lang.Boolean">
                <PostOnChange/>
              </ToolbarRangeInput>
            </Toolbar>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
