<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="LoadHistoryLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.LoadHistoryHelper"/>
    <Require
      name="Histories"
      type="gw.api.database.IQueryBeanResult&lt;LoadCommand&gt;"/>
    <Require
      name="ShowButtons"
      type="Boolean"/>
    <RowIterator
      editable="true"
      elementName="History"
      value="Histories"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.LoadCommand&gt;">
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCell"
          label="DisplayKey.get(&quot;Button.Download&quot;)">
          <Link
            action="PageHelper.download(History)"
            download="true"
            icon="&quot;download&quot;"
            iconType="svgFileName"
            id="download"
            showConfirmMessage="false"
            tooltip="DisplayKey.get(&quot;Button.Download&quot;)"
            visible="ShowButtons"/>
        </LinkCell>
        <LinkCell
          id="ViewHistoryCellId"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.View&quot;)">
          <Link
            action="LoadHistoryDetail.drilldown(PageHelper, History)"
            icon="&quot;view_detail&quot;"
            iconType="svgFileName"
            id="ViewHistory"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.View&quot;)"
            visible="ShowButtons"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteCellId"
          label="DisplayKey.get(&quot;Button.Delete&quot;)">
          <Link
            action="PageHelper.delete(History)"
            confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Delete.Warning&quot;)"
            icon="&quot;delete&quot;"
            iconType="svgFileName"
            id="delete"
            tooltip="DisplayKey.get(&quot;Button.Delete&quot;)"
            visible="ShowButtons"/>
        </LinkCell>
        <TextCell
          enableSort="false"
          id="LVOperationType"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.OperationType&quot;)"
          value="History.CommandType.DisplayName"
          wrap="true"/>
        <DateCell
          dateFormat="short"
          id="LVStartTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.StartTime&quot;)"
          sortBy="History.StartTime"
          sortDirection="descending"
          sortOrder="1"
          timeFormat="short"
          value="History.StartTime"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.EndTime&quot;)"
          timeFormat="short"
          value="History.EndTime"/>
        <TextCell
          align="right"
          enableSort="false"
          id="LVDuration"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Duration&quot;)"
          value="PageHelper.getDurationString(History.StartTime, History.EndTime)"/>
        <TextCell
          id="lverrorcount"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.ErrorCount&quot;)"
          value="History.ErrorCount"
          valueType="java.lang.Integer"/>
        <TextCell
          enableSort="false"
          id="LVCallingUser"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.CallingUser&quot;)"
          value="History.CallingUser.DisplayName"/>
        <TextCell
          editable="true"
          enableSort="false"
          id="LVDescription"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Description&quot;)"
          value="History.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>