<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="LoadIntegrityChecksLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.LoadHistoryHelper"/>
    <Require
      name="IntegrityChecks"
      type="gw.api.database.IQueryBeanResult&lt;LoadIntegrityCheck&gt;"/>
    <RowIterator
      editable="false"
      elementName="IntegrityCheck"
      value="IntegrityChecks"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.LoadIntegrityCheck&gt;">
      <Row>
        <TextCell
          id="icstagingtablename"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.StagingTableName&quot;)"
          sortBy="IntegrityCheck.LoadOperation.TableName"
          value="IntegrityCheck.LoadOperation.TableName"/>
        <TextCell
          align="center"
          id="icexecuteorder"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.ExecutionOrder&quot;)"
          value="IntegrityCheck.ExecutionOrder"
          valueType="java.lang.Integer"
          wrapLabel="true"/>
        <TextCell
          id="icstarttime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.StartTime&quot;)"
          sortBy="IntegrityCheck.StartTime"
          value="gw.api.util.StringUtil.formatDate(IntegrityCheck.StartTime, &quot;MM/dd/yy HH:mm:ss.SSS&quot;)"/>
        <TextCell
          id="icendtime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.EndTime&quot;)"
          sortBy="IntegrityCheck.EndTime"
          value="gw.api.util.StringUtil.formatDate(IntegrityCheck.EndTime, &quot;MM/dd/yy HH:mm:ss.SSS&quot;)"/>
        <TextCell
          id="ThreadNameID"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.ThreadName&quot;)"
          sortBy="IntegrityCheck.ThreadName"
          value="IntegrityCheck.ThreadName"/>
        <TextCell
          enableSort="false"
          id="icduration"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Duration&quot;)"
          value="PageHelper.getDurationString(IntegrityCheck.StartTime, IntegrityCheck.EndTime)"
          wrapLabel="true"/>
        <TextCell
          id="icchekctest"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.LoadIntegrityCheckType&quot;)"
          sortBy="IntegrityCheck.LoadIntegrityCheckType"
          value="IntegrityCheck.LoadIntegrityCheckType.DisplayName"
          wrapLabel="true"/>
        <TextAreaCell
          enableSort="false"
          id="icquery"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Query&quot;)"
          numRows="3"
          value="IntegrityCheck.Query"/>
        <TextAreaCell
          enableSort="false"
          id="icdescription"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Description&quot;)"
          numRows="3"
          value="IntegrityCheck.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>