<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="LoadErrorsInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.LoadErrorsInfo.LoadErrorsInfo&quot;)">
    <LocationEntryPoint
      signature="LoadErrorsInfo()"/>
    <Variable
      initialValue="new gw.api.tools.LoadErrorsHelper()"
      name="PageHelper"
      type="gw.api.tools.LoadErrorsHelper"/>
    <Screen
      id="LoadErrorsScreen">
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <ButtonInput
            action="PageHelper.download()"
            download="true"
            id="DownloadParms"
            labelAbove="true"
            value="DisplayKey.get(&quot;Button.Download&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <ListDetailPanel
        selectionName="SelectedLoadError"
        selectionType="LoadError">
        <ListViewPanel
          id="ListViewPanel0LV">
          <RowIterator
            editable="false"
            elementName="LoadError"
            id="loadErrorListColumns"
            pageSize="5"
            value="PageHelper.getLoadErrors() as gw.api.database.IQueryBeanResult&lt;LoadError&gt;"
            valueType="gw.api.database.IQueryBeanResult&lt;entity.LoadError&gt;">
            <Row>
              <TextCell
                enableSort="false"
                id="tablename"
                label="DisplayKey.get(&quot;Web.LoadErrorsInfo.Tablename&quot;)"
                value="LoadError.TableName"
                wrap="true"/>
              <TextCell
                enableSort="false"
                id="errortype"
                label="DisplayKey.get(&quot;Web.LoadErrorsInfo.Errortype&quot;)"
                value="LoadError.LoadErrorType.DisplayName"
                wrap="true"/>
              <TextCell
                enableSort="false"
                id="errormessage"
                label="DisplayKey.get(&quot;Web.LoadErrorsInfo.Errormessage&quot;)"
                value="LoadError.ErrorMessage"
                wrap="true"/>
              <TextCell
                enableSort="false"
                id="query"
                label="DisplayKey.get(&quot;Web.LoadErrorsInfo.Query&quot;)"
                value="LoadError.Query"
                wrap="true"/>
              <TextCell
                enableSort="false"
                id="count"
                label="DisplayKey.get(&quot;Web.LoadErrorsInfo.Count&quot;)"
                value="LoadError.getLoadErrorRows().Count"
                valueType="java.lang.Integer"
                wrap="true"/>
              <BooleanRadioCell
                enableSort="false"
                id="Cell0"
                label="DisplayKey.get(&quot;Web.LoadErrorsInfo.LUWID&quot;)"
                value="LoadError.LUWIDErrorRowPresent"
                wrap="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <PanelRef>
          <TitleBar
            title="DisplayKey.get(&quot;Web.LoadErrorRowsLV.LoadErrorRowsLV&quot;)"/>
          <CardViewPanel
            id="LoadErrorDetailsCV">
            <Card
              id="LoadErrorsCard"
              title="DisplayKey.get(&quot;Web.LoadErrorRowsLV.LoadErrorRowsLV&quot;)">
              <PanelRef>
                <Toolbar/>
                <ListViewPanel
                  id="loadErrorRowsLV">
                  <RowIterator
                    editable="false"
                    elementName="LoadErrorRow"
                    value="SelectedLoadError.getLoadErrorRows() as gw.api.database.IQueryBeanResult&lt;LoadErrorRow&gt;"
                    valueType="gw.api.database.IQueryBeanResult&lt;entity.LoadErrorRow&gt;">
                    <Row>
                      <TextCell
                        id="rowNumber"
                        label="DisplayKey.get(&quot;Web.LoadErrorRowsLV.RowNumber&quot;)"
                        value="LoadErrorRow.RowNumber"
                        valueType="java.lang.Long"
                        wrap="true"/>
                      <TextCell
                        id="luwid"
                        label="DisplayKey.get(&quot;Web.LoadErrorRowsLV.Luwid&quot;)"
                        value="LoadErrorRow.LUWID"
                        wrap="true"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </PanelRef>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>