<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListDetailPanel
    id="LoadEncryptTable"
    selectionName="selectedEncryptTable"
    selectionType="LoadEncryptTable">
    <Require
      name="PageHelper"
      type="gw.api.tools.LoadHistoryHelper"/>
    <Require
      name="History"
      type="LoadCommand"/>
    <PanelRef>
      <Toolbar/>
      <ListViewPanel
        id="TableEncryptLV">
        <RowIterator
          editable="false"
          elementName="tableEncrypt"
          id="TableEncryptRowIterator"
          value="History.EncryptTables"
          valueType="entity.LoadEncryptTable[]">
          <Row>
            <TextCell
              id="teTableName"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.StagingTableName&quot;)"
              value="tableEncrypt.TableName"/>
            <TextCell
              id="teEncryptCols"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.ColumnsEncrypted&quot;)"
              value="tableEncrypt.ColumnsToEncrypt"/>
            <TextCell
              id="teSelectStmt"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.SelectStmt&quot;)"
              value="tableEncrypt.SelectStmt"/>
            <TextCell
              id="teUpdateStmt"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.UpdateStmt&quot;)"
              value="tableEncrypt.UpdateStmt"/>
            <TextCell
              id="geSizeOfTimedChuck"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.SizeofTimedChunk&quot;)"
              value="tableEncrypt.SizeOfTimedChuck"
              valueType="java.lang.Integer"/>
            <TextCell
              id="teAffectedRowCount"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.AffectedRowCount&quot;)"
              value="tableEncrypt.AffectedRowCount"
              valueType="java.lang.Integer"/>
            <TextCell
              id="teStartTime"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.StartTime&quot;)"
              value="gw.api.util.StringUtil.formatDate(tableEncrypt.StartTime , &quot;MM/dd/yy HH:mm:ss.SSS&quot;)"/>
            <TextCell
              id="teEndTime"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.EndTime&quot;)"
              value="gw.api.util.StringUtil.formatDate(tableEncrypt.EndTime , &quot;MM/dd/yy HH:mm:ss.SSS&quot;)"/>
            <TextCell
              id="teDuration"
              label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Duration&quot;)"
              value="PageHelper.getDurationString(tableEncrypt.StartTime, tableEncrypt.EndTime)"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <CardViewPanel>
      <Card
        id="encryptChunksCard"
        title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.EncryptChunks&quot;)">
        <DetailViewPanel
          id="EncryptChunkDV">
          <InputFooterSection>
            <ListViewInput>
              <Toolbar/>
              <ListViewPanel
                id="EncryptChunkLV">
                <RowIterator
                  editable="false"
                  elementName="encryptChunk"
                  value="selectedEncryptTable.LoadEncryptChunks"
                  valueType="entity.LoadEncryptChunk[]">
                  <Row>
                    <TextCell
                      id="ChunkSizeCell"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ChunkSize&quot;)"
                      value="encryptChunk.ChunkSize"
                      valueType="java.lang.Integer"/>
                    <TextCell
                      id="teStartTime"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.StartTime&quot;)"
                      value="gw.api.util.StringUtil.formatDate(encryptChunk.StartTime , &quot;MM/dd/yy HH:mm:ss.SSS&quot;)"/>
                    <TextCell
                      id="teEndTime"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.EndTime&quot;)"
                      value="gw.api.util.StringUtil.formatDate(encryptChunk.EndTime , &quot;MM/dd/yy HH:mm:ss.SSS&quot;)"/>
                    <TextCell
                      id="teDuration"
                      label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.LoadHistory.Duration&quot;)"
                      value="PageHelper.getDurationString(encryptChunk.StartTime, encryptChunk.EndTime)"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </ListViewInput>
          </InputFooterSection>
        </DetailViewPanel>
      </Card>
    </CardViewPanel>
  </ListDetailPanel>
</PCF>