<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.tools.MicrosoftDMVPageHelper.supportsDMV()"
    countsAsWork="false"
    id="MicrosoftDMVInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DMVInfo.Title&quot;)">
    <Variable
      initialValue="new gw.api.tools.MicrosoftDMVPageHelper()"
      name="PageHelper"
      type="gw.api.tools.MicrosoftDMVPageHelper"/>
    <Screen
      id="MicrosoftDMVInfoScreen">
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.AvailDownloads&quot;)"/>
        <DetailViewPanel>
          <InputColumn
            id="DMVInputColumn"
            refreshOnProgressComplete="true">
            <ListViewInput
              def="PerfDownloadLV(PageHelper)"
              labelAbove="true">
              <Toolbar>
                <ToolbarButton
                  action="null"
                  id="ToolbarButton"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.RefreshReportList&quot;)"/>
              </Toolbar>
            </ListViewInput>
            <ProgressInput
              id="batchProgress"
              labelAbove="true"
              percentage="PageHelper.BatchRunning ? -1 : 100"
              status="PageHelper.BatchRunning ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.RunningBatchProcess&quot;) : null"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelRow>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DMVInfo.Instructions&quot;)"/>
            <DetailViewPanel>
              <Layout
                type="table"/>
              <ButtonInput
                action="PageHelper.submitBatch()"
                available="PageHelper.isReadyToDownload() and !PageHelper.BatchRunning"
                hideIfDisabled="false"
                id="SubmitBatch"
                labelAbove="true"
                value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.GenerateReport&quot;)"/>
            </DetailViewPanel>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
      <PanelRow>
        <PanelColumn>
          <DetailViewPanel
            id="DBCatStatsRequestDV">
            <InputColumn>
              <CheckBoxInput
                editable="true"
                id="IncludeDatabaseStatistics"
                label="DisplayKey.get(&quot;Java.InternalTools.InfoPages.DMV.IncludeDatabaseStatistics&quot;)"
                value="PageHelper.IncludeDatabaseStatistics"/>
              <CheckBoxInput
                editable="true"
                id="FetchQueryStoreRows"
                label="DisplayKey.get(&quot;Java.InternalTools.InfoPages.DMV.FetchQueryStoreRows&quot;)"
                value="PageHelper.FetchQueryStoreRows">
                <PostOnChange/>
              </CheckBoxInput>
            </InputColumn>
          </DetailViewPanel>
        </PanelColumn>
      </PanelRow>
      <PanelRef
        id="snapshotsPanel"
        visible="PageHelper.FetchQueryStoreRows">
        <Toolbar
          id="snapshotPanelTB">
          <ToolbarButton
            action="PageHelper.reloadIntervals()"
            id="RefreshIntervals"
            label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
        </Toolbar>
        <ListViewPanel
          id="IntervalsLV">
          <RowIterator
            editable="true"
            elementName="rowInterval"
            forceRefreshDespiteChangedEntries="true"
            pageSize="0"
            value="PageHelper.QueryStoreRuntimeStatsIntervalInfos"
            valueType="gw.api.tools.QueryStoreRuntimeStatsIntervalRow[]">
            <Row>
              <CheckBoxCell
                editable="true"
                id="IntervalSelected"
                value="rowInterval.Selected">
                <PostOnChange
                  target="SubmitBatch"/>
              </CheckBoxCell>
              <TextCell
                id="IntervalID"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DMVInfo.ID&quot;)"
                value="Long.toString(rowInterval.ID)"/>
              <DateCell
                dateFormat="short"
                id="IntervalStart"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DMVInfo.StartTime&quot;)"
                timeFormat="short"
                value="rowInterval.StartIntervalTime"/>
              <DateCell
                dateFormat="short"
                id="IntervalEnd"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DMVInfo.EndTime&quot;)"
                timeFormat="short"
                value="rowInterval.EndIntervalTime"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
