<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.MicrosoftDriverLoggingPageHelper.supportsMicrosoftDriverLogging()"
    countsAsWork="false"
    id="MicrosoftDriverLogging"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging&quot;)">
    <Variable
      initialValue="new gw.api.tools.MicrosoftDriverLoggingPageHelper()"
      name="PageHelper"
      type="gw.api.tools.MicrosoftDriverLoggingPageHelper"/>
    <Variable
      name="commandResult"
      type="String[]"/>
    <Screen>
      <Toolbar/>
      <DetailViewPanel
        id="MSDriverLoggingDV">
        <InputColumn>
          <TextInput
            id="instructions0"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LoggingWarning&quot;)"/>
          <RangeInput
            boldLabel="true"
            editable="true"
            id="loggingLevel"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LoggingLevel&quot;)"
            required="true"
            value="PageHelper.LoggingLevel"
            valueRange="PageHelper.AvailableLoggingLevels"
            valueType="java.lang.String"/>
          <TextInput
            id="instructions2"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogLevelsHelp&quot;)"/>
          <RangeInput
            boldLabel="true"
            editable="true"
            id="loggingFormat"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LoggingFormat&quot;)"
            required="true"
            value="PageHelper.Formatter"
            valueRange="PageHelper.AvailableLoggingFormatters"
            valueType="java.lang.String"/>
          <TextInput
            id="instructions3"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogFormatHelp&quot;)"/>
          <TextInput
            boldLabel="true"
            editable="true"
            id="topNHotObjects"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogFileLocation&quot;)"
            required="true"
            value="PageHelper.LogFileLocation"/>
          <TextInput
            id="instructions4"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogLocationHelp&quot;)"/>
          <ButtonInput
            action="commandResult = PageHelper.setMicrosoftJdbcDriverLogging()"
            id="SetLoggingLevel"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.MicrosoftDriverLogging.SetLoggingLevel&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        id="msgsLV">
        <RowIterator
          editable="false"
          elementName="msg"
          value="commandResult"
          valueType="java.lang.String[]">
          <Row>
            <TextCell
              id="msgCell"
              value="msg"
              width="1000"
              wrap="true"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>