<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.OracleAWRHelper.dbSupportsAWR()"
    countsAsWork="false"
    id="OracleAWRInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWRInfo&quot;)">
    <Variable
      initialValue="new gw.api.tools.OracleAWRHelper()"
      name="PageHelper"
      type="gw.api.tools.OracleAWRHelper"/>
    <Variable
      initialValue="true"
      name="Paging"
      type="Boolean"/>
    <Variable
      initialValue="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.Report&quot;)"
      name="ReportDescription"
      type="java.lang.String"/>
    <Variable
      initialValue="(new gw.api.database.AWRReportUserSettingsFactory()).AwrReportUserSettings"
      name="AwrReportUserSettings"
      type="gw.api.database.AWRReportUserSettings"/>
    <Screen
      id="OracleAWRInfoScreen">
      <Variable
        initialValue="PageHelper.AWRSnapshots"
        name="AWRSnapshots"
        recalculateOnRefresh="true"
        type="gw.api.database.DatabaseSnapshotInfo[]"/>
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.AvailDownloads&quot;)"/>
        <DetailViewPanel>
          <InputColumn
            refreshOnProgressComplete="true">
            <ListViewInput
              def="PerfDownloadLV(PageHelper)"
              id="PerfDownloadLV"
              labelAbove="true">
              <Toolbar>
                <ToolbarButton
                  action="null"
                  id="ToolbarButton"
                  label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.RefreshReportList&quot;)"/>
              </Toolbar>
            </ListViewInput>
            <ProgressInput
              id="batchProgress"
              labelAbove="true"
              percentage="PageHelper.BatchRunning ? -1 : 100"
              status="PageHelper.BatchRunning ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.RunningBatchProcess&quot;) : null"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <Messages
        id="OraAWRMessageBar"/>
      <PanelRow>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.Instructions&quot;)"/>
            <DetailViewPanel>
              <InputColumn>
                <ButtonInput
                  action="PageHelper.submitBatchFromUI(AwrReportUserSettings)"
                  available="PageHelper.isReadyToDownload(false) and !PageHelper.BatchRunning"
                  hideIfDisabled="false"
                  id="submitBatch"
                  labelAbove="true"
                  value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.GenerateReport&quot;)"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
          <DetailViewPanel>
            <InputColumn
              width="40%">
              <CheckBoxInput
                editable="true"
                helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables.Required2&quot;, DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.CapturePeakedBindVariables&quot;), DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeInMemorySQLMonitor&quot;)) "
                id="ProbeVDollarTablesFlag"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables&quot;)"
                value="AwrReportUserSettings.ProbeVDollarTables">
                <PostOnChange
                  onChange="if (!AwrReportUserSettings.ProbeVDollarTables) {AwrReportUserSettings.CapturePeakedBindVariables = false; AwrReportUserSettings.ProbeInMemorySQLMonitor = false}"/>
              </CheckBoxInput>
              <CheckBoxInput
                available="AwrReportUserSettings.ProbeVDollarTables"
                editable="true"
                helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables.Required&quot;)"
                id="CapturePeakedBindVariables"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.CapturePeakedBindVariables&quot;)"
                value="AwrReportUserSettings.CapturePeakedBindVariables"/>
              <CheckBoxInput
                available="AwrReportUserSettings.ProbeVDollarTables"
                editable="true"
                helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables.Required&quot;)"
                id="ProbeInMemorySQLMonitor"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeInMemorySQLMonitor&quot;)"
                value="AwrReportUserSettings.ProbeInMemorySQLMonitor">
                <PostOnChange
                  onChange="if (!AwrReportUserSettings.ProbeInMemorySQLMonitor) {AwrReportUserSettings.InMemorySQLMonitorIncludeAllExecutions = false}"/>
              </CheckBoxInput>
              <CheckBoxInput
                available="AwrReportUserSettings.ProbeInMemorySQLMonitor"
                editable="true"
                helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeInMemorySQLMonitor.Required&quot;)"
                id="InMemorySQLMonitorIncludeAllExecutions"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeInMemorySQLMonitorIncludeAllExecutions&quot;)"
                value="AwrReportUserSettings.InMemorySQLMonitorIncludeAllExecutions"/>
              <CheckBoxInput
                editable="true"
                id="SearchForQueriesWithMultiplePlansFlag"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesWithMultiplePlans&quot;)"
                value="AwrReportUserSettings.SearchForQueriesWithMultiplePlans"/>
              <CheckBoxInput
                editable="true"
                id="SearchForQueriesOnlyInFirstSnapshotFlag"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesOnlyInFirstSnapshot&quot;)"
                value="AwrReportUserSettings.SearchForQueriesOnlyInFirstSnapshot"/>
              <CheckBoxInput
                editable="true"
                id="SearchForQueriesOnlyInLastSnapshotFlag"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesOnlyInLastSnapshot&quot;)"
                value="AwrReportUserSettings.SearchForQueriesOnlyInLastSnapshot"/>
              <CheckBoxInput
                editable="true"
                id="IncludeMetadataForInstrumentationTables"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeMetadataForInstrumentationTables&quot;)"
                value="AwrReportUserSettings.IncludeMetadataForInstrumentationTables"/>
              <CheckBoxInput
                editable="true"
                id="IncludeDatabaseStatistics"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeDatabaseStatistics&quot;)"
                value="AwrReportUserSettings.IncludeDatabaseStatistics"/>
            </InputColumn>
            <InputColumn
              width="40%">
              <CheckBoxInput
                editable="true"
                id="ProbeOnDiskSQLMonitor"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeOnDiskSQLMonitor&quot;)"
                value="AwrReportUserSettings.ProbeOnDiskSQLMonitor">
                <PostOnChange
                  onChange="if (!AwrReportUserSettings.ProbeOnDiskSQLMonitor) {AwrReportUserSettings.OnDiskSQLMonitorIncludeAllExecutions = false}"/>
              </CheckBoxInput>
              <CheckBoxInput
                available="AwrReportUserSettings.ProbeOnDiskSQLMonitor"
                editable="true"
                helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeOnDiskSQLMonitor.Required&quot;)"
                id="OnDiskSQLMonitorIncludeAllExecutions"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ProbeOnDiskSQLMonitorIncludeAllExecutions&quot;)"
                value="AwrReportUserSettings.OnDiskSQLMonitorIncludeAllExecutions"/>
              <CheckBoxInput
                editable="true"
                id="CapturePeakedBindVariablesFromAWR"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.CapturePeakedBindVariablesFromAWR&quot;)"
                value="AwrReportUserSettings.CapturePeakedBindVariablesFromAWR"/>
              <CheckBoxInput
                editable="true"
                id="GenerateCallsToASHScripts"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.GenerateCallsToASHScripts&quot;)"
                value="AwrReportUserSettings.GenerateCallsToASHScripts"/>
              <CheckBoxInput
                editable="true"
                id="ConcurrentMessagingAnalysis"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ConcurrentMessagingAnalysis&quot;)"
                value="AwrReportUserSettings.ConcurrentMessagingAnalysis"/>
              <CheckBoxInput
                editable="true"
                id="ConcurrentBatchProcessAndWorkerAnalysis"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ConcurrentBatchProcessAndWorkerAnalysis&quot;)"
                value="AwrReportUserSettings.ConcurrentBatchProcessAndWorkerAnalysis"/>
              <CheckBoxInput
                editable="true"
                id="ConcurrentHistoryAnalysis"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.ConcurrentHistoryAnalysis&quot;)"
                value="AwrReportUserSettings.ConcurrentHistoryAnalysis"/>
              <CheckBoxInput
                editable="true"
                helpText="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeNativeOracleAWRReport.HelpText&quot;)"
                id="IncludeNativeOracleAWRReport"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeNativeOracleAWRReport&quot;)"
                value="AwrReportUserSettings.IncludeNativeOracleAWRReport"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef
            def="OracleAWRLV(AWRSnapshots)"
            id="snapshotsPanel"
            mode="Paging ? &quot;paging&quot; : &quot;nopaging&quot;">
            <Toolbar
              id="orasptb">
              <ToolbarButton
                action="Paging = !Paging"
                id="TogglePaging"
                label="Paging ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.DisablePaging&quot;) : DisplayKey.get(&quot;Web.InternalTools.InfoPages.EnablePaging&quot;)"/>
              <ToolbarButton
                action="PageHelper.loadAwrSnapshots();"
                id="RefreshAWRs"
                label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
            </Toolbar>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Page>
</PCF>
