<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="OracleStatspackLV"
    mode="nopaging">
    <Require
      name="OracleStatspackInfo"
      type="gw.api.tools.OracleStatspackHelper"/>
    <RowIterator
      editable="true"
      elementName="Row"
      pageSize="0"
      value="OracleStatspackInfo.SnapshotInfo"
      valueType="gw.api.database.DatabaseSnapshotInfo[]">
      <Row>
        <CheckBoxCell
          editable="true"
          id="selector"
          validationLabel="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleStatspack.SnaphshotChosen&quot;)"
          value="Row.SnapshotChosen">
          <PostOnChange/>
        </CheckBoxCell>
        <TextCell
          align="center"
          enableSort="false"
          id="SnapshotID"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleStatspack.ID&quot;)"
          value="Row.Id"
          valueType="java.lang.Integer"/>
        <DateCell
          dateFormat="medium"
          enableSort="false"
          id="time"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleStatspack.StartTime&quot;)"
          timeFormat="medium"
          value="Row.SnapTime"/>
        <DateCell
          dateFormat="medium"
          enableSort="false"
          id="startuptime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleStatspack.StartupTime&quot;)"
          timeFormat="medium"
          value="Row.StartupTime"/>
        <TextCell
          enableSort="false"
          id="Description"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleStatspack.Description&quot;)"
          value="Row.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>