<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="OracleOutlineLV">
    <Require
      name="OracleOutlineInfo"
      type="gw.api.tools.OracleOutlineHelper"/>
    <RowIterator
      editable="false"
      elementName="outline"
      value="OracleOutlineInfo.OutlineInfo"
      valueType="gw.api.database.DatabaseOutlineInfo[]">
      <Row>
        <TextCell
          action="OracleOutlineDetailsPopup.push(outline)"
          id="Name"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Name&quot;)"
          value="outline.Name"/>
        <TextCell
          id="Category"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Category&quot;)"
          value="outline.Category"/>
        <TextCell
          id="Used"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Used&quot;)"
          value="outline.Used"/>
        <DateCell
          dateFormat="short"
          id="TimeStamp"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.TimeStamp&quot;)"
          timeFormat="short"
          value="outline.TimeStamp"/>
        <TextCell
          id="Version"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Version&quot;)"
          value="outline.Version"/>
        <TextAreaCell
          id="SQLText"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.SQLText&quot;)"
          numRows="5"
          value="outline.PrettySQL"/>
        <TextCell
          id="Signature"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Signature&quot;)"
          value="outline.Signature"/>
        <TextCell
          id="Compatible"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Compatible&quot;)"
          value="outline.Compatible"/>
        <TextCell
          id="Enabled"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleOutline.Enabled&quot;)"
          value="outline.Enabled"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>