<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.OracleAWRHelper.dbSupportsAWR()"
    countsAsWork="false"
    id="OracleAWRUnusedIndexesInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWRUnusedIndexesInfo&quot;)">
    <Variable
      initialValue="new gw.api.tools.OracleAWRHelper()"
      name="PageHelper"
      type="gw.api.tools.OracleAWRHelper"/>
    <Variable
      initialValue="true"
      name="Paging"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeInstrumentationTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeStagingTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeTempTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeTypelistTables"
      type="Boolean"/>
    <Screen
      id="OracleAWRInfoScreen">
      <DetailViewPanel>
        <InputColumn>
          <CheckBoxInput
            editable="true"
            id="IncludeInstrumentationTables"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeInstrumentationTables&quot;)"
            value="IncludeInstrumentationTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeStagingTables"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeStagingTables&quot;)"
            value="IncludeStagingTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeTempTables"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeTempTables&quot;)"
            value="IncludeTempTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeTypelistTables"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.IncludeTypelistTables&quot;)"
            value="IncludeTypelistTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <ButtonInput
            action="PageHelper.downloadAWRUnusedIndexInfo(IncludeInstrumentationTables, IncludeStagingTables, IncludeTempTables, IncludeTypelistTables)"
            available="PageHelper.isReadyToDownload(true)"
            download="true"
            id="download"
            labelAbove="true"
            value="DisplayKey.get(&quot;Button.Download&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="OracleAWRLV(PageHelper.AWRSnapshots)"
        mode="Paging ? &quot;paging&quot; : &quot;nopaging&quot;">
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.UnusedIndexesInstructions&quot;)"/>
        <Toolbar
          id="orasptb">
          <ToolbarButton
            action="Paging = !Paging"
            id="TogglePaging"
            label="Paging ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.DisablePaging&quot;) : DisplayKey.get(&quot;Web.InternalTools.InfoPages.EnablePaging&quot;)"/>
          <ToolbarButton
            action="PageHelper.loadAwrSnapshots()"
            id="ToolbarButton"
            label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Page>
</PCF>