<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    autosaveable="false"
    canEdit="false"
    countsAsWork="false"
    id="OracleStatisticsPreferencesConfigPopup"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Config.Generate&quot;)">
    <LocationEntryPoint
      signature="OracleStatisticsPreferencesConfigPopup(PreferencesHelper : com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsPreferencesUIHelper)"/>
    <Variable
      name="PreferencesHelper"
      type="com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsPreferencesUIHelper"/>
    <Screen>
      <TemplatePanel>
        <TemplatePanelContents><![CDATA[<div style="width:1040;height:500;overflow-x:scroll;overflow-y:scroll;font-family:monospace">
  <% printContent(PreferencesHelper.generateChangedConfig(),  false) %>
</div>]]></TemplatePanelContents>
      </TemplatePanel>
    </Screen>
  </Popup>
</PCF>
