<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PerfDownloadLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.PerfReportHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      value="gw.api.tools.PerfReportHelper.PerfDownloads"
      valueType="gw.api.tools.PerfDownloadDetail[]">
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCell"
          label="DisplayKey.get(&quot;Button.Download&quot;)">
          <Link
            action="PageHelper.download(Row.PublicID)"
            download="true"
            icon="&quot;download&quot;"
            iconType="svgFileName"
            id="LVGetZip"
            showConfirmMessage="false"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download&quot;)"
            visible="Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.SUCCESS.getValue() or Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.FAILED.getValue()"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="ViewLinkCell"
          label="DisplayKey.get(&quot;Button.View&quot;)"
          visible="gw.api.system.server.ServerModeUtil.Dev">
          <Link
            action="ReportView.push(&quot;PerfReport&quot;, Row.PublicID)"
            icon="&quot;search&quot;"
            iconType="svgFileName"
            id="View"
            label="DisplayKey.get(&quot;Button.View&quot;)"
            showConfirmMessage="false"
            visible="Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.SUCCESS.getValue() or Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.FAILED.getValue()"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteLinkCell"
          label="DisplayKey.get(&quot;Button.Delete&quot;)">
          <Link
            action="PageHelper.deletePerfReport(Row.PublicID)"
            confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPaqes.OracleAWR.DeleteConfirmation&quot;, Row.PublicID)"
            icon="&quot;delete&quot;"
            iconType="svgFileName"
            id="LVDelete"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"
            visible="Row.EndTime != null or !PageHelper.BatchRunning"/>
        </LinkCell>
        <TextCell
          id="IdCell"
          label="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.ID&quot;)"
          sortBy="Row.Id"
          value="Row.PublicID"/>
        <TextCell
          enableSort="false"
          id="LVStatus"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.OracleAWR.Status&quot;)"
          value="PageHelper.getStatusString(Row.Status)"/>
        <DateCell
          dateFormat="short"
          id="LVStartTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.StartTime&quot;)"
          timeFormat="short"
          value="Row.StartTime"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.EndTime&quot;)"
          timeFormat="short"
          value="Row.EndTime"/>
        <TextCell
          enableSort="false"
          id="LVDescription"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PerfDownload.Description&quot;)"
          value="Row.Description"
          width="800"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>