<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="RuntimeEnvironmentInfo"
    parent="InfoPages()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.InfoPage&quot;)">
    <Screen>
      <Variable
        initialValue="new gw.api.tools.RuntimeEnvironmentInfoPageHelper()"
        name="PageHelper"
        type="gw.api.tools.RuntimeEnvironmentInfoPageHelper"/>
      <Variable
        initialValue="PageHelper.SystemInfo"
        name="systemDetails"
        type="java.lang.String"/>
      <Toolbar
        id="RuntimeEnvironmentInfo_ToolBar">
        <ToolbarButton
          action="PageHelper.download()"
          download="true"
          id="RuntimeEnvironmentInfo_Download"
          label="DisplayKey.get(&quot;Button.Download&quot;)"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            boldLabel="true"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.VersionProperties&quot;)"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="VersionPropertiesLV">
              <RowIterator
                editable="false"
                elementName="key"
                id="versionproperties"
                pageSize="0"
                value="PageHelper.getVersionPropertyKeys()"
                valueType="java.lang.Object[]">
                <Row>
                  <TextCell
                    id="versionproperties_key"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.Key&quot;)"
                    sortOrder="1"
                    value="key"
                    valueType="java.lang.Object"/>
                  <TextCell
                    id="versionproperties_value"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.Value&quot;)"
                    value="PageHelper.getVersionPropertyValue(key as String)"
                    valueType="java.lang.Object"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.SystemProperties&quot;)"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="SystemPropertiesLV">
              <RowIterator
                editable="false"
                elementName="entry"
                id="systemproperties"
                pageSize="0"
                value="java.lang.System.getProperties().entrySet().toTypedArray()"
                valueType="java.util.Map.Entry&lt;java.lang.Object, java.lang.Object&gt;[]">
                <Row>
                  <TextCell
                    id="systemproperties_key"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.Key&quot;)"
                    sortOrder="1"
                    value="entry.Key"
                    valueType="java.lang.Object"/>
                  <TextCell
                    id="systemproperties_value"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.Value&quot;)"
                    value="entry.Value"
                    valueType="java.lang.Object"
                    width="600"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.EnvironmentVariables&quot;)"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="EnvironmentVarsLV">
              <RowIterator
                editable="false"
                elementName="entry"
                id="EnvironmentVars"
                pageSize="0"
                value="java.lang.System.getenv().Keys.order()"
                valueType="gw.util.IOrderedList&lt;java.lang.String&gt;">
                <Row>
                  <TextCell
                    id="EnvironmentVars_key"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.Key&quot;)"
                    sortOrder="1"
                    value="entry"/>
                  <TextCell
                    id="EnvironmentVars_value"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.Value&quot;)"
                    value="java.lang.System.getenv(entry)"
                    width="600"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <TextAreaInput
            id="SystemDetailsTextBox"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.RuntimeEnvironment.SystemDetails&quot;)"
            labelAbove="true"
            numRows="24"
            value="systemDetails"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>