<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    countsAsWork="false"
    id="ServerPerformance"
    parent="UnsupportedTools()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Title&quot;)">
    <LocationEntryPoint
      signature="ServerPerformance()"/>
    <Variable
      initialValue="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.getServerPerformancePCFRows()"
      name="Data"
      type="java.util.List&lt;com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.ServerPerformancePCFRow&gt;"/>
    <Screen
      id="ServerPerformanceScreen">
      <Toolbar>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.enable()"
          id="EnableButton"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Enable&quot;)"
          visible="not com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.Enabled"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.disable()"
          id="DisableButton"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Disable&quot;)"
          visible="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.Enabled"/>
        <ToolbarButton
          action="Data = com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.getServerPerformancePCFRows()"
          available="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.Enabled"
          id="RefreshButton"
          label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.clearData(); Data = com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.getServerPerformancePCFRows()"
          available="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.Enabled"
          id="ClearResultsButton"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.ClearResults&quot;)"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.exportSummaryToCSV()"
          available="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.Enabled"
          download="true"
          id="SummaryExportButton"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.ExportSummary&quot;)"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.exportRawDataToCSV()"
          available="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.Enabled"
          download="true"
          id="RawDataExportButton"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.ExportRaw&quot;)"/>
      </Toolbar>
      <ListViewPanel
        id="ServerPerformanceLV">
        <Row
          renderAsSmartHeader="true">
          <EmptyCell
            colspan="2"
            id="pageOverallH"/>
          <TextCell
            colspan="2"
            id="serverOverallH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Server&quot;)"/>
          <TextCell
            colspan="3"
            id="clientOverallH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Browser&quot;)"/>
          <TextCell
            id="endToEndOverallH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.EndToEnd&quot;)"/>
        </Row>
        <Row
          renderAsSmartHeader="true">
          <TextCell
            id="pageNameH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Page&quot;)"/>
          <TextCell
            id="requestsH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.Requests&quot;)"/>
          <TextCell
            id="serverOnServerH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.ServerSeenOnServer&quot;)"/>
          <TextCell
            id="serverOnClientH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.ServerSeenOnClient&quot;)"/>
          <TextCell
            id="clientRequestH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.BrowserRequest&quot;)"/>
          <TextCell
            id="clientResponseH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.BrowserResponse&quot;)"/>
          <TextCell
            id="clientTotalH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.BrowserTotal&quot;)"/>
          <TextCell
            id="endToEndTotalH"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.ServerPerformance.EndToEndDescription&quot;)"/>
        </Row>
        <RowIterator
          editable="false"
          elementName="Row"
          id="MainRows"
          pageSize="0"
          value="Data"
          valueType="java.util.List&lt;com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.ServerPerformancePCFRow&gt;">
          <IteratorSort
            sortBy="Row.PageId"
            sortOrder="1"/>
          <Row>
            <TextCell
              id="name"
              value="Row.PageId"/>
            <TextCell
              id="serverRequests"
              value="Row.NumRequests"
              valueType="java.lang.Integer"/>
            <TextCell
              id="serveonserverravg"
              value="Row.AverageServerTime"
              valueType="java.lang.Long"/>
            <TextCell
              id="serveronclientavg"
              value="Row.AverageClientObservedServerTime"
              valueType="java.lang.Long"/>
            <TextCell
              id="clientrequestavg"
              value="Row.AverageClientRequestTime"
              valueType="java.lang.Long"/>
            <TextCell
              id="clientresponseavg"
              value="Row.AverageClientResponseTime"
              valueType="java.lang.Long"/>
            <TextCell
              id="clienttotalavg"
              value="Row.AverageClientTime"
              valueType="java.lang.Long"/>
            <TextCell
              id="endtoendavg"
              value="Row.AverageEndToEndTime"
              valueType="java.lang.Long"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <PanelRef
        def="ServerToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>