<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="StartFullUpgradePopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.StartFull&quot;)">
    <LocationEntryPoint
      signature="StartFullUpgradePopup(Page : gw.api.tools.UpgradeInfoPageHelper)"/>
    <Variable
      name="Page"
      type="gw.api.tools.UpgradeInfoPageHelper"/>
    <Screen
      id="StartFullUpgradeScreen">
      <DetailViewPanel>
        <InputColumn
          labelWidth="700">
          <TextInput
            id="toProceed"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line1&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="shutdown"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line2&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="backup"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line3&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="deploy"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line4&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="startBatch"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line5&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="startOthers"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line6&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="complete"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartFull.Line7&quot;)"
            value="&quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        id="toolbar">
        <Toolbar>
          <ToolbarButton
            action="Page.startFullUpgrade(); CurrentLocation.commit()"
            id="StartFull"
            label="DisplayKey.get(&quot;Button.Yes&quot;)"/>
          <EditButtons
            cancelLabel="DisplayKey.get(&quot;Button.No&quot;)"
            editVisible="false"
            id="editButtons"
            updateVisible="false"/>
        </Toolbar>
        <DetailViewPanel>
          <InputColumn/>
        </DetailViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>