<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UpdateStatsLV">
    <ExposeIterator
      valueType="entity.DatabaseUpdateStats"
      widget="UpdateStatsLV"/>
    <Require
      name="PageHelper"
      type="gw.api.tools.UpdateStatsDVHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      hasCheckBoxes="true"
      pageSize="15"
      value="PageHelper.AvailDatabaseUpdateStats"
      valueType="entity.DatabaseUpdateStats[]">
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCellHeader"
          label="DisplayKey.get(&quot;Button.Download&quot;)">
          <Link
            action="PageHelper.downloadDatabaseUpdateStats(Row)"
            download="true"
            icon="&quot;download&quot;"
            iconType="svgFileName"
            id="LVGetZip"
            showConfirmMessage="false"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download&quot;)"
            visible="Row.EndTime != null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="LinkCellHeaderID"
          label="DisplayKey.get(&quot;Button.Delete&quot;)">
          <Link
            action="PageHelper.deleteDatabaseUpdateStats(Row)"
            confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.DeleteConfirmation&quot;)"
            icon="&quot;delete&quot;"
            iconType="svgFileName"
            id="LVDelete"
            tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"
            visible="Row.EndTime != null"/>
        </LinkCell>
        <TextCell
          enableSort="false"
          id="LVDescription"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Description&quot;)"
          value="Row.Description"/>
        <BooleanRadioCell
          enableSort="false"
          id="LVIncremental"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Incremental&quot;)"
          value="Row.Incremental"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVStartTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.StartTime&quot;)"
          timeFormat="short"
          value="Row.StartTime"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVEndTime"
          label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.EndTime&quot;)"
          timeFormat="short"
          value="Row.EndTime"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>