<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterEnter="if (Page.SomeUpgradeInProgress) { gw.api.util.LocationUtil.addRequestScopedInfoMessage(DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.RollingInProgress&quot;)) }"
    canEdit="false"
    countsAsWork="false"
    id="UpgradeInfo"
    parent="ServerTools()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo&quot;)">
    <LocationEntryPoint
      signature="UpgradeInfo()"/>
    <Variable
      initialValue="new gw.api.tools.UpgradeInfoPageHelper()"
      name="Page"
      type="gw.api.tools.UpgradeInfoPageHelper"/>
    <Variable
      initialValue="false"
      name="hideInfoMsg"
      type="boolean"/>
    <Variable
      initialValue="Page.findAllUpgradeInstancesDateDescending()"
      name="UpgradeRows"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;UpgradeInstance&gt;"/>
    <Variable
      initialValue="!Page.ActiveServersNotEquivalentToCurrentConfiguration.isEmpty()"
      name="hasActiveServersNotEquivalentToCurrentConfiguration"
      recalculateOnRefresh="true"
      type="Boolean"/>
    <Screen
      desc="Page"
      id="UpgradeInfoScreen">
      <Toolbar>
        <ToolbarButton
          action="null"
          id="RefreshButton"
          label="DisplayKey.get(&quot;Button.Refresh&quot;)"/>
        <ToolbarButton
          action="StartRollingUpgradePopup.push(Page)"
          id="StartRolling"
          label="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.StartRolling&quot;)"
          visible="!Page.SomeUpgradeInProgress and gw.api.system.PLConfigParameters.ClusteringEnabled.Value"/>
        <ToolbarButton
          action="Page.rollingUpgradeComplete()"
          available="Page.DatabaseWorkDone &amp;&amp; !hasActiveServersNotEquivalentToCurrentConfiguration"
          confirmMessage="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.AcceptConfirmMsg&quot;)"
          id="RollingComplete"
          label="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.RollingComplete&quot;)"
          tooltip="hasActiveServersNotEquivalentToCurrentConfiguration ? DisplayKey.get('Java.Database.Rolling.Upgrade.RollingComplete.HasActiveSourceServers') : ''"
          visible="Page.RollingUpgradeInProgressAndConfigurationCompatibleWithSource"/>
        <!-- NOTE: We have to check for DatabaseWorkInProgress pretty much everywhere due to concurrency -->
        <ToolbarButton
          action="if (!Page.DatabaseWorkInProgress and !Page.BackOutInProgress) { if (Page.UpgradeJustStarted) { Page.cancelRollingUpgrade() } else { InitiateBackoutConfirmPopup.push(Page) } }"
          available="!Page.DatabaseWorkInProgress"
          confirmMessage="Page.DatabaseWorkInProgress ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.BackOutCannotStartMigrationInProgress&quot;) : Page.BackOutInProgress ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.BackOutCannotStartAnotherBackOutInProgress&quot;) : null"
          id="InitiateBackout"
          label="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.InitiateBackout&quot;)"
          visible="Page.RollingUpgradeInProgressAndConfigurationEquivalentToSource"/>
        <ToolbarButton
          action="StartFullUpgradePopup.push(Page)"
          id="StartFull"
          label="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.StartFull&quot;)"
          visible="!Page.SomeUpgradeInProgress"/>
        <ToolbarButton
          action="Page.cancelFullUpgrade()"
          id="CancelFull"
          label="DisplayKey.get(&quot;Java.Database.Rolling.Upgrade.CancelFull&quot;)"
          visible="Page.FullUpgradeInProgress"/>
      </Toolbar>
      <Verbatim
        label="Page.LatestUpgrade.UpdateStatistics ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StatsUpdated&quot;) : (Page.hasRecentUpdateStatisticsProcessRun() ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StatsNotUpdatedRecentRuns&quot;) : DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StatsNotUpdatedNoRecentRuns&quot;))"
        visible="!Page.SomeUpgradeInProgress"/>
      <Verbatim
        label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.TopDescription&quot;)"/>
      <Verbatim
        id="CurrentVersion"
        label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.CurrentVersion&quot;, Page.ActiveBuildLabel)"/>
      <DetailViewPanel
        id="UpgradeInstancesDV">
        <InputColumn
          id="LVInput">
          <ProgressInput
            actionOnComplete="UpgradeInfo.go()"
            id="BackOutProgress"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.BackOutProgress&quot;)"
            labelAbove="true"
            percentage="Page.BackOutInProgress ? -1 : 100"
            visible="Page.BackOutInProgress"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              editable="false"
              id="UpgradeInfoLV">
              <Row
                renderAsSmartHeader="true">
                <EmptyCell
                  id="empty1"/>
                <EmptyCell
                  id="empty2"/>
                <EmptyCell
                  id="empty3"/>
                <EmptyCell
                  id="empty4"/>
                <EmptyCell
                  id="empty5"/>
                <TextCell
                  align="left"
                  colspan="2"
                  id="duration"
                  value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Duration&quot;)"/>
                <EmptyCell
                  id="empty6"/>
                <EmptyCell
                  id="empty7"/>
                <EmptyCell
                  id="empty8"/>
                <EmptyCell
                  id="empty9"/>
              </Row>
              <RowIterator
                checkBoxVisible="true"
                editable="true"
                elementName="UpgradeRow"
                id="UpgradeInstanceIterator"
                pageSize="200"
                value="Page.findAllUpgradeInstancesDateDescending().iterator().toList()"
                valueType="java.util.List&lt;entity.UpgradeInstance&gt;">
                <Variable
                  initialValue="UpgradeRow.findUpgradeRowCounts() as gw.api.database.IQueryBeanResult&lt;UpgradeRowCount&gt;"
                  name="RowCountsQuery"
                  type="gw.api.database.IQueryBeanResult&lt;UpgradeRowCount&gt;"/>
                <Variable
                  initialValue="UpgradeRow.findUpgradeTableRegistries() as gw.api.database.IQueryBeanResult&lt;UpgradeTableRegistry&gt;"
                  name="TableRegistryQuery"
                  type="gw.api.database.IQueryBeanResult&lt;UpgradeTableRegistry&gt;"/>
                <Variable
                  initialValue="UpgradeRow.findUpgradeDBStorageSets(false) as gw.api.database.IQueryBeanResult&lt;UpgradeDBStorageSet&gt;"
                  name="StorageSetQueryBefore"
                  type="gw.api.database.IQueryBeanResult&lt;UpgradeDBStorageSet&gt;"/>
                <Row>
                  <TextCell
                    id="Version"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Version&quot;)"
                    value="Page.getBuildLabel(UpgradeRow)"/>
                  <LinkCell
                    align="center"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Status&quot;)">
                    <Link
                      id="Status"
                      label="Page.getStatus(UpgradeRow)"/>
                  </LinkCell>
                  <TextCell
                    id="Type"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Type&quot;)"
                    value="Page.getType(UpgradeRow)"/>
                  <DateCell
                    dateFormat="short"
                    id="TotalStartTime"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.StartTime&quot;)"
                    timeFormat="medium"
                    value="UpgradeRow.StartTime"
                    wrapLabel="true"/>
                  <DateCell
                    dateFormat="short"
                    id="TotalEndTime"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.EndTime&quot;)"
                    timeFormat="medium"
                    value="UpgradeRow.EndTime"
                    wrapLabel="true"/>
                  <TextCell
                    align="left"
                    id="DatabaseDuration"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Database&quot;)"
                    value="UpgradeRow.FormattedDatabaseDuration"/>
                  <TextCell
                    align="left"
                    id="TotalDuration"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Total&quot;)"
                    value="UpgradeRow.FormattedTotalDuration"
                    wrapLabel="true"/>
                  <LinkCell
                    align="center"
                    id="DeferredTasksStatus"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.DeferredUpgrade&quot;)"
                    showHeaderIcon="false"
                    tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.DeferredUpgrade&quot;)">
                    <Link
                      icon="&quot;completed&quot;"
                      iconType="svgFileName"
                      id="Completed"
                      tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.Completed&quot;)"
                      visible="Page.getDeferredUpgradeStatus(UpgradeRow).Completed"/>
                    <Link
                      icon="&quot;error&quot;"
                      iconType="svgFileName"
                      id="NotRunning"
                      tooltip="Page.getDeferredUpgradeStatus(UpgradeRow).DisplayKey.toString()"
                      visible="Page.getDeferredUpgradeStatus(UpgradeRow).Error"/>
                    <Link
                      id="DeferredTaskStatus"
                      label="Page.getDeferredUpgradeStatus(UpgradeRow).DisplayKey"/>
                  </LinkCell>
                  <LinkCell
                    align="center"
                    id="ViewLinkCell"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ViewDetails&quot;)"
                    tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.ViewDetails&quot;)"
                    visible="gw.api.system.server.ServerModeUtil.Dev">
                    <Link
                      action="ReportView.push(&quot;UpgradeInfo&quot;, UpgradeRow.PublicID)"
                      icon="&quot;search&quot;"
                      iconType="svgFileName"
                      id="View"
                      label="DisplayKey.get(&quot;Button.View&quot;)"
                      showConfirmMessage="false"
                      tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.View&quot;)"
                      visible="UpgradeRow.ProfilerData != null"/>
                  </LinkCell>
                  <LinkCell
                    align="center"
                    id="DownloadLinkCell"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.DownloadDetails&quot;)"
                    tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.DownloadDetails&quot;)">
                    <Link
                      action="Page.download(UpgradeRow)"
                      download="true"
                      icon="&quot;download&quot;"
                      iconType="svgFileName"
                      id="Download"
                      label="DisplayKey.get(&quot;Button.Download&quot;)"
                      showConfirmMessage="false"
                      tooltip="DisplayKey.get(&quot;Web.InternalTools.DBConsistCheckRun.Download&quot;)"
                      visible="UpgradeRow.ProfilerData != null"/>
                  </LinkCell>
                  <LinkCell
                    align="center"
                    id="DeleteCell"
                    label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.RemoveDetailData&quot;)"
                    tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.RemoveDetailData&quot;)">
                    <Link
                      action="UpgradeRow.deleteAllChildren()"
                      confirmMessage="DisplayKey.get(&quot;Web.InternalTools.InfoPages.UpgradeInfo.DeleteWarning&quot;)"
                      icon="&quot;delete&quot;"
                      iconType="svgFileName"
                      id="DeleteDetails"
                      tooltip="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DataDistribution.Delete&quot;)"
                      visible="UpgradeRow.ProfilerData != null"/>
                  </LinkCell>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label/>
        </InputColumn>
      </DetailViewPanel>
      <PanelSet
        id="StatisticsPanelSet"
        visible="Page.LatestUpgrade != null and not Page.LatestUpgrade.UpdateStatistics and Page.hasRecentUpdateStatisticsProcessRun()">
        <PanelRef>
          <TitleBar
            title="&quot;Statistics&quot;"/>
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="processHistory"
              pageSize="5"
              value="Page.findUpdateStatisticsProcessesAfterLatestUpgrade()"
              valueType="gw.api.database.IQueryBeanResult&lt;entity.ProcessHistory&gt;">
              <Row>
                <TypeKeyCell
                  id="BatchProcess"
                  label="DisplayKey.get(&quot;Web.InternalTools.BatchProcessInfo.BatchProcess&quot;)"
                  value="processHistory.ProcessType"
                  valueType="typekey.BatchProcessType"/>
                <DateCell
                  dateFormat="short"
                  id="StartDate"
                  label="DisplayKey.get(&quot;Web.InternalTools.BatchProcessInfo.ProcessHistoryLV.StartDate&quot;)"
                  sortDirection="descending"
                  sortOrder="1"
                  timeFormat="short"
                  value="processHistory.StartDate"/>
                <DateCell
                  dateFormat="short"
                  enableSort="false"
                  id="CompleteDate"
                  label="DisplayKey.get(&quot;Web.InternalTools.BatchProcessInfo.ProcessHistoryLV.CompleteDate&quot;)"
                  timeFormat="short"
                  value="processHistory.RanToCompletion ? processHistory.CompleteDate : null"/>
                <TextCell
                  id="OpsPerformed"
                  label="DisplayKey.get(&quot;Web.InternalTools.BatchProcessInfo.ProcessHistoryLV.OpsPerformed&quot;)"
                  value="processHistory.OpsPerformed"
                  valueType="java.lang.Integer"/>
                <TextCell
                  id="FailedOps"
                  label="DisplayKey.get(&quot;Web.InternalTools.BatchProcessInfo.ProcessHistoryLV.FailedOps&quot;)"
                  value="processHistory.FailedOps"
                  valueType="java.lang.Integer"/>
                <TextCell
                  enableSort="false"
                  id="FailureReason"
                  label="DisplayKey.get(&quot;Web.InternalTools.BatchProcessInfo.ProcessHistoryLV.FailedReason&quot;)"
                  value="processHistory.FailureReason"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </PanelSet>
    </Screen>
  </Page>
</PCF>
