<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.BusinessWeek.edit"
    canVisit="perm.BusinessWeek.view"
    id="BusinessWeekPage"
    title="DisplayKey.get(&quot;Web.Admin.BusinessWeek&quot;)">
    <Variable
      initialValue="gw.api.database.Query.make(BusinessWeek).select()"
      name="businessWeeks"
      type="gw.api.database.IQueryBeanResult&lt;BusinessWeek&gt;"/>
    <Screen
      editable="true"
      id="BusinessWeekScreen">
      <TitleBar
        title="DisplayKey.get(&quot;Web.Admin.BusinessWeek&quot;)"/>
      <Toolbar>
        <ToolbarButton
          action="NewBusinessWeek.go()"
          available="perm.BusinessWeek.create"
          id="BusinessWeek_AddBusinessWeek"
          label="DisplayKey.get(&quot;Web.Admin.BusinessWeek.AddBusinessWeek&quot;)"
          shortcut="B"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.BaseAdminUtil.deleteBusinessWeeks(CheckedValues)"
          available="perm.BusinessWeek.delete"
          id="BusinessWeek_DeleteButton"
          iterator="BusinessWeeksLV"
          label="DisplayKey.get(&quot;Button.Delete&quot;)"
          shortcut="L"/>
      </Toolbar>
      <ListViewPanel
        id="BusinessWeeksLV">
        <RowIterator
          editable="true"
          appendPageInfo="true"
          elementName="businessWeek"
          hasCheckBoxes="true"
          value="businessWeeks"
          valueType="gw.api.database.IQueryBeanResult&lt;entity.BusinessWeek&gt;">
          <Row>
            <TextCell
              action="BusinessWeekDetail.go(businessWeek)"
              id="Name"
              label="DisplayKey.get(&quot;Web.Admin.BusinessWeek.Name&quot;)"
              sortOrder="1"
              value="businessWeek.Name"/>
            <TextCell
              enableSort="false"
              id="Zones"
              label="DisplayKey.get(&quot;Web.Admin.BusinessWeek.Zones&quot;)"
              value="businessWeek.Zones"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>