<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BusinessWeekDetailDV"
    mode="default">
    <Require
      name="BusinessWeek"
      type="BusinessWeek"/>
    <Variable
      name="zoneType"
      type="ZoneType"/>
    <Variable
      initialValue="gw.api.admin.BaseAdminUtil.getDefaultCountry()"
      name="country"
      type="Country"/>
    <InputColumn>
      <RangeInput
        editable="true"
        hideIfReadOnly="true"
        id="zoneType"
        label="DisplayKey.get(&quot;Web.Admin.BusinessWeekDetailDV.BusinessWeekType&quot;)"
        value="zoneType"
        valueRange="gw.api.admin.BaseAdminUtil.getRegionZoneTypesWithGranularity(country)"
        valueType="typekey.ZoneType">
        <PostOnChange
          onChange="BusinessWeek.FilterCriteria.ZoneType=zoneType"/>
      </RangeInput>
      <ListViewInput
        def="BusinessWeekZonesLV(BusinessWeek, zoneType, country)"
        editable="true"
        hideIfReadOnly="true"
        label="DisplayKey.get(&quot;Web.Admin.BusinessWeeksLV.Zones&quot;)"
        visible="zoneType != null">
        <Toolbar
          visible="true">
          <IteratorButtons
            iterator="BusinessWeekZonesLV.BusinessWeekZonesLV"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>