<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="Admin.go()"
    afterCommit="UserDetailPage.go(user)"
    canEdit="true"
    canVisit="perm.User.create"
    id="NewUser"
    parent="Admin()"
    startEditing="user.Credential = new Credential(); user.Contact = new UserContact(); user.initPreferences()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Admin.NewUser.Title&quot;)">
    <LocationEntryPoint
      signature="NewUser()"/>
    <Variable
      initialValue="new User()"
      name="user"
      type="User"/>
    <ScreenRef
      def="UserDetailScreen(user, true)"/>
  </Page>
</PCF>