<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="ABContactSearchPopup"
    returnType="ABContact"
    title="DisplayKey.get(&quot;Web.Contacts.Popup&quot;)">
    <LocationEntryPoint
      signature="ABContactSearchPopup()"/>
    <LocationEntryPoint
      signature="ABContactSearchPopup(requiredContactType : Type)"/>
    <Variable
      initialValue="entity.ABContact"
      name="requiredContactType"
      type="Type"/>
    <ScreenRef
      def="ABContactSearchScreen(true, false, requiredContactType)"/>
  </Popup>
</PCF>
