<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="DatabaseTableInfo"
    parent="InfoPages()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo&quot;)">
    <LocationEntryPoint
      signature="DatabaseTableInfo()"/>
    <LocationEntryPoint
      signature="DatabaseTableInfo(Result : String)"/>
    <Variable
      initialValue="new gw.api.tools.DatabaseTableInfoHelper()"
      name="PageHelper"
      type="gw.api.tools.DatabaseTableInfoHelper"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new gw.api.tools.DatabaseSchemaVerifierPageHelper()"
      name="DBSchemaPageHelper"
      type="gw.api.tools.DatabaseSchemaVerifierPageHelper"/>
    <Variable
      initialValue="false"
      name="verified"
      type="boolean"/>
    <Variable
      initialValue="0"
      name="numVerificationErrors"
      type="int"/>
    <Screen
      id="DatabaseInfoScreen">
      <TitleBar
        title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo&quot;)"/>
      <Verbatim
        label="Result"/>
      <DetailViewPanel
        id="SchemaVerifyDV">
        <InputColumn>
          <ButtonInput
            action="DBSchemaPageHelper.getErrors(); verified = true; numVerificationErrors = DBSchemaPageHelper.Errors.Count"
            id="DownloadSchemaVerifierVerify"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.Verify&quot;)"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="DBSchemaPageHelper.print()"
            download="true"
            id="DownloadSchemaVerifierParms"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.Download&quot;)"/>
        </InputColumn>
        <InputColumn/>
      </DetailViewPanel>
      <DetailViewPanel
        id="NotVerifiedDV">
        <InputColumn
          id="NotVerifiedInputCol">
          <TextInput
            id="verified"
            labelAbove="true"
            value="not verified ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.NotYetVerified&quot;) : numVerificationErrors == 0 ? DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.NoErrors&quot;) : &quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        id="VerifyErrorsPanelRef">
        <Toolbar/>
        <ListViewPanel
          id="VerifyErrorsLV">
          <RowIterator
            editable="false"
            elementName="error"
            value="not verified ? new Object[0] : DBSchemaPageHelper.Errors.toArray()"
            valueType="java.lang.Object[]">
            <Row>
              <TextCell
                id="error"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.ErrorMessage&quot;)"
                value="error"
                valueType="java.lang.Object"
                width="1000"
                wrap="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <DetailViewPanel
        id="DatabaseInfoLinksDV">
        <InputColumn
          id="DownloadDBButtonInputCol">
          <ButtonInput
            action="PageHelper.download()"
            download="true"
            id="DownloadParms"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.InternalTools.InfoPages.DatabaseTableInfo.Download&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>