<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ABCompanyAdditionalInfoRowSet"
    mode="ABMedicalCareOrg">
    <Require
      name="contact"
      type="ABCompany"/>
    <Require
      name="duplicate"
      type="ABCompany"/>
    <Require
      name="merged"
      type="ABCompany"/>
    <Variable
      initialValue="{contact, duplicate, merged}"
      name="contacts"
      type="ABCompany[]"/>
    <Row>
      <TextCell
        bold="true"
        colspan="4"
        id="additionalInfo"
        value="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.AdditionalInfo&quot;)"/>
    </Row>
    <Row>
      <TextCell
        id="medicalSpecialtyLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.MedicalCareOrg.MedicalSpecialty&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="medicalSpecialty"
        value="contacts"
        valueType="entity.ABCompany[]">
        <TypeKeyCell
          editable="aContact == merged"
          id="medicalSpecialty"
          value="(aContact as ABMedicalCareOrg).MedicalOrgSpecialty"
          valueType="typekey.SpecialtyType"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>