<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ABCompanyAdditionalInfoRowSet"
    mode="ABAutoRepairShop">
    <Require
      name="contact"
      type="ABCompany"/>
    <Require
      name="duplicate"
      type="ABCompany"/>
    <Require
      name="merged"
      type="ABCompany"/>
    <Variable
      initialValue="{contact, duplicate, merged}"
      name="contacts"
      type="ABCompany[]"/>
    <Row>
      <TextCell
        bold="true"
        colspan="4"
        id="additionalInfo"
        value="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.AdditionalInfo&quot;)"/>
    </Row>
    <Row>
      <TextCell
        id="autoRepairLicenseLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.AutoRepairShop.BusinessLicense&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="autoRepairLicense"
        value="contacts"
        valueType="entity.ABCompany[]">
        <TextCell
          editable="aContact == merged"
          id="autoRepairLicense"
          value="(aContact as ABAutoRepairShop).AutoRepairLicense"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>