<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ABPersonMergeDetailsRowSet"
    mode="Japan">
    <Require
      name="persons"
      type="ABPerson[]"/>
    <Require
      name="mergedPerson"
      type="ABPerson"/>
    <Require
      name="nameOwner"
      type="gw.api.name.NameOwner"/>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.LASTNAME)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAME)"
        id="lastNamePhoneticLabel"
        value="nameOwner.LastNamePhoneticLabel"/>
      <CellIterator
        elementName="aContact"
        id="lastNamePhonetic"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAME)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.LASTNAME)"
          id="lastNamePhonetic"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.LASTNAME)"
          value="aContact.LastName"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.FIRSTNAME)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
        id="firstNamePhoneticLabel"
        value="nameOwner.FirstNamePhoneticLabel"/>
      <CellIterator
        elementName="aContact"
        id="firstNamePhonetic"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
          id="firstNamePhonetic"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
          value="aContact.FirstName"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.LASTNAMEKANJI)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAMEKANJI)"
        id="lastNameLabel"
        value="nameOwner.LastNameLabel"/>
      <CellIterator
        elementName="aContact"
        id="lastName"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAMEKANJI)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.LASTNAMEKANJI)"
          id="lastNamePhonetic"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.LASTNAMEKANJI)"
          value="aContact.LastNameKanji"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.FIRSTNAMEKANJI)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAMEKANJI)"
        id="firstNameLabel"
        value="nameOwner.FirstNameLabel"/>
      <CellIterator
        elementName="aContact"
        id="firstName"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAMEKANJI)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.FIRSTNAMEKANJI)"
          id="firstName"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.FIRSTNAMEKANJI)"
          value="aContact.FirstNameKanji"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>