<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ABPersonAdditionalInfoRowSet"
    mode="ABDoctor">
    <Require
      name="contact"
      type="ABPerson"/>
    <Require
      name="duplicate"
      type="ABPerson"/>
    <Require
      name="merged"
      type="ABPerson"/>
    <Variable
      initialValue="{contact, duplicate, merged}"
      name="contacts"
      type="entity.ABPerson[]"/>
    <Row>
      <TextCell
        bold="true"
        colspan="4"
        id="additionalInfo"
        value="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.AdditionalInfo&quot;)"/>
    </Row>
    <Row>
      <TextCell
        id="medicalLicenseLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.Doctor.MedicalLicense&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="medicalLicense"
        value="contacts"
        valueType="entity.ABPerson[]">
        <TextCell
          editable="aContact == merged"
          id="medicalLicense"
          value="(aContact as ABDoctor).MedicalLicense"/>
      </CellIterator>
    </Row>
    <Row>
      <TextCell
        id="medicalSpecialtyLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.Doctor.DoctorSpecialty&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="medicalSpecialty"
        value="contacts"
        valueType="entity.ABPerson[]">
        <TypeKeyCell
          editable="aContact == merged"
          id="medicalSpecialty"
          value="(aContact as ABDoctor).DoctorSpecialty"
          valueType="typekey.SpecialtyType"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>