<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ABPersonMergeDetailsRowSet"
    mode="default">
    <Require
      name="persons"
      type="ABPerson[]"/>
    <Require
      name="mergedPerson"
      type="ABPerson"/>
    <Require
      name="nameOwner"
      type="gw.api.name.NameOwner"/>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.LASTNAME)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAME)"
        id="lastNameLabel"
        value="nameOwner.LastNameLabel"/>
      <CellIterator
        elementName="aContact"
        id="lastName"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.LASTNAME)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.LASTNAME)"
          id="lastName"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.LASTNAME)"
          value="aContact.LastName"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.FIRSTNAME)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
        id="firstNameLabel"
        value="nameOwner.FirstNameLabel"/>
      <CellIterator
        elementName="aContact"
        id="firstName"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
          id="firstName"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.FIRSTNAME)"
          value="aContact.FirstName"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.MIDDLENAME)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
        id="middleNameLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.Name.MiddleName&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="middleName"
        value="persons"
        valueType="entity.ABPerson[]">
        <TextCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
          id="middleName"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.MIDDLENAME)"
          value="aContact.MiddleName"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.PREFIX)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.PREFIX)"
        id="prefixLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.Name.Prefix&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="prefix"
        value="persons"
        valueType="entity.ABPerson[]">
        <TypeKeyCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.PREFIX)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.PREFIX)"
          id="prefix"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.PREFIX)"
          value="aContact.Prefix"
          valueType="typekey.NamePrefix"/>
      </CellIterator>
    </Row>
    <Row
      visible="nameOwner.isVisible(gw.api.name.NameOwnerFieldId.SUFFIX)">
      <TextCell
        available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.SUFFIX)"
        id="suffixLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.Name.Suffix&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="suffix"
        value="persons"
        valueType="entity.ABPerson[]">
        <TypeKeyCell
          available="nameOwner.isAvailable(gw.api.name.NameOwnerFieldId.SUFFIX)"
          editable="aContact == mergedPerson &amp;&amp; nameOwner.isEditable(gw.api.name.NameOwnerFieldId.SUFFIX)"
          id="suffix"
          required="nameOwner.isRequired(gw.api.name.NameOwnerFieldId.SUFFIX)"
          value="aContact.Suffix"
          valueType="typekey.NameSuffix"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>