<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ABPersonVendorRowSet"
    mode="ABPersonVendor|ABAttorney|ABDoctor">
    <Require
      name="contact"
      type="ABPerson"/>
    <Require
      name="duplicate"
      type="ABPerson"/>
    <Require
      name="merged"
      type="ABPerson"/>
    <Variable
      initialValue="{contact, duplicate, merged}"
      name="contacts"
      type="ABPerson[]"/>
    <Row>
      <TextCell
        bold="true"
        colspan="4"
        id="contactInfo"
        value="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.ContactInfo&quot;)"/>
    </Row>
    <Row>
      <TextCell
        id="preferredVendorLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.AdditionalInfo.IsPreferredVendor&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="preferredVendor"
        value="contacts"
        valueType="entity.ABPerson[]">
        <BooleanRadioCell
          editable="aContact == merged and perm.ABContact.createpreferred"
          id="preferredVendor"
          value="(aContact as ABPersonVendor).Preferred"/>
      </CellIterator>
    </Row>
    <Row>
      <TextCell
        bold="true"
        colspan="4"
        id="taxInfo"
        value="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.TaxInfo&quot;)"/>
    </Row>
    <Row>
      <TextCell
        id="w9ReceivedLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.TaxInfo.W9received&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="w9Received"
        value="contacts"
        valueType="entity.ABPerson[]">
        <BooleanRadioCell
          editable="aContact == merged"
          id="w9Received"
          value="aContact.W9Received"/>
      </CellIterator>
    </Row>
    <Row>
      <TextCell
        id="w9ReceivedDateLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.TaxInfo.W9receivedDate&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="w9ReceivedDate"
        value="contacts"
        valueType="entity.ABPerson[]">
        <DateCell
          editable="aContact == merged"
          id="w9ReceivedDate"
          value="aContact.W9ReceivedDate"/>
      </CellIterator>
    </Row>
    <Row>
      <TextCell
        id="w9ValidFromLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.TaxInfo.W9ValidFrom&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="w9ValidFromDate"
        value="contacts"
        valueType="entity.ABPerson[]">
        <DateCell
          editable="aContact == merged"
          id="w9ValidFrom"
          value="aContact.W9ValidFrom"/>
      </CellIterator>
    </Row>
    <Row>
      <TextCell
        id="w9ValidToLabel"
        value="DisplayKey.get(&quot;Web.ContactDetail.TaxInfo.W9ValidTo&quot;)"/>
      <CellIterator
        elementName="aContact"
        id="w9ValidToDate"
        value="contacts"
        valueType="entity.ABPerson[]">
        <DateCell
          editable="aContact == merged"
          id="w9ValidTo"
          value="aContact.W9ValidTo"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>