<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="AddressDataRowSet">
    <Require
      name="addressData"
      type="gw.web.merge.MergeContactsAddressHolder.AddressData[]"/>
    <Require
      name="duplicateAddressEntries"
      type="gw.web.merge.MergeContactsAddressHolder.DuplicateAddressEntry[]"/>
    <RowIterator
      editable="true"
      elementName="addressDataElement"
      id="ContactRowIterator"
      pageSize="0"
      value="addressData"
      valueType="gw.web.merge.MergeContactsAddressHolder.AddressData[]">
      <Row>
        <RadioButtonCell
          action="addressDataElement.makePrimary()"
          editable="true"
          id="contactPrimary"
          label="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.Addresses.Primary&quot;)"
          radioButtonGroup="primary"
          value="addressDataElement.Primary">
          <PostOnChange
            target="DATA_ONLY"/>
        </RadioButtonCell>
        <CheckBoxCell
          available="not addressDataElement.Primary"
          editable="true"
          id="contactInclude"
          label="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.Addresses.Include&quot;)"
          value="addressDataElement.Included">
          <PostOnChange
            target="DATA_ONLY"/>
        </CheckBoxCell>
        <TypeKeyCell
          editable="true"
          id="contactType"
          label="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.Addresses.Type&quot;)"
          value="addressDataElement.Address.AddressType"
          valueType="typekey.AddressType"/>
        <TextCell
          id="contactAddress"
          label="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.Addresses.Address&quot;)"
          value="addressDataElement.Address"
          valueType="entity.Address"/>
        <RangeCell
          editable="true"
          id="contactDuplicateAddress"
          label="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.Addresses.DuplicateAddress&quot;)"
          required="true"
          sortValueRange="false"
          value="addressDataElement.DuplicateAddress"
          valueRange="duplicateAddressEntries"
          valueType="gw.web.merge.MergeContactsAddressHolder.DuplicateAddressEntry"
          valueVisible="(not addressDataElement.Included) and (not addressDataElement.Primary)"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>