<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="ABContactSummaryCV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <Card
      id="Basics"
      title="DisplayKey.get(&quot;Web.ContactDetail.PageLinks.Basics&quot;)">
      <PanelRef
        def="ABContactSummaryDV(anABContact)">
        <Toolbar>
          <ToolbarButton
            action="trainingapp.base.AssignedUserUtil.selectLeastBusyUser(anABContact)"
            available="CurrentLocation.InEditMode"
            id="SuggestLeastBusyUserButton"
            label="DisplayKey.get(&quot;Training.SuggestLeastBusyUser&quot;)"/>
        </Toolbar>
      </PanelRef>
    </Card>
    <Card
      id="SocialMedia"
      title="DisplayKey.get(&quot;Training.SocialMedia&quot;)">
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Training.InstructorComplete&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Card>
    <Card
      id="AnalysisCard"
      title="DisplayKey.get(&quot;Training.Analysis&quot;)">
      <PanelRef
        def="ABContactAnalysisDV(anABContact)"/>
    </Card>
  </CardViewPanel>
</PCF>