<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="ABContactInteractionsPage"
    title="DisplayKey.get(&quot;Training.InteractionsPage&quot;)">
    <LocationEntryPoint
      signature="ABContactInteractionsPage(anABContact:ABContact)"/>
    <Variable
      name="anABContact"
      type="ABContact"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Training.LabComplete&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>