<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Page
    canEdit="true"
    id="ABContactAnalysisPage"
    title="DisplayKey.get(&quot;Training.Analysis&quot;)">
    <LocationEntryPoint
      signature="ABContactAnalysisPage(anABContact:ABContact)"/>
    <Variable
      name="anABContact"
      type="ABContact"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="anABContact.upgradeToStrategicPartner()"
          available="if(anABContact.IsStrategicPartner_Ext == true &amp;&amp; CurrentLocation.InEditMode == true) {return false} else {return true}"
          id="upgradeToStrategicPartnetB"
          label="&quot;Upgrade to Strategic Partner&quot;"/>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="ABContactAnalysisDV(anABContact)"/>
    </Screen>
  </Page>
</PCF>