<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="ABContactSocialMediaPage"
    title="DisplayKey.get(&quot;Training.SocialMedia&quot;)">
    <LocationEntryPoint
      signature="ABContactSocialMediaPage(anABContact : ABContact)"/>
    <Variable
      name="anABContact"
      type="ABContact"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="LabComplete"
            label="DisplayKey.get(&quot;Training.InstructorComplete&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>